<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund/blob/master/AutoGluonForecast_1_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install autogluon

In [2]:
#!pip install --upgrade mxnet

In [3]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing

#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

In [4]:
#metatrader5 file format
df=pd.read_csv('/content/EURUSD_M5_201001040000_202202112350.csv')

In [5]:
print(df.head())
print(df.tail())
df.info()

  <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  2010.01.04\t00:00:00\t1.43259\t1.43259\t1.4321...
1  2010.01.04\t00:05:00\t1.43231\t1.43292\t1.4322...
2  2010.01.04\t00:10:00\t1.43291\t1.43336\t1.4328...
3  2010.01.04\t00:15:00\t1.43291\t1.43321\t1.4324...
4  2010.01.04\t00:20:00\t1.43287\t1.43307\t1.4327...
       <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
899582  2022.02.11\t23:30:00\t1.13489\t1.13495\t1.1345...
899583  2022.02.11\t23:35:00\t1.13451\t1.13492\t1.1344...
899584  2022.02.11\t23:40:00\t1.13487\t1.13487\t1.1344...
899585  2022.02.11\t23:45:00\t1.13464\t1.13465\t1.1344...
899586  2022.02.11\t23:50:00\t1.13450\t1.13498\t1.1344...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899587 entries, 0 to 899586
Data columns (total 1 columns):
 #   Column                                                              Non-Null Count   Dtype
---  ------                                                              --------------   -----
 0   <DATE>	<TIME>	<OPEN>	<HIGH>	<LOW>	<CLOSE>	<TICKVOL>	<VOL>	<SPREAD>  899587 non-null  object
dtypes: object(1)
memory usage: 6.9+ MB

In [6]:
df.columns=['header']

In [7]:
df = df.header.str.split('\t', expand=True)

In [8]:
df

                 0         1        2        3        4        5    6  7   8
0       2010.01.04  00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
1       2010.01.04  00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2       2010.01.04  00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
3       2010.01.04  00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
4       2010.01.04  00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...            ...       ...      ...      ...      ...      ...  ... ..  ..
899582  2022.02.11  23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
899583  2022.02.11  23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
899584  2022.02.11  23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
899585  2022.02.11  23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
899586  2022.02.11  23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 9 columns]

In [9]:
#choose range of data for backtesting
df['date_time'] = df[0] + ' ' + df[1]
pd.to_datetime(df.date_time)
df.set_index('date_time',inplace=True)
df.drop(columns=[0,1], inplace=True)
df

                           2        3        4        5    6  7   8
date_time
2010.01.04 00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
2010.01.04 00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2010.01.04 00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
2010.01.04 00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
2010.01.04 00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...                      ...      ...      ...      ...  ... ..  ..
2022.02.11 23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
2022.02.11 23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
2022.02.11 23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
2022.02.11 23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
2022.02.11 23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899587 entries, 2010.01.04 00:00:00 to 2022.02.11 23:50:00
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       899587 non-null  object
 1   3       899587 non-null  object
 2   4       899587 non-null  object
 3   5       899587 non-null  object
 4   6       899587 non-null  object
 5   7       899587 non-null  object
 6   8       899587 non-null  object
dtypes: object(7)
memory usage: 54.9+ MB

In [11]:
#Choose if you want tail or date_time range here for backtest
#df_close_col = pd.DataFrame(data=df.iloc[:,5].tail(350000))
df_close_col = pd.DataFrame(df.loc['2017.01.03 01:00:00':'2022.02.09 00:00:00',5])

In [12]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
Index: 379821 entries, 2017.01.03 01:00:00 to 2022.02.09 00:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       379821 non-null  object
dtypes: object(1)
memory usage: 5.8+ MB

In [13]:
df_close_col[5] = df_close_col[5].astype(float, errors = 'raise')

In [14]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
Index: 379821 entries, 2017.01.03 01:00:00 to 2022.02.09 00:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       379821 non-null  float64
dtypes: float64(1)
memory usage: 5.8+ MB

In [15]:
df_close_col.isnull().sum()

5    0
dtype: int64

In [16]:
#return index to int
df_close_col.reset_index(level=['date_time'])

                  date_time        5
0       2017.01.03 01:00:00  1.04636
1       2017.01.03 01:05:00  1.04596
2       2017.01.03 01:10:00  1.04560
3       2017.01.03 01:15:00  1.04570
4       2017.01.03 01:20:00  1.04583
...                     ...      ...
379816  2022.02.08 23:40:00  1.14170
379817  2022.02.08 23:45:00  1.14170
379818  2022.02.08 23:50:00  1.14167
379819  2022.02.08 23:55:00  1.14163
379820  2022.02.09 00:00:00  1.14130

[379821 rows x 2 columns]

In [17]:
###df201 to df240###
df240 = pd.DataFrame(data=df_close_col.iloc[-347040:-345600])
df240['row_num']=np.arange(len(df240))
df240.set_index('row_num',inplace=True)
df240 = df240.rename(columns={5:'day_240'})
print(df240)

df239 = pd.DataFrame(data=df_close_col.iloc[-345600:-344160])
df239['row_num']=np.arange(len(df239))
df239.set_index('row_num',inplace=True)
df239 = df239.rename(columns={5:'day_239'})
print(df239)

df238 = pd.DataFrame(data=df_close_col.iloc[-344160:-342720])
df238['row_num']=np.arange(len(df238))
df238.set_index('row_num',inplace=True)
df238 = df238.rename(columns={5:'day_238'})
print(df238)

df237 = pd.DataFrame(data=df_close_col.iloc[-342720:-341280])
df237['row_num']=np.arange(len(df237))
df237.set_index('row_num',inplace=True)
df237 = df237.rename(columns={5:'day_237'})
print(df237)

df236 = pd.DataFrame(data=df_close_col.iloc[-341280:-339840])
df236['row_num']=np.arange(len(df236))
df236.set_index('row_num',inplace=True)
df236 = df236.rename(columns={5:'day_236'})
print(df236)

df235 = pd.DataFrame(data=df_close_col.iloc[-339840:-338400])
df235['row_num']=np.arange(len(df235))
df235.set_index('row_num',inplace=True)
df235 = df235.rename(columns={5:'day_235'})
print(df235)

df234 = pd.DataFrame(data=df_close_col.iloc[-338400:-336960])
df234['row_num']=np.arange(len(df234))
df234.set_index('row_num',inplace=True)
df234 = df234.rename(columns={5:'day_234'})
print(df234)

df233 = pd.DataFrame(data=df_close_col.iloc[-336960:-335520])
df233['row_num']=np.arange(len(df233))
df233.set_index('row_num',inplace=True)
df233 = df233.rename(columns={5:'day_233'})
print(df233)

df232 = pd.DataFrame(data=df_close_col.iloc[-335520:-334080])
df232['row_num']=np.arange(len(df232))
df232.set_index('row_num',inplace=True)
df232 = df232.rename(columns={5:'day_232'})
print(df232)

df231 = pd.DataFrame(data=df_close_col.iloc[-334080:-332640])
df231['row_num']=np.arange(len(df231))
df231.set_index('row_num',inplace=True)
df231 = df231.rename(columns={5:'day_231'})
print(df231)

df230 = pd.DataFrame(data=df_close_col.iloc[-332640:-331200])
df230['row_num']=np.arange(len(df230))
df230.set_index('row_num',inplace=True)
df230 = df230.rename(columns={5:'day_230'})
print(df230)

df229 = pd.DataFrame(data=df_close_col.iloc[-331200:-329760])
df229['row_num']=np.arange(len(df229))
df229.set_index('row_num',inplace=True)
df229 = df229.rename(columns={5:'day_229'})
print(df229)

df228 = pd.DataFrame(data=df_close_col.iloc[-329760:-328320])
df228['row_num']=np.arange(len(df228))
df228.set_index('row_num',inplace=True)
df228 = df228.rename(columns={5:'day_228'})
print(df228)

df227 = pd.DataFrame(data=df_close_col.iloc[-328320:-326880])
df227['row_num']=np.arange(len(df227))
df227.set_index('row_num',inplace=True)
df227 = df227.rename(columns={5:'day_227'})
print(df227)

df226 = pd.DataFrame(data=df_close_col.iloc[-326880:-325440])
df226['row_num']=np.arange(len(df226))
df226.set_index('row_num',inplace=True)
df226 = df226.rename(columns={5:'day_226'})
print(df226)

df225 = pd.DataFrame(data=df_close_col.iloc[-325440:-324000])
df225['row_num']=np.arange(len(df225))
df225.set_index('row_num',inplace=True)
df225 = df225.rename(columns={5:'day_225'})
print(df225)

df224 = pd.DataFrame(data=df_close_col.iloc[-324000:-322560])
df224['row_num']=np.arange(len(df224))
df224.set_index('row_num',inplace=True)
df224 = df224.rename(columns={5:'day_224'})
print(df224)

df223 = pd.DataFrame(data=df_close_col.iloc[-322560:-321120])
df223['row_num']=np.arange(len(df223))
df223.set_index('row_num',inplace=True)
df223 = df223.rename(columns={5:'day_223'})
print(df223)

df222 = pd.DataFrame(data=df_close_col.iloc[-321120:-319680])
df222['row_num']=np.arange(len(df222))
df222.set_index('row_num',inplace=True)
df222 = df222.rename(columns={5:'day_222'})
print(df222)

df221 = pd.DataFrame(data=df_close_col.iloc[-319680:-318240])
df221['row_num']=np.arange(len(df221))
df221.set_index('row_num',inplace=True)
df221 = df221.rename(columns={5:'day_221'})
print(df221)


df220 = pd.DataFrame(data=df_close_col.iloc[-318240:-316800])
df220['row_num']=np.arange(len(df220))
df220.set_index('row_num',inplace=True)
df220 = df220.rename(columns={5:'day_220'})
print(df220)

df219 = pd.DataFrame(data=df_close_col.iloc[-316800:-315360])
df219['row_num']=np.arange(len(df219))
df219.set_index('row_num',inplace=True)
df219 = df219.rename(columns={5:'day_219'})
print(df219)

df218 = pd.DataFrame(data=df_close_col.iloc[-315360:-313920])
df218['row_num']=np.arange(len(df218))
df218.set_index('row_num',inplace=True)
df218 = df218.rename(columns={5:'day_218'})
print(df218)

df217 = pd.DataFrame(data=df_close_col.iloc[-313920:-312480])
df217['row_num']=np.arange(len(df217))
df217.set_index('row_num',inplace=True)
df217 = df217.rename(columns={5:'day_217'})
print(df217)

df216 = pd.DataFrame(data=df_close_col.iloc[-312480:-311040])
df216['row_num']=np.arange(len(df216))
df216.set_index('row_num',inplace=True)
df216 = df216.rename(columns={5:'day_216'})
print(df216)

df215 = pd.DataFrame(data=df_close_col.iloc[-311040:-309600])
df215['row_num']=np.arange(len(df215))
df215.set_index('row_num',inplace=True)
df215 = df215.rename(columns={5:'day_215'})
print(df215)

df214 = pd.DataFrame(data=df_close_col.iloc[-309600:-308160])
df214['row_num']=np.arange(len(df214))
df214.set_index('row_num',inplace=True)
df214 = df214.rename(columns={5:'day_214'})
print(df214)

df213 = pd.DataFrame(data=df_close_col.iloc[-308160:-306720])
df213['row_num']=np.arange(len(df213))
df213.set_index('row_num',inplace=True)
df213 = df213.rename(columns={5:'day_213'})
print(df213)

df212 = pd.DataFrame(data=df_close_col.iloc[-306720:-305280])
df212['row_num']=np.arange(len(df212))
df212.set_index('row_num',inplace=True)
df212 = df212.rename(columns={5:'day_212'})
print(df212)

df211 = pd.DataFrame(data=df_close_col.iloc[-305280:-303840])
df211['row_num']=np.arange(len(df211))
df211.set_index('row_num',inplace=True)
df211 = df211.rename(columns={5:'day_211'})
print(df211)

df210 = pd.DataFrame(data=df_close_col.iloc[-303840:-302400])
df210['row_num']=np.arange(len(df210))
df210.set_index('row_num',inplace=True)
df210 = df210.rename(columns={5:'day_210'})
print(df210)

df209 = pd.DataFrame(data=df_close_col.iloc[-302400:-300960])
df209['row_num']=np.arange(len(df209))
df209.set_index('row_num',inplace=True)
df209 = df209.rename(columns={5:'day_209'})
print(df209)

df208 = pd.DataFrame(data=df_close_col.iloc[-300960:-299520])
df208['row_num']=np.arange(len(df208))
df208.set_index('row_num',inplace=True)
df208 = df208.rename(columns={5:'day_208'})
print(df208)

df207 = pd.DataFrame(data=df_close_col.iloc[-299520:-298080])
df207['row_num']=np.arange(len(df207))
df207.set_index('row_num',inplace=True)
df207 = df207.rename(columns={5:'day_207'})
print(df207)

df206 = pd.DataFrame(data=df_close_col.iloc[-298080:-296640])
df206['row_num']=np.arange(len(df206))
df206.set_index('row_num',inplace=True)
df206 = df206.rename(columns={5:'day_206'})
print(df206)

df205 = pd.DataFrame(data=df_close_col.iloc[-296640:-295200])
df205['row_num']=np.arange(len(df205))
df205.set_index('row_num',inplace=True)
df205 = df205.rename(columns={5:'day_205'})
print(df205)

df204 = pd.DataFrame(data=df_close_col.iloc[-295200:-293760])
df204['row_num']=np.arange(len(df204))
df204.set_index('row_num',inplace=True)
df204 = df204.rename(columns={5:'day_204'})
print(df204)

df203 = pd.DataFrame(data=df_close_col.iloc[-293760:-292320])
df203['row_num']=np.arange(len(df203))
df203.set_index('row_num',inplace=True)
df203 = df203.rename(columns={5:'day_203'})
print(df203)

df202 = pd.DataFrame(data=df_close_col.iloc[-292320:-290880])
df202['row_num']=np.arange(len(df202))
df202.set_index('row_num',inplace=True)
df202 = df202.rename(columns={5:'day_202'})
print(df202)

df201 = pd.DataFrame(data=df_close_col.iloc[-290880:-289440])
df201['row_num']=np.arange(len(df201))
df201.set_index('row_num',inplace=True)
df201 = df201.rename(columns={5:'day_201'})
print(df201)
###df201 to df 240###

         day_240
row_num
0        1.11936
1        1.11949
2        1.11947
3        1.11948
4        1.11964
...          ...
1435     1.12002
1436     1.12000
1437     1.12002
1438     1.12004
1439     1.11999

[1440 rows x 1 columns]
         day_239
row_num
0        1.11991
1        1.11973
2        1.11991
3        1.11955
4        1.11948
...          ...
1435     1.11966
1436     1.11970
1437     1.11974
1438     1.11970
1439     1.11971

[1440 rows x 1 columns]
         day_238
row_num
0        1.11975
1        1.11966
2        1.11960
3        1.11943
4        1.11942
...          ...
1435     1.14211
1436     1.14215
1437     1.14228
1438     1.14227
1439     1.14223

[1440 rows x 1 columns]
         day_237
row_num
0        1.14211
1        1.14198
2        1.14193
3        1.14212
4        1.14191
...          ...
1435     1.13979
1436     1.13972
1437     1.13984
1438     1.13924
1439     1.13967

[1440 rows x 1 columns]
         day_236
row_num
0        1.13972
1        1.13981
2        1.13984
3        1.14001
4        1.14001
...          ...
1435     1.14685
1436     1.14690
1437     1.14687
1438     1.14681
1439     1.14696

[1440 rows x 1 columns]
         day_235
row_num
0        1.14729
1        1.14717
2        1.14716
3        1.14725
4        1.14711
...          ...
1435     1.16761
1436     1.16743
1437     1.16746
1438     1.16729
1439     1.16754

[1440 rows x 1 columns]
         day_234
row_num
0        1.16739
1        1.16749
2        1.16724
3        1.16685
4        1.16705
...          ...
1435     1.17410
1436     1.17410
1437     1.17415
1438     1.17410
1439     1.17424

[1440 rows x 1 columns]
         day_233
row_num
0        1.17388
1        1.17379
2        1.17394
3        1.17405
4        1.17379
...          ...
1435     1.18013
1436     1.17981
1437     1.17957
1438     1.17982
1439     1.17981

[1440 rows x 1 columns]
         day_232
row_num
0        1.17992
1        1.17990
2        1.17977
3        1.17980
4        1.17975
...          ...
1435     1.18174
1436     1.18159
1437     1.18134
1438     1.18136
1439     1.18105

[1440 rows x 1 columns]
         day_231
row_num
0        1.18103
1        1.18128
2        1.18191
3        1.18145
4        1.18136
...          ...
1435     1.17391
1436     1.17384
1437     1.17384
1438     1.17344
1439     1.17370

[1440 rows x 1 columns]
         day_230
row_num
0        1.17380
1        1.17368
2        1.17395
3        1.17414
4        1.17432
...          ...
1435     1.19305
1436     1.19301
1437     1.19290
1438     1.19304
1439     1.19325

[1440 rows x 1 columns]
         day_229
row_num
0        1.19323
1        1.19315
2        1.19344
3        1.19343
4        1.19299
...          ...
1435     1.19076
1436     1.19110
1437     1.19105
1438     1.19078
1439     1.19065

[1440 rows x 1 columns]
         day_228
row_num
0        1.19023
1        1.19035
2        1.19042
3        1.19075
4        1.19074
...          ...
1435     1.19959
1436     1.19929
1437     1.19922
1438     1.19950
1439     1.19896

[1440 rows x 1 columns]
         day_227
row_num
0        1.19823
1        1.19863
2        1.19847
3        1.19841
4        1.19842
...          ...
1435     1.19543
1436     1.19543
1437     1.19519
1438     1.19514
1439     1.19489

[1440 rows x 1 columns]
         day_226
row_num
0        1.19486
1        1.19496
2        1.19516
3        1.19542
4        1.19564
...          ...
1435     1.18756
1436     1.18813
1437     1.18811
1438     1.18797
1439     1.18779

[1440 rows x 1 columns]
         day_225
row_num
0        1.18801
1        1.18799
2        1.18787
3        1.18867
4        1.18833
...          ...
1435     1.17592
1436     1.17576
1437     1.17588
1438     1.17523
1439     1.17503

[1440 rows x 1 columns]
         day_224
row_num
0        1.17513
1        1.17382
2        1.17482
3        1.17449
4        1.17476
...          ...
1435     1.17327
1436     1.17324
1437     1.17331
1438     1.17325
1439     1.17324

[1440 rows x 1 columns]
         day_223
row_num
0        1.17310
1        1.17308
2        1.17328
3        1.17339
4        1.17279
...          ...
1435     1.18017
1436     1.18036
1437     1.18039
1438     1.18034
1439     1.18057

[1440 rows x 1 columns]
         day_222
row_num
0        1.18024
1        1.18024
2        1.17977
3        1.17989
4        1.17974
...          ...
1435     1.17352
1436     1.17382
1437     1.17439
1438     1.17462
1439     1.17457

[1440 rows x 1 columns]
         day_221
row_num
0        1.17478
1        1.17496
2        1.17531
3        1.17540
4        1.17554
...          ...
1435     1.16112
1436     1.16107
1437     1.16123
1438     1.16143
1439     1.16142

[1440 rows x 1 columns]
         day_220
row_num
0        1.16199
1        1.16156
2        1.16158
3        1.16106
4        1.16101
...          ...
1435     1.15864
1436     1.15873
1437     1.15869
1438     1.15876
1439     1.15886

[1440 rows x 1 columns]
         day_219
row_num
0        1.15849
1        1.15855
2        1.15858
3        1.15875
4        1.15869
...          ...
1435     1.16686
1436     1.16678
1437     1.16673
1438     1.16647
1439     1.16648

[1440 rows x 1 columns]
         day_218
row_num
0        1.16645
1        1.16619
2        1.16612
3        1.16586
4        1.16560
...          ...
1435     1.17468
1436     1.17452
1437     1.17445
1438     1.17485
1439     1.17482

[1440 rows x 1 columns]
         day_217
row_num
0        1.17480
1        1.17464
2        1.17518
3        1.17497
4        1.17532
...          ...
1435     1.19308
1436     1.19275
1437     1.19236
1438     1.19200
1439     1.19176

[1440 rows x 1 columns]
         day_216
row_num
0        1.19195
1        1.19218
2        1.19213
3        1.19229
4        1.19225
...          ...
1435     1.18367
1436     1.18411
1437     1.18427
1438     1.18437
1439     1.18470

[1440 rows x 1 columns]
         day_215
row_num
0        1.18496
1        1.18565
2        1.18551
3        1.18566
4        1.18550
...          ...
1435     1.17955
1436     1.17970
1437     1.17996
1438     1.18014
1439     1.18022

[1440 rows x 1 columns]
         day_214
row_num
0        1.17952
1        1.18019
2        1.18026
3        1.18038
4        1.18031
...          ...
1435     1.18257
1436     1.18318
1437     1.18293
1438     1.18263
1439     1.18211

[1440 rows x 1 columns]
         day_213
row_num
0        1.18119
1        1.18142
2        1.18119
3        1.18025
4        1.17995
...          ...
1435     1.18624
1436     1.18630
1437     1.18629
1438     1.18627
1439     1.18597

[1440 rows x 1 columns]
         day_212
row_num
0        1.18579
1        1.18562
2        1.18574
3        1.18569
4        1.18578
...          ...
1435     1.20126
1436     1.20135
1437     1.20125
1438     1.20145
1439     1.20156

[1440 rows x 1 columns]
         day_211
row_num
0        1.20142
1        1.20141
2        1.20133
3        1.20149
4        1.20132
...          ...
1435     1.19527
1436     1.19488
1437     1.19496
1438     1.19509
1439     1.19489

[1440 rows x 1 columns]
         day_210
row_num
0        1.19474
1        1.19475
2        1.19489
3        1.19504
4        1.19510
...          ...
1435     1.22064
1436     1.22048
1437     1.22032
1438     1.21952
1439     1.21787

[1440 rows x 1 columns]
         day_209
row_num
0        1.21843
1        1.21840
2        1.21843
3        1.21874
4        1.21901
...          ...
1435     1.24033
1436     1.24031
1437     1.24039
1438     1.24009
1439     1.24070

[1440 rows x 1 columns]
         day_208
row_num
0        1.24070
1        1.24070
2        1.24077
3        1.24066
4        1.24089
...          ...
1435     1.24115
1436     1.24125
1437     1.24133
1438     1.24129
1439     1.24127

[1440 rows x 1 columns]
         day_207
row_num
0        1.24132
1        1.24051
2        1.24062
3        1.24066
4        1.24071
...          ...
1435     1.22665
1436     1.22659
1437     1.22636
1438     1.22671
1439     1.22700

[1440 rows x 1 columns]
         day_206
row_num
0        1.22627
1        1.22627
2        1.22566
3        1.22569
4        1.22585
...          ...
1435     1.24516
1436     1.24487
1437     1.24509
1438     1.24506
1439     1.24492

[1440 rows x 1 columns]
         day_205
row_num
0        1.24494
1        1.24539
2        1.24545
3        1.24545
4        1.24573
...          ...
1435     1.22872
1436     1.22884
1437     1.22910
1438     1.22891
1439     1.22858

[1440 rows x 1 columns]
         day_204
row_num
0        1.22822
1        1.22839
2        1.22835
3        1.22825
4        1.22812
...          ...
1435     1.21980
1436     1.21961
1437     1.21967
1438     1.21941
1439     1.21937

[1440 rows x 1 columns]
         day_203
row_num
0        1.21929
1        1.21944
2        1.21956
3        1.21976
4        1.21963
...          ...
1435     1.24128
1436     1.24133
1437     1.24145
1438     1.24125
1439     1.24104

[1440 rows x 1 columns]
         day_202
row_num
0        1.24107
1        1.24104
2        1.24115
3        1.24110
4        1.24104
...          ...
1435     1.23655
1436     1.23655
1437     1.23683
1438     1.23662
1439     1.23660

[1440 rows x 1 columns]
         day_201
row_num
0        1.23680
1        1.23650
2        1.23662
3        1.23655
4        1.23656
...          ...
1435     1.23411
1436     1.23403
1437     1.23416
1438     1.23410
1439     1.23412

[1440 rows x 1 columns]

In [18]:
###df161 to df200###
df200 = pd.DataFrame(data=df_close_col.iloc[-289440:-288000])
df200['row_num']=np.arange(len(df200))
df200.set_index('row_num',inplace=True)
df200 = df200.rename(columns={5:'day_200'})
print(df200)

df199 = pd.DataFrame(data=df_close_col.iloc[-288000:-286560])
df199['row_num']=np.arange(len(df199))
df199.set_index('row_num',inplace=True)
df199 = df199.rename(columns={5:'day_199'})
print(df199)

df198 = pd.DataFrame(data=df_close_col.iloc[-286560:-285120])
df198['row_num']=np.arange(len(df198))
df198.set_index('row_num',inplace=True)
df198 = df198.rename(columns={5:'day_198'})
print(df198)

df197 = pd.DataFrame(data=df_close_col.iloc[-285120:-283680])
df197['row_num']=np.arange(len(df197))
df197.set_index('row_num',inplace=True)
df197 = df197.rename(columns={5:'day_197'})
print(df197)

df196 = pd.DataFrame(data=df_close_col.iloc[-283680:-282240])
df196['row_num']=np.arange(len(df196))
df196.set_index('row_num',inplace=True)
df196 = df196.rename(columns={5:'day_196'})
print(df196)

df195 = pd.DataFrame(data=df_close_col.iloc[-282240:-280800])
df195['row_num']=np.arange(len(df195))
df195.set_index('row_num',inplace=True)
df195 = df195.rename(columns={5:'day_195'})
print(df195)

df194 = pd.DataFrame(data=df_close_col.iloc[-280800:-279360])
df194['row_num']=np.arange(len(df194))
df194.set_index('row_num',inplace=True)
df194 = df194.rename(columns={5:'day_194'})
print(df194)

df193 = pd.DataFrame(data=df_close_col.iloc[-279360:-277920])
df193['row_num']=np.arange(len(df193))
df193.set_index('row_num',inplace=True)
df193 = df193.rename(columns={5:'day_193'})
print(df193)

df192 = pd.DataFrame(data=df_close_col.iloc[-277920:-276480])
df192['row_num']=np.arange(len(df192))
df192.set_index('row_num',inplace=True)
df192 = df192.rename(columns={5:'day_192'})
print(df192)

df191 = pd.DataFrame(data=df_close_col.iloc[-276480:-275040])
df191['row_num']=np.arange(len(df191))
df191.set_index('row_num',inplace=True)
df191 = df191.rename(columns={5:'day_191'})
print(df191)

df190 = pd.DataFrame(data=df_close_col.iloc[-275040:-273600])
df190['row_num']=np.arange(len(df190))
df190.set_index('row_num',inplace=True)
df190 = df190.rename(columns={5:'day_190'})
print(df190)

df189 = pd.DataFrame(data=df_close_col.iloc[-273600:-272160])
df189['row_num']=np.arange(len(df189))
df189.set_index('row_num',inplace=True)
df189 = df189.rename(columns={5:'day_189'})
print(df189)

df188 = pd.DataFrame(data=df_close_col.iloc[-272160:-270720])
df188['row_num']=np.arange(len(df188))
df188.set_index('row_num',inplace=True)
df188 = df188.rename(columns={5:'day_188'})
print(df188)

df187 = pd.DataFrame(data=df_close_col.iloc[-270720:-269280])
df187['row_num']=np.arange(len(df187))
df187.set_index('row_num',inplace=True)
df187 = df187.rename(columns={5:'day_187'})
print(df187)

df186 = pd.DataFrame(data=df_close_col.iloc[-269280:-267840])
df186['row_num']=np.arange(len(df186))
df186.set_index('row_num',inplace=True)
df186 = df186.rename(columns={5:'day_186'})
print(df186)

df185 = pd.DataFrame(data=df_close_col.iloc[-267840:-266400])
df185['row_num']=np.arange(len(df185))
df185.set_index('row_num',inplace=True)
df185 = df185.rename(columns={5:'day_185'})
print(df185)

df184 = pd.DataFrame(data=df_close_col.iloc[-266400:-264960])
df184['row_num']=np.arange(len(df184))
df184.set_index('row_num',inplace=True)
df184 = df184.rename(columns={5:'day_184'})
print(df184)

df183 = pd.DataFrame(data=df_close_col.iloc[-264960:-263520])
df183['row_num']=np.arange(len(df183))
df183.set_index('row_num',inplace=True)
df183 = df183.rename(columns={5:'day_183'})
print(df183)

df182 = pd.DataFrame(data=df_close_col.iloc[-263520:-262080])
df182['row_num']=np.arange(len(df182))
df182.set_index('row_num',inplace=True)
df182 = df182.rename(columns={5:'day_182'})
print(df182)

df181 = pd.DataFrame(data=df_close_col.iloc[-262080:-260640])
df181['row_num']=np.arange(len(df181))
df181.set_index('row_num',inplace=True)
df181 = df181.rename(columns={5:'day_181'})
print(df181)


df180 = pd.DataFrame(data=df_close_col.iloc[-260640:-259200])
df180['row_num']=np.arange(len(df180))
df180.set_index('row_num',inplace=True)
df180 = df180.rename(columns={5:'day_180'})
print(df180)

df179 = pd.DataFrame(data=df_close_col.iloc[-259200:-257760])
df179['row_num']=np.arange(len(df179))
df179.set_index('row_num',inplace=True)
df179 = df179.rename(columns={5:'day_179'})
print(df179)

df178 = pd.DataFrame(data=df_close_col.iloc[-257760:-256320])
df178['row_num']=np.arange(len(df178))
df178.set_index('row_num',inplace=True)
df178 = df178.rename(columns={5:'day_178'})
print(df178)

df177 = pd.DataFrame(data=df_close_col.iloc[-256320:-254880])
df177['row_num']=np.arange(len(df177))
df177.set_index('row_num',inplace=True)
df177 = df177.rename(columns={5:'day_177'})
print(df177)

df176 = pd.DataFrame(data=df_close_col.iloc[-254880:-253440])
df176['row_num']=np.arange(len(df176))
df176.set_index('row_num',inplace=True)
df176 = df176.rename(columns={5:'day_176'})
print(df176)

df175 = pd.DataFrame(data=df_close_col.iloc[-253440:-252000])
df175['row_num']=np.arange(len(df175))
df175.set_index('row_num',inplace=True)
df175 = df175.rename(columns={5:'day_175'})
print(df175)

df174 = pd.DataFrame(data=df_close_col.iloc[-252000:-250560])
df174['row_num']=np.arange(len(df174))
df174.set_index('row_num',inplace=True)
df174 = df174.rename(columns={5:'day_174'})
print(df174)

df173 = pd.DataFrame(data=df_close_col.iloc[-250560:-249120])
df173['row_num']=np.arange(len(df173))
df173.set_index('row_num',inplace=True)
df173 = df173.rename(columns={5:'day_173'})
print(df173)

df172 = pd.DataFrame(data=df_close_col.iloc[-249120:-247680])
df172['row_num']=np.arange(len(df172))
df172.set_index('row_num',inplace=True)
df172 = df172.rename(columns={5:'day_172'})
print(df172)

df171 = pd.DataFrame(data=df_close_col.iloc[-247680:-246240])
df171['row_num']=np.arange(len(df171))
df171.set_index('row_num',inplace=True)
df171 = df171.rename(columns={5:'day_171'})
print(df171)

df170 = pd.DataFrame(data=df_close_col.iloc[-246240:-244800])
df170['row_num']=np.arange(len(df170))
df170.set_index('row_num',inplace=True)
df170 = df170.rename(columns={5:'day_170'})
print(df170)

df169 = pd.DataFrame(data=df_close_col.iloc[-244800:-243360])
df169['row_num']=np.arange(len(df169))
df169.set_index('row_num',inplace=True)
df169 = df169.rename(columns={5:'day_169'})
print(df169)

df168 = pd.DataFrame(data=df_close_col.iloc[-243360:-241920])
df168['row_num']=np.arange(len(df168))
df168.set_index('row_num',inplace=True)
df168 = df168.rename(columns={5:'day_168'})
print(df168)

df167 = pd.DataFrame(data=df_close_col.iloc[-241920:-240480])
df167['row_num']=np.arange(len(df167))
df167.set_index('row_num',inplace=True)
df167 = df167.rename(columns={5:'day_167'})
print(df167)

df166 = pd.DataFrame(data=df_close_col.iloc[-240480:-239040])
df166['row_num']=np.arange(len(df166))
df166.set_index('row_num',inplace=True)
df166 = df166.rename(columns={5:'day_166'})
print(df166)

df165 = pd.DataFrame(data=df_close_col.iloc[-239040:-237600])
df165['row_num']=np.arange(len(df165))
df165.set_index('row_num',inplace=True)
df165 = df165.rename(columns={5:'day_165'})
print(df165)

df164 = pd.DataFrame(data=df_close_col.iloc[-237600:-236160])
df164['row_num']=np.arange(len(df164))
df164.set_index('row_num',inplace=True)
df164 = df164.rename(columns={5:'day_164'})
print(df164)

df163 = pd.DataFrame(data=df_close_col.iloc[-236160:-234720])
df163['row_num']=np.arange(len(df163))
df163.set_index('row_num',inplace=True)
df163 = df163.rename(columns={5:'day_163'})
print(df163)

df162 = pd.DataFrame(data=df_close_col.iloc[-234720:-233280])
df162['row_num']=np.arange(len(df162))
df162.set_index('row_num',inplace=True)
df162 = df162.rename(columns={5:'day_162'})
print(df162)

df161 = pd.DataFrame(data=df_close_col.iloc[-233280:-231840])
df161['row_num']=np.arange(len(df161))
df161.set_index('row_num',inplace=True)
df161 = df161.rename(columns={5:'day_161'})
print(df161)
###df161 to df200###

         day_200
row_num
0        1.23425
1        1.23420
2        1.23463
3        1.23474
4        1.23460
...          ...
1435     1.23114
1436     1.23108
1437     1.23129
1438     1.23107
1439     1.23127

[1440 rows x 1 columns]
         day_199
row_num
0        1.23096
1        1.23091
2        1.23101
3        1.23102
4        1.23081
...          ...
1435     1.22826
1436     1.22837
1437     1.22852
1438     1.22850
1439     1.22854

[1440 rows x 1 columns]
         day_198
row_num
0        1.22845
1        1.22847
2        1.22854
3        1.22853
4        1.22854
...          ...
1435     1.23696
1436     1.23696
1437     1.23695
1438     1.23699
1439     1.23685

[1440 rows x 1 columns]
         day_197
row_num
0        1.23695
1        1.23689
2        1.23692
3        1.23686
4        1.23705
...          ...
1435     1.23814
1436     1.23820
1437     1.23814
1438     1.23792
1439     1.23801

[1440 rows x 1 columns]
         day_196
row_num
0        1.23831
1        1.23814
2        1.23800
3        1.23801
4        1.23806
...          ...
1435     1.21651
1436     1.21670
1437     1.21676
1438     1.21686
1439     1.21685

[1440 rows x 1 columns]
         day_195
row_num
0        1.21691
1        1.21709
2        1.21693
3        1.21705
4        1.21709
...          ...
1435     1.19565
1436     1.19554
1437     1.19546
1438     1.19541
1439     1.19557

[1440 rows x 1 columns]
         day_194
row_num
0        1.19534
1        1.19532
2        1.19512
3        1.19518
4        1.19521
...          ...
1435     1.18525
1436     1.18532
1437     1.18535
1438     1.18530
1439     1.18515

[1440 rows x 1 columns]
         day_193
row_num
0        1.18555
1        1.18550
2        1.18530
3        1.18539
4        1.18553
...          ...
1435     1.18154
1436     1.18150
1437     1.18160
1438     1.18159
1439     1.18151

[1440 rows x 1 columns]
         day_192
row_num
0        1.18193
1        1.18171
2        1.18136
3        1.18146
4        1.18136
...          ...
1435     1.17034
1436     1.17042
1437     1.17052
1438     1.17048
1439     1.17065

[1440 rows x 1 columns]
         day_191
row_num
0        1.17066
1        1.17087
2        1.17115
3        1.17124
4        1.17121
...          ...
1435     1.16653
1436     1.16652
1437     1.16647
1438     1.16648
1439     1.16643

[1440 rows x 1 columns]
         day_190
row_num
0        1.16664
1        1.16653
2        1.16677
3        1.16666
4        1.16657
...          ...
1435     1.17811
1436     1.17805
1437     1.17816
1438     1.17816
1439     1.17806

[1440 rows x 1 columns]
         day_189
row_num
0        1.17811
1        1.17797
2        1.17797
3        1.17804
4        1.17817
...          ...
1435     1.17985
1436     1.17990
1437     1.17976
1438     1.17977
1439     1.17960

[1440 rows x 1 columns]
         day_188
row_num
0        1.17972
1        1.17998
2        1.17995
3        1.18027
4        1.18017
...          ...
1435     1.15767
1436     1.15766
1437     1.15756
1438     1.15765
1439     1.15791

[1440 rows x 1 columns]
         day_187
row_num
0        1.15760
1        1.15739
2        1.15744
3        1.15724
4        1.15735
...          ...
1435     1.15597
1436     1.15598
1437     1.15594
1438     1.15579
1439     1.15579

[1440 rows x 1 columns]
         day_186
row_num
0        1.15579
1        1.15576
2        1.15610
3        1.15618
4        1.15609
...          ...
1435     1.16591
1436     1.16597
1437     1.16587
1438     1.16581
1439     1.16601

[1440 rows x 1 columns]
         day_185
row_num
0        1.16608
1        1.16615
2        1.16609
3        1.16597
4        1.16623
...          ...
1435     1.16758
1436     1.16750
1437     1.16752
1438     1.16743
1439     1.16732

[1440 rows x 1 columns]
         day_184
row_num
0        1.16743
1        1.16756
2        1.16760
3        1.16762
4        1.16776
...          ...
1435     1.16435
1436     1.16434
1437     1.16431
1438     1.16430
1439     1.16440

[1440 rows x 1 columns]
         day_183
row_num
0        1.16447
1        1.16437
2        1.16419
3        1.16413
4        1.16440
...          ...
1435     1.17309
1436     1.17314
1437     1.17310
1438     1.17329
1439     1.17329

[1440 rows x 1 columns]
         day_182
row_num
0        1.17346
1        1.17349
2        1.17356
3        1.17345
4        1.17355
...          ...
1435     1.16626
1436     1.16633
1437     1.16629
1438     1.16628
1439     1.16634

[1440 rows x 1 columns]
         day_181
row_num
0        1.16644
1        1.16645
2        1.16649
3        1.16651
4        1.16639
...          ...
1435     1.16114
1436     1.16114
1437     1.16109
1438     1.16105
1439     1.16105

[1440 rows x 1 columns]
         day_180
row_num
0        1.16114
1        1.16114
2        1.16120
3        1.16117
4        1.16104
...          ...
1435     1.13452
1436     1.13442
1437     1.13436
1438     1.13415
1439     1.13416

[1440 rows x 1 columns]
         day_179
row_num
0        1.13432
1        1.13441
2        1.13432
3        1.13421
4        1.13417
...          ...
1435     1.15965
1436     1.15964
1437     1.15950
1438     1.15944
1439     1.15943

[1440 rows x 1 columns]
         day_178
row_num
0        1.15939
1        1.15930
2        1.15903
3        1.15889
4        1.15885
...          ...
1435     1.17058
1436     1.17064
1437     1.17064
1438     1.17074
1439     1.17084

[1440 rows x 1 columns]
         day_177
row_num
0        1.17086
1        1.17093
2        1.17098
3        1.17094
4        1.17081
...          ...
1435     1.16318
1436     1.16323
1437     1.16319
1438     1.16319
1439     1.16322

[1440 rows x 1 columns]
         day_176
row_num
0        1.16320
1        1.16337
2        1.16325
3        1.16323
4        1.16331
...          ...
1435     1.16273
1436     1.16281
1437     1.16283
1438     1.16285
1439     1.16280

[1440 rows x 1 columns]
         day_175
row_num
0        1.16291
1        1.16275
2        1.16267
3        1.16275
4        1.16270
...          ...
1435     1.16702
1436     1.16698
1437     1.16712
1438     1.16692
1439     1.16704

[1440 rows x 1 columns]
         day_174
row_num
0        1.16704
1        1.16717
2        1.16702
3        1.16722
4        1.16725
...          ...
1435     1.17487
1436     1.17494
1437     1.17494
1438     1.17493
1439     1.17498

[1440 rows x 1 columns]
         day_173
row_num
0        1.17508
1        1.17486
2        1.17477
3        1.17489
4        1.17505
...          ...
1435     1.14833
1436     1.14833
1437     1.14823
1438     1.14805
1439     1.14766

[1440 rows x 1 columns]
         day_172
row_num
0        1.14763
1        1.14796
2        1.14784
3        1.14767
4        1.14763
...          ...
1435     1.15351
1436     1.15344
1437     1.15332
1438     1.15325
1439     1.15309

[1440 rows x 1 columns]
         day_171
row_num
0        1.15312
1        1.15287
2        1.15303
3        1.15302
4        1.15319
...          ...
1435     1.14978
1436     1.14993
1437     1.15009
1438     1.15003
1439     1.14998

[1440 rows x 1 columns]
         day_170
row_num
0        1.14967
1        1.14963
2        1.14983
3        1.14987
4        1.14977
...          ...
1435     1.13985
1436     1.13975
1437     1.13978
1438     1.13973
1439     1.13960

[1440 rows x 1 columns]
         day_169
row_num
0        1.13967
1        1.13963
2        1.13968
3        1.13971
4        1.13963
...          ...
1435     1.13143
1436     1.13155
1437     1.13130
1438     1.13158
1439     1.13159

[1440 rows x 1 columns]
         day_168
row_num
0        1.13175
1        1.13178
2        1.13226
3        1.13217
4        1.13279
...          ...
1435     1.14325
1436     1.14329
1437     1.14327
1438     1.14329
1439     1.14331

[1440 rows x 1 columns]
         day_167
row_num
0        1.14305
1        1.14322
2        1.14322
3        1.14324
4        1.14318
...          ...
1435     1.13181
1436     1.13201
1437     1.13206
1438     1.13187
1439     1.13191

[1440 rows x 1 columns]
         day_166
row_num
0        1.13201
1        1.13201
2        1.13167
3        1.13152
4        1.13136
...          ...
1435     1.13869
1436     1.13865
1437     1.13865
1438     1.13870
1439     1.13857

[1440 rows x 1 columns]
         day_165
row_num
0        1.13890
1        1.13896
2        1.13879
3        1.13873
4        1.13866
...          ...
1435     1.13662
1436     1.13668
1437     1.13668
1438     1.13674
1439     1.13674

[1440 rows x 1 columns]
         day_164
row_num
0        1.13675
1        1.13696
2        1.13699
3        1.13694
4        1.13689
...          ...
1435     1.13491
1436     1.13481
1437     1.13476
1438     1.13496
1439     1.13507

[1440 rows x 1 columns]
         day_163
row_num
0        1.13483
1        1.13462
2        1.13461
3        1.13453
4        1.13471
...          ...
1435     1.13682
1436     1.13673
1437     1.13666
1438     1.13668
1439     1.13671

[1440 rows x 1 columns]
         day_162
row_num
0        1.13667
1        1.13661
2        1.13673
3        1.13673
4        1.13671
...          ...
1435     1.13821
1436     1.13813
1437     1.13783
1438     1.13777
1439     1.13782

[1440 rows x 1 columns]
         day_161
row_num
0        1.13787
1        1.13782
2        1.13789
3        1.13788
4        1.13793
...          ...
1435     1.14424
1436     1.14388
1437     1.14407
1438     1.14440
1439     1.14479

[1440 rows x 1 columns]

In [19]:
###df121 to df160###
df160 = pd.DataFrame(data=df_close_col.iloc[-231840:-230400])
df160['row_num']=np.arange(len(df160))
df160.set_index('row_num',inplace=True)
df160 = df160.rename(columns={5:'day_160'})
print(df160)

df159 = pd.DataFrame(data=df_close_col.iloc[-230400:-228960])
df159['row_num']=np.arange(len(df159))
df159.set_index('row_num',inplace=True)
df159 = df159.rename(columns={5:'day_159'})
print(df159)

df158 = pd.DataFrame(data=df_close_col.iloc[-228960:-227520])
df158['row_num']=np.arange(len(df158))
df158.set_index('row_num',inplace=True)
df158 = df158.rename(columns={5:'day_158'})
print(df158)

df157 = pd.DataFrame(data=df_close_col.iloc[-227520:-226080])
df157['row_num']=np.arange(len(df157))
df157.set_index('row_num',inplace=True)
df157 = df157.rename(columns={5:'day_157'})
print(df157)

df156 = pd.DataFrame(data=df_close_col.iloc[-226080:-224640])
df156['row_num']=np.arange(len(df156))
df156.set_index('row_num',inplace=True)
df156 = df156.rename(columns={5:'day_156'})
print(df156)

df155 = pd.DataFrame(data=df_close_col.iloc[-224640:-223200])
df155['row_num']=np.arange(len(df155))
df155.set_index('row_num',inplace=True)
df155 = df155.rename(columns={5:'day_155'})
print(df155)

df154 = pd.DataFrame(data=df_close_col.iloc[-223200:-221760])
df154['row_num']=np.arange(len(df154))
df154.set_index('row_num',inplace=True)
df154 = df154.rename(columns={5:'day_154'})
print(df154)

df153 = pd.DataFrame(data=df_close_col.iloc[-221760:-220320])
df153['row_num']=np.arange(len(df153))
df153.set_index('row_num',inplace=True)
df153 = df153.rename(columns={5:'day_153'})
print(df153)

df152 = pd.DataFrame(data=df_close_col.iloc[-220320:-218880])
df152['row_num']=np.arange(len(df152))
df152.set_index('row_num',inplace=True)
df152 = df152.rename(columns={5:'day_152'})
print(df152)

df151 = pd.DataFrame(data=df_close_col.iloc[-218880:-217440])
df151['row_num']=np.arange(len(df151))
df151.set_index('row_num',inplace=True)
df151 = df151.rename(columns={5:'day_151'})
print(df151)

df150 = pd.DataFrame(data=df_close_col.iloc[-217440:-216000])
df150['row_num']=np.arange(len(df150))
df150.set_index('row_num',inplace=True)
df150 = df150.rename(columns={5:'day_150'})
print(df150)

df149 = pd.DataFrame(data=df_close_col.iloc[-216000:-214560])
df149['row_num']=np.arange(len(df149))
df149.set_index('row_num',inplace=True)
df149 = df149.rename(columns={5:'day_149'})
print(df149)

df148 = pd.DataFrame(data=df_close_col.iloc[-214560:-213120])
df148['row_num']=np.arange(len(df148))
df148.set_index('row_num',inplace=True)
df148 = df148.rename(columns={5:'day_148'})
print(df148)

df147 = pd.DataFrame(data=df_close_col.iloc[-213120:-211680])
df147['row_num']=np.arange(len(df147))
df147.set_index('row_num',inplace=True)
df147 = df147.rename(columns={5:'day_147'})
print(df147)

df146 = pd.DataFrame(data=df_close_col.iloc[-211680:-210240])
df146['row_num']=np.arange(len(df146))
df146.set_index('row_num',inplace=True)
df146 = df146.rename(columns={5:'day_146'})
print(df146)

df145 = pd.DataFrame(data=df_close_col.iloc[-210240:-208800])
df145['row_num']=np.arange(len(df145))
df145.set_index('row_num',inplace=True)
df145 = df145.rename(columns={5:'day_145'})
print(df145)

df144 = pd.DataFrame(data=df_close_col.iloc[-208800:-207360])
df144['row_num']=np.arange(len(df144))
df144.set_index('row_num',inplace=True)
df144 = df144.rename(columns={5:'day_144'})
print(df144)

df143 = pd.DataFrame(data=df_close_col.iloc[-207360:-205920])
df143['row_num']=np.arange(len(df143))
df143.set_index('row_num',inplace=True)
df143 = df143.rename(columns={5:'day_143'})
print(df143)

df142 = pd.DataFrame(data=df_close_col.iloc[-205920:-204480])
df142['row_num']=np.arange(len(df142))
df142.set_index('row_num',inplace=True)
df142 = df142.rename(columns={5:'day_142'})
print(df142)

df141 = pd.DataFrame(data=df_close_col.iloc[-204480:-203040])
df141['row_num']=np.arange(len(df141))
df141.set_index('row_num',inplace=True)
df141 = df141.rename(columns={5:'day_141'})
print(df141)


df140 = pd.DataFrame(data=df_close_col.iloc[-203040:-201600])
df140['row_num']=np.arange(len(df140))
df140.set_index('row_num',inplace=True)
df140 = df140.rename(columns={5:'day_140'})
print(df140)

df139 = pd.DataFrame(data=df_close_col.iloc[-201600:-200160])
df139['row_num']=np.arange(len(df139))
df139.set_index('row_num',inplace=True)
df139 = df139.rename(columns={5:'day_139'})
print(df139)

df138 = pd.DataFrame(data=df_close_col.iloc[-200160:-198720])
df138['row_num']=np.arange(len(df138))
df138.set_index('row_num',inplace=True)
df138 = df138.rename(columns={5:'day_138'})
print(df138)

df137 = pd.DataFrame(data=df_close_col.iloc[-198720:-197280])
df137['row_num']=np.arange(len(df137))
df137.set_index('row_num',inplace=True)
df137 = df137.rename(columns={5:'day_137'})
print(df137)

df136 = pd.DataFrame(data=df_close_col.iloc[-197280:-195840])
df136['row_num']=np.arange(len(df136))
df136.set_index('row_num',inplace=True)
df136 = df136.rename(columns={5:'day_136'})
print(df136)

df135 = pd.DataFrame(data=df_close_col.iloc[-195840:-194400])
df135['row_num']=np.arange(len(df135))
df135.set_index('row_num',inplace=True)
df135 = df135.rename(columns={5:'day_135'})
print(df135)

df134 = pd.DataFrame(data=df_close_col.iloc[-194400:-192960])
df134['row_num']=np.arange(len(df134))
df134.set_index('row_num',inplace=True)
df134 = df134.rename(columns={5:'day_134'})
print(df134)

df133 = pd.DataFrame(data=df_close_col.iloc[-192960:-191520])
df133['row_num']=np.arange(len(df133))
df133.set_index('row_num',inplace=True)
df133 = df133.rename(columns={5:'day_133'})
print(df133)

df132 = pd.DataFrame(data=df_close_col.iloc[-191520:-190080])
df132['row_num']=np.arange(len(df132))
df132.set_index('row_num',inplace=True)
df132 = df132.rename(columns={5:'day_132'})
print(df132)

df131 = pd.DataFrame(data=df_close_col.iloc[-190080:-188640])
df131['row_num']=np.arange(len(df131))
df131.set_index('row_num',inplace=True)
df131 = df131.rename(columns={5:'day_131'})
print(df131)

df130 = pd.DataFrame(data=df_close_col.iloc[-188640:-187200])
df130['row_num']=np.arange(len(df130))
df130.set_index('row_num',inplace=True)
df130 = df130.rename(columns={5:'day_130'})
print(df130)

df129 = pd.DataFrame(data=df_close_col.iloc[-187200:-185760])
df129['row_num']=np.arange(len(df129))
df129.set_index('row_num',inplace=True)
df129 = df129.rename(columns={5:'day_129'})
print(df129)

df128 = pd.DataFrame(data=df_close_col.iloc[-185760:-184320])
df128['row_num']=np.arange(len(df128))
df128.set_index('row_num',inplace=True)
df128 = df128.rename(columns={5:'day_128'})
print(df128)

df127 = pd.DataFrame(data=df_close_col.iloc[-184320:-182880])
df127['row_num']=np.arange(len(df127))
df127.set_index('row_num',inplace=True)
df127 = df127.rename(columns={5:'day_127'})
print(df127)

df126 = pd.DataFrame(data=df_close_col.iloc[-182880:-181440])
df126['row_num']=np.arange(len(df126))
df126.set_index('row_num',inplace=True)
df126 = df126.rename(columns={5:'day_126'})
print(df126)

df125 = pd.DataFrame(data=df_close_col.iloc[-181440:-180000])
df125['row_num']=np.arange(len(df125))
df125.set_index('row_num',inplace=True)
df125 = df125.rename(columns={5:'day_125'})
print(df125)

df124 = pd.DataFrame(data=df_close_col.iloc[-180000:-178560])
df124['row_num']=np.arange(len(df124))
df124.set_index('row_num',inplace=True)
df124 = df124.rename(columns={5:'day_124'})
print(df124)

df123 = pd.DataFrame(data=df_close_col.iloc[-178560:-177120])
df123['row_num']=np.arange(len(df123))
df123.set_index('row_num',inplace=True)
df123 = df123.rename(columns={5:'day_123'})
print(df123)

###
#left out a day here, still need to fix it -177120:-175680
###

df122 = pd.DataFrame(data=df_close_col.iloc[-175680:-174240])
df122['row_num']=np.arange(len(df122))
df122.set_index('row_num',inplace=True)
df122 = df122.rename(columns={5:'day_122'})
print(df122)

df121 = pd.DataFrame(data=df_close_col.iloc[-174240:-172800])
df121['row_num']=np.arange(len(df121))
df121.set_index('row_num',inplace=True)
df121 = df121.rename(columns={5:'day_121'})
print(df121)
###df121 to df160###

         day_160
row_num
0        1.14523
1        1.14554
2        1.14602
3        1.14633
4        1.14648
...          ...
1435     1.14669
1436     1.14654
1437     1.14647
1438     1.14668
1439     1.14666

[1440 rows x 1 columns]
         day_159
row_num
0        1.14672
1        1.14672
2        1.14653
3        1.14674
4        1.14695
...          ...
1435     1.14787
1436     1.14747
1437     1.14765
1438     1.14787
1439     1.14783

[1440 rows x 1 columns]
         day_158
row_num
0        1.14762
1        1.14762
2        1.14764
3        1.14750
4        1.14749
...          ...
1435     1.13691
1436     1.13689
1437     1.13681
1438     1.13686
1439     1.13680

[1440 rows x 1 columns]
         day_157
row_num
0        1.13681
1        1.13675
2        1.13682
3        1.13687
4        1.13680
...          ...
1435     1.14367
1436     1.14350
1437     1.14333
1438     1.14321
1439     1.14327

[1440 rows x 1 columns]
         day_156
row_num
0        1.14344
1        1.14332
2        1.14337
3        1.14352
4        1.14358
...          ...
1435     1.14372
1436     1.14364
1437     1.14372
1438     1.14365
1439     1.14347

[1440 rows x 1 columns]
         day_155
row_num
0        1.14335
1        1.14334
2        1.14330
3        1.14345
4        1.14340
...          ...
1435     1.12756
1436     1.12772
1437     1.12754
1438     1.12768
1439     1.12770

[1440 rows x 1 columns]
         day_154
row_num
0        1.12759
1        1.12761
2        1.12751
3        1.12745
4        1.12728
...          ...
1435     1.13057
1436     1.13070
1437     1.13063
1438     1.13060
1439     1.13048

[1440 rows x 1 columns]
         day_153
row_num
0        1.13040
1        1.13050
2        1.13048
3        1.13053
4        1.13068
...          ...
1435     1.13416
1436     1.13386
1437     1.13380
1438     1.13397
1439     1.13396

[1440 rows x 1 columns]
         day_152
row_num
0        1.13407
1        1.13422
2        1.13462
3        1.13437
4        1.13468
...          ...
1435     1.13297
1436     1.13294
1437     1.13321
1438     1.13310
1439     1.13328

[1440 rows x 1 columns]
         day_151
row_num
0        1.13320
1        1.13330
2        1.13324
3        1.13330
4        1.13334
...          ...
1435     1.12317
1436     1.12306
1437     1.12350
1438     1.12365
1439     1.12353

[1440 rows x 1 columns]
         day_150
row_num
0        1.12356
1        1.12341
2        1.12369
3        1.12372
4        1.12349
...          ...
1435     1.13295
1436     1.13282
1437     1.13273
1438     1.13271
1439     1.13279

[1440 rows x 1 columns]
         day_149
row_num
0        1.13296
1        1.13312
2        1.13317
3        1.13327
4        1.13329
...          ...
1435     1.13132
1436     1.13127
1437     1.13121
1438     1.13128
1439     1.13110

[1440 rows x 1 columns]
         day_148
row_num
0        1.13111
1        1.13107
2        1.13113
3        1.13126
4        1.13107
...          ...
1435     1.12119
1436     1.12100
1437     1.12102
1438     1.12089
1439     1.12091

[1440 rows x 1 columns]
         day_147
row_num
0        1.12086
1        1.12088
2        1.12097
3        1.12114
4        1.12112
...          ...
1435     1.12598
1436     1.12609
1437     1.12609
1438     1.12613
1439     1.12614

[1440 rows x 1 columns]
         day_146
row_num
0        1.12616
1        1.12620
2        1.12625
3        1.12626
4        1.12627
...          ...
1435     1.13004
1436     1.13002
1437     1.12998
1438     1.13008
1439     1.13018

[1440 rows x 1 columns]
         day_145
row_num
0        1.13018
1        1.13028
2        1.13018
3        1.13028
4        1.13037
...          ...
1435     1.12585
1436     1.12590
1437     1.12590
1438     1.12599
1439     1.12594

[1440 rows x 1 columns]
         day_144
row_num
0        1.12594
1        1.12585
2        1.12585
3        1.12589
4        1.12588
...          ...
1435     1.11816
1436     1.11827
1437     1.11844
1438     1.11843
1439     1.11841

[1440 rows x 1 columns]
         day_143
row_num
0        1.11837
1        1.11841
2        1.11842
3        1.11842
4        1.11852
...          ...
1435     1.12045
1436     1.12040
1437     1.12039
1438     1.12034
1439     1.12035

[1440 rows x 1 columns]
         day_142
row_num
0        1.12040
1        1.12040
2        1.12035
3        1.12030
4        1.12041
...          ...
1435     1.12308
1436     1.12324
1437     1.12318
1438     1.12303
1439     1.12324

[1440 rows x 1 columns]
         day_141
row_num
0        1.12323
1        1.12344
2        1.12320
3        1.12332
4        1.12333
...          ...
1435     1.11668
1436     1.11664
1437     1.11677
1438     1.11662
1439     1.11671

[1440 rows x 1 columns]
         day_140
row_num
0        1.11661
1        1.11660
2        1.11669
3        1.11665
4        1.11661
...          ...
1435     1.11904
1436     1.11901
1437     1.11905
1438     1.11901
1439     1.11907

[1440 rows x 1 columns]
         day_139
row_num
0        1.11904
1        1.11914
2        1.11914
3        1.11911
4        1.11913
...          ...
1435     1.12596
1436     1.12587
1437     1.12572
1438     1.12567
1439     1.12567

[1440 rows x 1 columns]
         day_138
row_num
0        1.12543
1        1.12481
2        1.12473
3        1.12475
4        1.12468
...          ...
1435     1.13143
1436     1.13161
1437     1.13166
1438     1.13165
1439     1.13160

[1440 rows x 1 columns]
         day_137
row_num
0        1.13172
1        1.13170
2        1.13177
3        1.13175
4        1.13174
...          ...
1435     1.12156
1436     1.12156
1437     1.12161
1438     1.12168
1439     1.12172

[1440 rows x 1 columns]
         day_136
row_num
0        1.12169
1        1.12181
2        1.12186
3        1.12181
4        1.12156
...          ...
1435     1.13965
1436     1.13961
1437     1.13963
1438     1.13962
1439     1.13965

[1440 rows x 1 columns]
         day_135
row_num
0        1.13950
1        1.13943
2        1.13953
3        1.13944
4        1.13950
...          ...
1435     1.12868
1436     1.12869
1437     1.12863
1438     1.12880
1439     1.12885

[1440 rows x 1 columns]
         day_134
row_num
0        1.12865
1        1.12865
2        1.12866
3        1.12870
4        1.12867
...          ...
1435     1.12107
1436     1.12098
1437     1.12093
1438     1.12101
1439     1.12107

[1440 rows x 1 columns]
         day_133
row_num
0        1.12107
1        1.12103
2        1.12098
3        1.12091
4        1.12093
...          ...
1435     1.12564
1436     1.12567
1437     1.12567
1438     1.12567
1439     1.12572

[1440 rows x 1 columns]
         day_132
row_num
0        1.12569
1        1.12579
2        1.12582
3        1.12569
4        1.12571
...          ...
1435     1.12108
1436     1.12097
1437     1.12086
1438     1.12073
1439     1.12072

[1440 rows x 1 columns]
         day_131
row_num
0        1.12091
1        1.12097
2        1.12109
3        1.12072
4        1.12071
...          ...
1435     1.11474
1436     1.11483
1437     1.11478
1438     1.11482
1439     1.11503

[1440 rows x 1 columns]
         day_130
row_num
0        1.11486
1        1.11471
2        1.11473
3        1.11454
4        1.11445
...          ...
1435     1.11971
1436     1.11966
1437     1.11956
1438     1.11948
1439     1.11954

[1440 rows x 1 columns]
         day_129
row_num
0        1.11951
1        1.11953
2        1.11966
3        1.11966
4        1.12009
...          ...
1435     1.12123
1436     1.12125
1437     1.12127
1438     1.12126
1439     1.12127

[1440 rows x 1 columns]
         day_128
row_num
0        1.12127
1        1.12127
2        1.12126
3        1.12124
4        1.12122
...          ...
1435     1.10827
1436     1.10824
1437     1.10799
1438     1.10798
1439     1.10787

[1440 rows x 1 columns]
         day_127
row_num
0        1.10779
1        1.10762
2        1.10776
3        1.10787
4        1.10785
...          ...
1435     1.11000
1436     1.10982
1437     1.10989
1438     1.10979
1439     1.10973

[1440 rows x 1 columns]
         day_126
row_num
0        1.10983
1        1.10965
2        1.10966
3        1.10963
4        1.10985
...          ...
1435     1.09702
1436     1.09703
1437     1.09704
1438     1.09702
1439     1.09702

[1440 rows x 1 columns]
         day_125
row_num
0        1.09699
1        1.09695
2        1.09703
3        1.09698
4        1.09690
...          ...
1435     1.10509
1436     1.10494
1437     1.10503
1438     1.10522
1439     1.10503

[1440 rows x 1 columns]
         day_124
row_num
0        1.10502
1        1.10491
2        1.10490
3        1.10487
4        1.10479
...          ...
1435     1.10105
1436     1.10087
1437     1.10090
1438     1.10080
1439     1.10067

[1440 rows x 1 columns]
         day_123
row_num
0        1.10061
1        1.10071
2        1.10035
3        1.10024
4        1.09988
...          ...
1435     1.09940
1436     1.09960
1437     1.09961
1438     1.09976
1439     1.09967

[1440 rows x 1 columns]
         day_122
row_num
0        1.08998
1        1.08989
2        1.09001
3        1.08997
4        1.08996
...          ...
1435     1.09718
1436     1.09720
1437     1.09730
1438     1.09735
1439     1.09735

[1440 rows x 1 columns]
         day_121
row_num
0        1.09740
1        1.09719
2        1.09718
3        1.09727
4        1.09708
...          ...
1435     1.10247
1436     1.10243
1437     1.10241
1438     1.10253
1439     1.10247

[1440 rows x 1 columns]

In [20]:
###df80 to df120###
df120 = pd.DataFrame(data=df_close_col.iloc[-172800:-171360])
df120['row_num']=np.arange(len(df120))
df120.set_index('row_num',inplace=True)
df120 = df120.rename(columns={5:'day_120'})
print(df120)

df119 = pd.DataFrame(data=df_close_col.iloc[-171360:-169920])
df119['row_num']=np.arange(len(df119))
df119.set_index('row_num',inplace=True)
df119 = df119.rename(columns={5:'day_119'})
print(df119)

df118 = pd.DataFrame(data=df_close_col.iloc[-169920:-168480])
df118['row_num']=np.arange(len(df118))
df118.set_index('row_num',inplace=True)
df118 = df118.rename(columns={5:'day_118'})
print(df118)

df117 = pd.DataFrame(data=df_close_col.iloc[-168480:-167040])
df117['row_num']=np.arange(len(df117))
df117.set_index('row_num',inplace=True)
df117 = df117.rename(columns={5:'day_117'})
print(df117)

df116 = pd.DataFrame(data=df_close_col.iloc[-167040:-165600])
df116['row_num']=np.arange(len(df116))
df116.set_index('row_num',inplace=True)
df116 = df116.rename(columns={5:'day_116'})
print(df116)

df115 = pd.DataFrame(data=df_close_col.iloc[-165600:-164160])
df115['row_num']=np.arange(len(df115))
df115.set_index('row_num',inplace=True)
df115 = df115.rename(columns={5:'day_115'})
print(df115)

df114 = pd.DataFrame(data=df_close_col.iloc[-164160:-162720])
df114['row_num']=np.arange(len(df114))
df114.set_index('row_num',inplace=True)
df114 = df114.rename(columns={5:'day_114'})
print(df114)

df113 = pd.DataFrame(data=df_close_col.iloc[-162720:-161280])
df113['row_num']=np.arange(len(df113))
df113.set_index('row_num',inplace=True)
df113 = df113.rename(columns={5:'day_113'})
print(df113)

df112 = pd.DataFrame(data=df_close_col.iloc[-161280:-159840])
df112['row_num']=np.arange(len(df112))
df112.set_index('row_num',inplace=True)
df112 = df112.rename(columns={5:'day_112'})
print(df112)

df111 = pd.DataFrame(data=df_close_col.iloc[-159840:-158400])
df111['row_num']=np.arange(len(df111))
df111.set_index('row_num',inplace=True)
df111 = df111.rename(columns={5:'day_111'})
print(df111)

df110 = pd.DataFrame(data=df_close_col.iloc[-158400:-156960])
df110['row_num']=np.arange(len(df110))
df110.set_index('row_num',inplace=True)
df110 = df110.rename(columns={5:'day_110'})
print(df110)

df109 = pd.DataFrame(data=df_close_col.iloc[-156960:-155520])
df109['row_num']=np.arange(len(df109))
df109.set_index('row_num',inplace=True)
df109 = df109.rename(columns={5:'day_109'})
print(df109)

df108 = pd.DataFrame(data=df_close_col.iloc[-155520:-154080])
df108['row_num']=np.arange(len(df108))
df108.set_index('row_num',inplace=True)
df108 = df108.rename(columns={5:'day_108'})
print(df108)

df107 = pd.DataFrame(data=df_close_col.iloc[-154080:-152640])
df107['row_num']=np.arange(len(df107))
df107.set_index('row_num',inplace=True)
df107 = df107.rename(columns={5:'day_107'})
print(df107)

df106 = pd.DataFrame(data=df_close_col.iloc[-152640:-151200])
df106['row_num']=np.arange(len(df106))
df106.set_index('row_num',inplace=True)
df106 = df106.rename(columns={5:'day_106'})
print(df106)

df105 = pd.DataFrame(data=df_close_col.iloc[-151200:-149760])
df105['row_num']=np.arange(len(df105))
df105.set_index('row_num',inplace=True)
df105 = df105.rename(columns={5:'day_105'})
print(df105)

df104 = pd.DataFrame(data=df_close_col.iloc[-149760:-148320])
df104['row_num']=np.arange(len(df104))
df104.set_index('row_num',inplace=True)
df104 = df104.rename(columns={5:'day_104'})
print(df104)

df103 = pd.DataFrame(data=df_close_col.iloc[-148320:-146880])
df103['row_num']=np.arange(len(df103))
df103.set_index('row_num',inplace=True)
df103 = df103.rename(columns={5:'day_103'})
print(df103)

df102 = pd.DataFrame(data=df_close_col.iloc[-146880:-145440])
df102['row_num']=np.arange(len(df102))
df102.set_index('row_num',inplace=True)
df102 = df102.rename(columns={5:'day_102'})
print(df102)

df101 = pd.DataFrame(data=df_close_col.iloc[-145440:-144000])
df101['row_num']=np.arange(len(df101))
df101.set_index('row_num',inplace=True)
df101 = df101.rename(columns={5:'day_101'})
print(df101)


df100 = pd.DataFrame(data=df_close_col.iloc[-144000:-142560])
df100['row_num']=np.arange(len(df100))
df100.set_index('row_num',inplace=True)
df100 = df100.rename(columns={5:'day_100'})
print(df100)

df99 = pd.DataFrame(data=df_close_col.iloc[-142560:-141120])
df99['row_num']=np.arange(len(df99))
df99.set_index('row_num',inplace=True)
df99 = df99.rename(columns={5:'day_99'})
print(df99)

df98 = pd.DataFrame(data=df_close_col.iloc[-141120:-139680])
df98['row_num']=np.arange(len(df98))
df98.set_index('row_num',inplace=True)
df98 = df98.rename(columns={5:'day_98'})
print(df98)

df97 = pd.DataFrame(data=df_close_col.iloc[-139680:-138240])
df97['row_num']=np.arange(len(df97))
df97.set_index('row_num',inplace=True)
df97 = df97.rename(columns={5:'day_97'})
print(df97)

df96 = pd.DataFrame(data=df_close_col.iloc[-138240:-136800])
df96['row_num']=np.arange(len(df96))
df96.set_index('row_num',inplace=True)
df96 = df96.rename(columns={5:'day_96'})
print(df96)

df95 = pd.DataFrame(data=df_close_col.iloc[-136800:-135360])
df95['row_num']=np.arange(len(df95))
df95.set_index('row_num',inplace=True)
df95 = df95.rename(columns={5:'day_95'})
print(df95)

df94 = pd.DataFrame(data=df_close_col.iloc[-135360:-133920])
df94['row_num']=np.arange(len(df94))
df94.set_index('row_num',inplace=True)
df94 = df94.rename(columns={5:'day_94'})
print(df94)

df93 = pd.DataFrame(data=df_close_col.iloc[-133920:-132480])
df93['row_num']=np.arange(len(df93))
df93.set_index('row_num',inplace=True)
df93 = df93.rename(columns={5:'day_93'})
print(df93)

df92 = pd.DataFrame(data=df_close_col.iloc[-132480:-131040])
df92['row_num']=np.arange(len(df92))
df92.set_index('row_num',inplace=True)
df92 = df92.rename(columns={5:'day_92'})
print(df92)

df91 = pd.DataFrame(data=df_close_col.iloc[-131040:-129600])
df91['row_num']=np.arange(len(df91))
df91.set_index('row_num',inplace=True)
df91 = df91.rename(columns={5:'day_91'})
print(df91)

df90 = pd.DataFrame(data=df_close_col.iloc[-129600:-128160])
df90['row_num']=np.arange(len(df90))
df90.set_index('row_num',inplace=True)
df90 = df90.rename(columns={5:'day_90'})
print(df90)

df89 = pd.DataFrame(data=df_close_col.iloc[-128160:-126720])
df89['row_num']=np.arange(len(df89))
df89.set_index('row_num',inplace=True)
df89 = df89.rename(columns={5:'day_89'})
print(df89)

df88 = pd.DataFrame(data=df_close_col.iloc[-126720:-125280])
df88['row_num']=np.arange(len(df88))
df88.set_index('row_num',inplace=True)
df88 = df88.rename(columns={5:'day_88'})
print(df88)

df87 = pd.DataFrame(data=df_close_col.iloc[-125280:-123840])
df87['row_num']=np.arange(len(df87))
df87.set_index('row_num',inplace=True)
df87 = df87.rename(columns={5:'day_87'})
print(df87)

df86 = pd.DataFrame(data=df_close_col.iloc[-123840:-122400])
df86['row_num']=np.arange(len(df86))
df86.set_index('row_num',inplace=True)
df86 = df86.rename(columns={5:'day_86'})
print(df86)

df85 = pd.DataFrame(data=df_close_col.iloc[-122400:-120960])
df85['row_num']=np.arange(len(df85))
df85.set_index('row_num',inplace=True)
df85 = df85.rename(columns={5:'day_85'})
print(df85)

df84 = pd.DataFrame(data=df_close_col.iloc[-120960:-119520])
df84['row_num']=np.arange(len(df84))
df84.set_index('row_num',inplace=True)
df84 = df84.rename(columns={5:'day_84'})
print(df84)

df83 = pd.DataFrame(data=df_close_col.iloc[-119520:-118080])
df83['row_num']=np.arange(len(df83))
df83.set_index('row_num',inplace=True)
df83 = df83.rename(columns={5:'day_83'})
print(df83)

df82 = pd.DataFrame(data=df_close_col.iloc[-118080:-116640])
df82['row_num']=np.arange(len(df82))
df82.set_index('row_num',inplace=True)
df82 = df82.rename(columns={5:'day_82'})
print(df82)

df81 = pd.DataFrame(data=df_close_col.iloc[-116640:-115200])
df81['row_num']=np.arange(len(df81))
df81.set_index('row_num',inplace=True)
df81 = df81.rename(columns={5:'day_81'})
print(df81)
###df80 to df 120###

         day_120
row_num
0        1.10252
1        1.10248
2        1.10249
3        1.10236
4        1.10236
...          ...
1435     1.11492
1436     1.11482
1437     1.11482
1438     1.11489
1439     1.11483

[1440 rows x 1 columns]
         day_119
row_num
0        1.11495
1        1.11489
2        1.11476
3        1.11479
4        1.11486
...          ...
1435     1.10998
1436     1.10996
1437     1.10996
1438     1.10997
1439     1.11002

[1440 rows x 1 columns]
         day_118
row_num
0        1.10991
1        1.10988
2        1.10991
3        1.10990
4        1.10985
...          ...
1435     1.11277
1436     1.11275
1437     1.11285
1438     1.11294
1439     1.11303

[1440 rows x 1 columns]
         day_117
row_num
0        1.11272
1        1.11269
2        1.11270
3        1.11282
4        1.11282
...          ...
1435     1.10313
1436     1.10317
1437     1.10322
1438     1.10326
1439     1.10328

[1440 rows x 1 columns]
         day_116
row_num
0        1.10323
1        1.10317
2        1.10328
3        1.10323
4        1.10322
...          ...
1435     1.10720
1436     1.10712
1437     1.10717
1438     1.10721
1439     1.10722

[1440 rows x 1 columns]
         day_115
row_num
0        1.10718
1        1.10714
2        1.10721
3        1.10724
4        1.10723
...          ...
1435     1.10093
1436     1.10093
1437     1.10088
1438     1.10106
1439     1.10110

[1440 rows x 1 columns]
         day_114
row_num
0        1.10126
1        1.10140
2        1.10135
3        1.10109
4        1.10106
...          ...
1435     1.10784
1436     1.10776
1437     1.10784
1438     1.10771
1439     1.10787

[1440 rows x 1 columns]
         day_113
row_num
0        1.10784
1        1.10785
2        1.10784
3        1.10802
4        1.10790
...          ...
1435     1.10655
1436     1.10654
1437     1.10646
1438     1.10635
1439     1.10640

[1440 rows x 1 columns]
         day_112
row_num
0        1.10640
1        1.10635
2        1.10639
3        1.10633
4        1.10634
...          ...
1435     1.11416
1436     1.11415
1437     1.11434
1438     1.11440
1439     1.11453

[1440 rows x 1 columns]
         day_111
row_num
0        1.11449
1        1.11431
2        1.11446
3        1.11437
4        1.11461
...          ...
1435     1.10894
1436     1.10895
1437     1.10888
1438     1.10896
1439     1.10896

[1440 rows x 1 columns]
         day_110
row_num
0        1.10896
1        1.10882
2        1.10883
3        1.10894
4        1.10887
...          ...
1435     1.11962
1436     1.11942
1437     1.11875
1438     1.11861
1439     1.11862

[1440 rows x 1 columns]
         day_109
row_num
0        1.11810
1        1.11776
2        1.11767
3        1.11780
4        1.11725
...          ...
1435     1.11113
1436     1.11087
1437     1.11102
1438     1.11047
1439     1.11071

[1440 rows x 1 columns]
         day_108
row_num
0        1.11062
1        1.11055
2        1.11077
3        1.11082
4        1.11087
...          ...
1435     1.11525
1436     1.11565
1437     1.11573
1438     1.11542
1439     1.11562

[1440 rows x 1 columns]
         day_107
row_num
0        1.11517
1        1.11510
2        1.11509
3        1.11474
4        1.11434
...          ...
1435     1.10695
1436     1.10702
1437     1.10701
1438     1.10734
1439     1.10656

[1440 rows x 1 columns]
         day_106
row_num
0        1.10682
1        1.10681
2        1.10653
3        1.10692
4        1.10667
...          ...
1435     1.10237
1436     1.10227
1437     1.10233
1438     1.10183
1439     1.10167

[1440 rows x 1 columns]
         day_105
row_num
0        1.10174
1        1.10194
2        1.10228
3        1.10256
4        1.10261
...          ...
1435     1.09974
1436     1.09962
1437     1.09941
1438     1.09957
1439     1.09990

[1440 rows x 1 columns]
         day_104
row_num
0        1.09983
1        1.09970
2        1.09882
3        1.09888
4        1.09869
...          ...
1435     1.08566
1436     1.08597
1437     1.08559
1438     1.08558
1439     1.08542

[1440 rows x 1 columns]
         day_103
row_num
0        1.08553
1        1.08547
2        1.08456
3        1.08464
4        1.08432
...          ...
1435     1.08152
1436     1.08138
1437     1.08177
1438     1.08179
1439     1.08168

[1440 rows x 1 columns]
         day_102
row_num
0        1.08169
1        1.08171
2        1.08177
3        1.08154
4        1.08107
...          ...
1435     1.09820
1436     1.09796
1437     1.09733
1438     1.09766
1439     1.09882

[1440 rows x 1 columns]
         day_101
row_num
0        1.09907
1        1.09942
2        1.09906
3        1.09960
4        1.09967
...          ...
1435     1.11878
1436     1.11874
1437     1.11909
1438     1.11943
1439     1.11861

[1440 rows x 1 columns]
         day_100
row_num
0        1.11760
1        1.11792
2        1.11729
3        1.11775
4        1.11726
...          ...
1435     1.11586
1436     1.11469
1437     1.11448
1438     1.11466
1439     1.11230

[1440 rows x 1 columns]
          day_99
row_num
0        1.11096
1        1.11288
2        1.11250
3        1.11378
4        1.11248
...          ...
1435     1.07439
1436     1.06997
1437     1.07090
1438     1.06991
1439     1.07136

[1440 rows x 1 columns]
          day_98
row_num
0        1.07004
1        1.07088
2        1.06932
3        1.06858
4        1.06729
...          ...
1435     1.10434
1436     1.10369
1437     1.10270
1438     1.10255
1439     1.10277

[1440 rows x 1 columns]
          day_97
row_num
0        1.10226
1        1.10242
2        1.10349
3        1.10372
4        1.10370
...          ...
1435     1.08417
1436     1.08423
1437     1.08470
1438     1.08452
1439     1.08457

[1440 rows x 1 columns]
          day_96
row_num
0        1.08433
1        1.08396
2        1.08281
3        1.08342
4        1.08366
...          ...
1435     1.09317
1436     1.09384
1437     1.09392
1438     1.09368
1439     1.09417

[1440 rows x 1 columns]
          day_95
row_num
0        1.09444
1        1.09489
2        1.09466
3        1.09405
4        1.09407
...          ...
1435     1.08463
1436     1.08403
1437     1.08391
1438     1.08438
1439     1.08447

[1440 rows x 1 columns]
          day_94
row_num
0        1.08478
1        1.08451
2        1.08427
3        1.08409
4        1.08430
...          ...
1435     1.07786
1436     1.07816
1437     1.07883
1438     1.07884
1439     1.07831

[1440 rows x 1 columns]
          day_93
row_num
0        1.07690
1        1.07677
2        1.07652
3        1.07676
4        1.07709
...          ...
1435     1.09454
1436     1.09413
1437     1.09495
1438     1.09507
1439     1.09462

[1440 rows x 1 columns]
          day_92
row_num
0        1.09420
1        1.09469
2        1.09471
3        1.09480
4        1.09515
...          ...
1435     1.08205
1436     1.08310
1437     1.08288
1438     1.08285
1439     1.08268

[1440 rows x 1 columns]
          day_91
row_num
0        1.08306
1        1.08276
2        1.08264
3        1.08295
4        1.08279
...          ...
1435     1.07887
1436     1.07841
1437     1.07827
1438     1.07821
1439     1.07821

[1440 rows x 1 columns]
          day_90
row_num
0        1.07832
1        1.07821
2        1.07830
3        1.07835
4        1.07861
...          ...
1435     1.09631
1436     1.09591
1437     1.09576
1438     1.09579
1439     1.09582

[1440 rows x 1 columns]
          day_89
row_num
0        1.09570
1        1.09581
2        1.09564
3        1.09561
4        1.09567
...          ...
1435     1.10800
1436     1.10789
1437     1.10812
1438     1.10859
1439     1.10862

[1440 rows x 1 columns]
          day_88
row_num
0        1.10849
1        1.10831
2        1.10852
3        1.10834
4        1.10840
...          ...
1435     1.13411
1436     1.13441
1437     1.13478
1438     1.13512
1439     1.13576

[1440 rows x 1 columns]
          day_87
row_num
0        1.13542
1        1.13575
2        1.13565
3        1.13573
4        1.13532
...          ...
1435     1.13181
1436     1.13196
1437     1.13194
1438     1.13165
1439     1.13184

[1440 rows x 1 columns]
          day_86
row_num
0        1.13215
1        1.13211
2        1.13175
3        1.13124
4        1.13073
...          ...
1435     1.12026
1436     1.12011
1437     1.12021
1438     1.12026
1439     1.12053

[1440 rows x 1 columns]
          day_85
row_num
0        1.12036
1        1.12029
2        1.12038
3        1.12032
4        1.12028
...          ...
1435     1.12190
1436     1.12202
1437     1.12180
1438     1.12149
1439     1.12194

[1440 rows x 1 columns]
          day_84
row_num
0        1.12144
1        1.12165
2        1.12165
3        1.12156
4        1.12152
...          ...
1435     1.12325
1436     1.12320
1437     1.12334
1438     1.12336
1439     1.12333

[1440 rows x 1 columns]
          day_83
row_num
0        1.12318
1        1.12293
2        1.12303
3        1.12305
4        1.12340
...          ...
1435     1.12941
1436     1.12912
1437     1.12938
1438     1.12938
1439     1.12927

[1440 rows x 1 columns]
          day_82
row_num
0        1.12923
1        1.12943
2        1.12947
3        1.12970
4        1.12951
...          ...
1435     1.13798
1436     1.13806
1437     1.13819
1438     1.13803
1439     1.13814

[1440 rows x 1 columns]
          day_81
row_num
0        1.13765
1        1.13798
2        1.13789
3        1.13747
4        1.13716
...          ...
1435     1.16040
1436     1.16101
1437     1.16038
1438     1.16093
1439     1.16050

[1440 rows x 1 columns]

In [21]:
###df40 to df80###
df80 = pd.DataFrame(data=df_close_col.iloc[-115200:-113760])
df80['row_num']=np.arange(len(df80))
df80.set_index('row_num',inplace=True)
df80 = df80.rename(columns={5:'day_80'})
print(df80)

df79 = pd.DataFrame(data=df_close_col.iloc[-113760:-112320])
df79['row_num']=np.arange(len(df79))
df79.set_index('row_num',inplace=True)
df79 = df79.rename(columns={5:'day_79'})
print(df79)

df78 = pd.DataFrame(data=df_close_col.iloc[-112320:-110880])
df78['row_num']=np.arange(len(df78))
df78.set_index('row_num',inplace=True)
df78 = df78.rename(columns={5:'day_78'})
print(df78)

df77 = pd.DataFrame(data=df_close_col.iloc[-110880:-109440])
df77['row_num']=np.arange(len(df77))
df77.set_index('row_num',inplace=True)
df77 = df77.rename(columns={5:'day_77'})
print(df77)

df76 = pd.DataFrame(data=df_close_col.iloc[-109440:-108000])
df76['row_num']=np.arange(len(df76))
df76.set_index('row_num',inplace=True)
df76 = df76.rename(columns={5:'day_76'})
print(df76)

df75 = pd.DataFrame(data=df_close_col.iloc[-108000:-106560])
df75['row_num']=np.arange(len(df75))
df75.set_index('row_num',inplace=True)
df75 = df75.rename(columns={5:'day_75'})
print(df75)

df74 = pd.DataFrame(data=df_close_col.iloc[-106560:-105120])
df74['row_num']=np.arange(len(df74))
df74.set_index('row_num',inplace=True)
df74 = df74.rename(columns={5:'day_74'})
print(df74)

df73 = pd.DataFrame(data=df_close_col.iloc[-105120:-103680])
df73['row_num']=np.arange(len(df73))
df73.set_index('row_num',inplace=True)
df73 = df73.rename(columns={5:'day_73'})
print(df73)

df72 = pd.DataFrame(data=df_close_col.iloc[-103680:-102240])
df72['row_num']=np.arange(len(df72))
df72.set_index('row_num',inplace=True)
df72 = df72.rename(columns={5:'day_72'})
print(df72)

df71 = pd.DataFrame(data=df_close_col.iloc[-102240:-100800])
df71['row_num']=np.arange(len(df71))
df71.set_index('row_num',inplace=True)
df71 = df71.rename(columns={5:'day_71'})
print(df71)

df70 = pd.DataFrame(data=df_close_col.iloc[-100800:-99360])
df70['row_num']=np.arange(len(df70))
df70.set_index('row_num',inplace=True)
df70 = df70.rename(columns={5:'day_70'})
print(df70)

df69 = pd.DataFrame(data=df_close_col.iloc[-99360:-97920])
df69['row_num']=np.arange(len(df69))
df69.set_index('row_num',inplace=True)
df69 = df69.rename(columns={5:'day_69'})
print(df69)

df68 = pd.DataFrame(data=df_close_col.iloc[-97920:-96480])
df68['row_num']=np.arange(len(df68))
df68.set_index('row_num',inplace=True)
df68 = df68.rename(columns={5:'day_68'})
print(df68)

df67 = pd.DataFrame(data=df_close_col.iloc[-96480:-95040])
df67['row_num']=np.arange(len(df67))
df67.set_index('row_num',inplace=True)
df67 = df67.rename(columns={5:'day_67'})
print(df67)

df66 = pd.DataFrame(data=df_close_col.iloc[-95040:-93600])
df66['row_num']=np.arange(len(df66))
df66.set_index('row_num',inplace=True)
df66 = df66.rename(columns={5:'day_66'})
print(df66)

df65 = pd.DataFrame(data=df_close_col.iloc[-93600:-92160])
df65['row_num']=np.arange(len(df65))
df65.set_index('row_num',inplace=True)
df65 = df65.rename(columns={5:'day_65'})
print(df65)

df64 = pd.DataFrame(data=df_close_col.iloc[-92160:-90720])
df64['row_num']=np.arange(len(df64))
df64.set_index('row_num',inplace=True)
df64 = df64.rename(columns={5:'day_64'})
print(df64)

df63 = pd.DataFrame(data=df_close_col.iloc[-90720:-89280])
df63['row_num']=np.arange(len(df63))
df63.set_index('row_num',inplace=True)
df63 = df63.rename(columns={5:'day_63'})
print(df63)

df62 = pd.DataFrame(data=df_close_col.iloc[-89280:-87840])
df62['row_num']=np.arange(len(df62))
df62.set_index('row_num',inplace=True)
df62 = df62.rename(columns={5:'day_62'})
print(df62)

df61 = pd.DataFrame(data=df_close_col.iloc[-87840:-86400])
df61['row_num']=np.arange(len(df61))
df61.set_index('row_num',inplace=True)
df61 = df61.rename(columns={5:'day_61'})
print(df61)


df60 = pd.DataFrame(data=df_close_col.iloc[-86400:-84960])
df60['row_num']=np.arange(len(df60))
df60.set_index('row_num',inplace=True)
df60 = df60.rename(columns={5:'day_60'})
print(df60)

df59 = pd.DataFrame(data=df_close_col.iloc[-84960:-83520])
df59['row_num']=np.arange(len(df59))
df59.set_index('row_num',inplace=True)
df59 = df59.rename(columns={5:'day_59'})
print(df59)

df58 = pd.DataFrame(data=df_close_col.iloc[-83520:-82080])
df58['row_num']=np.arange(len(df58))
df58.set_index('row_num',inplace=True)
df58 = df58.rename(columns={5:'day_58'})
print(df58)

df57 = pd.DataFrame(data=df_close_col.iloc[-82080:-80640])
df57['row_num']=np.arange(len(df57))
df57.set_index('row_num',inplace=True)
df57 = df57.rename(columns={5:'day_57'})
print(df57)

df56 = pd.DataFrame(data=df_close_col.iloc[-80640:-79200])
df56['row_num']=np.arange(len(df56))
df56.set_index('row_num',inplace=True)
df56 = df56.rename(columns={5:'day_56'})
print(df56)

df55 = pd.DataFrame(data=df_close_col.iloc[-79200:-77760])
df55['row_num']=np.arange(len(df55))
df55.set_index('row_num',inplace=True)
df55 = df55.rename(columns={5:'day_55'})
print(df55)

df54 = pd.DataFrame(data=df_close_col.iloc[-77760:-76320])
df54['row_num']=np.arange(len(df54))
df54.set_index('row_num',inplace=True)
df54 = df54.rename(columns={5:'day_54'})
print(df54)

df53 = pd.DataFrame(data=df_close_col.iloc[-76320:-74880])
df53['row_num']=np.arange(len(df53))
df53.set_index('row_num',inplace=True)
df53 = df53.rename(columns={5:'day_53'})
print(df53)

df52 = pd.DataFrame(data=df_close_col.iloc[-74880:-73440])
df52['row_num']=np.arange(len(df52))
df52.set_index('row_num',inplace=True)
df52 = df52.rename(columns={5:'day_52'})
print(df52)

df51 = pd.DataFrame(data=df_close_col.iloc[-73440:-72000])
df51['row_num']=np.arange(len(df51))
df51.set_index('row_num',inplace=True)
df51 = df51.rename(columns={5:'day_51'})
print(df51)

df50 = pd.DataFrame(data=df_close_col.iloc[-72000:-70560])
df50['row_num']=np.arange(len(df50))
df50.set_index('row_num',inplace=True)
df50 = df50.rename(columns={5:'day_50'})
print(df50)

df49 = pd.DataFrame(data=df_close_col.iloc[-70560:-69120])
df49['row_num']=np.arange(len(df49))
df49.set_index('row_num',inplace=True)
df49 = df49.rename(columns={5:'day_49'})
print(df49)

df48 = pd.DataFrame(data=df_close_col.iloc[-69120:-67680])
df48['row_num']=np.arange(len(df48))
df48.set_index('row_num',inplace=True)
df48 = df48.rename(columns={5:'day_48'})
print(df48)

df47 = pd.DataFrame(data=df_close_col.iloc[-67680:-66240])
df47['row_num']=np.arange(len(df47))
df47.set_index('row_num',inplace=True)
df47 = df47.rename(columns={5:'day_47'})
print(df47)

df46 = pd.DataFrame(data=df_close_col.iloc[-66240:-64800])
df46['row_num']=np.arange(len(df46))
df46.set_index('row_num',inplace=True)
df46 = df46.rename(columns={5:'day_46'})
print(df46)

df45 = pd.DataFrame(data=df_close_col.iloc[-64800:-63360])
df45['row_num']=np.arange(len(df45))
df45.set_index('row_num',inplace=True)
df45 = df45.rename(columns={5:'day_45'})
print(df45)

df44 = pd.DataFrame(data=df_close_col.iloc[-63360:-61920])
df44['row_num']=np.arange(len(df44))
df44.set_index('row_num',inplace=True)
df44 = df44.rename(columns={5:'day_44'})
print(df44)

df43 = pd.DataFrame(data=df_close_col.iloc[-61920:-60480])
df43['row_num']=np.arange(len(df43))
df43.set_index('row_num',inplace=True)
df43 = df43.rename(columns={5:'day_43'})
print(df43)

df42 = pd.DataFrame(data=df_close_col.iloc[-60480:-59040])
df42['row_num']=np.arange(len(df42))
df42.set_index('row_num',inplace=True)
df42 = df42.rename(columns={5:'day_42'})
print(df42)

df41 = pd.DataFrame(data=df_close_col.iloc[-59040:-57600])
df41['row_num']=np.arange(len(df41))
df41.set_index('row_num',inplace=True)
df41 = df41.rename(columns={5:'day_41'})
print(df41)
###df40 to df80###

          day_80
row_num
0        1.16085
1        1.16086
2        1.16055
3        1.16025
4        1.15999
...          ...
1435     1.18301
1436     1.18325
1437     1.18340
1438     1.18335
1439     1.18333

[1440 rows x 1 columns]
          day_79
row_num
0        1.18383
1        1.18420
2        1.18423
3        1.18402
4        1.18400
...          ...
1435     1.18715
1436     1.18744
1437     1.18745
1438     1.18741
1439     1.18741

[1440 rows x 1 columns]
          day_78
row_num
0        1.18782
1        1.18723
2        1.18751
3        1.18755
4        1.18752
...          ...
1435     1.17967
1436     1.18013
1437     1.18019
1438     1.17980
1439     1.17986

[1440 rows x 1 columns]
          day_77
row_num
0        1.17990
1        1.17993
2        1.18003
3        1.18023
4        1.18034
...          ...
1435     1.18549
1436     1.18540
1437     1.18519
1438     1.18564
1439     1.18600

[1440 rows x 1 columns]
          day_76
row_num
0        1.18574
1        1.18537
2        1.18551
3        1.18540
4        1.18504
...          ...
1435     1.18223
1436     1.18267
1437     1.18245
1438     1.18239
1439     1.18232

[1440 rows x 1 columns]
          day_75
row_num
0        1.18237
1        1.18225
2        1.18241
3        1.18234
4        1.18220
...          ...
1435     1.18613
1436     1.18565
1437     1.18529
1438     1.18513
1439     1.18492

[1440 rows x 1 columns]
          day_74
row_num
0        1.18484
1        1.18498
2        1.18544
3        1.18520
4        1.18531
...          ...
1435     1.18108
1436     1.18138
1437     1.18172
1438     1.18200
1439     1.18151

[1440 rows x 1 columns]
          day_73
row_num
0        1.18198
1        1.18203
2        1.18204
3        1.18173
4        1.18145
...          ...
1435     1.18467
1436     1.18469
1437     1.18483
1438     1.18480
1439     1.18489

[1440 rows x 1 columns]
          day_72
row_num
0        1.18471
1        1.18505
2        1.18460
3        1.18501
4        1.18479
...          ...
1435     1.16720
1436     1.16697
1437     1.16700
1438     1.16712
1439     1.16689

[1440 rows x 1 columns]
          day_71
row_num
0        1.16684
1        1.16709
2        1.16723
3        1.16715
4        1.16731
...          ...
1435     1.17437
1436     1.17445
1437     1.17494
1438     1.17480
1439     1.17498

[1440 rows x 1 columns]
          day_70
row_num
0        1.17475
1        1.17468
2        1.17456
3        1.17448
4        1.17454
...          ...
1435     1.17589
1436     1.17598
1437     1.17591
1438     1.17597
1439     1.17585

[1440 rows x 1 columns]
          day_69
row_num
0        1.17587
1        1.17589
2        1.17581
3        1.17574
4        1.17579
...          ...
1435     1.17031
1436     1.17035
1437     1.17045
1438     1.17070
1439     1.17079

[1440 rows x 1 columns]
          day_68
row_num
0        1.17088
1        1.17077
2        1.17089
3        1.17085
4        1.17075
...          ...
1435     1.18199
1436     1.18193
1437     1.18197
1438     1.18194
1439     1.18184

[1440 rows x 1 columns]
          day_67
row_num
0        1.18178
1        1.18184
2        1.18186
3        1.18177
4        1.18176
...          ...
1435     1.16719
1436     1.16730
1437     1.16730
1438     1.16724
1439     1.16729

[1440 rows x 1 columns]
          day_66
row_num
0        1.16735
1        1.16740
2        1.16731
3        1.16736
4        1.16704
...          ...
1435     1.18298
1436     1.18244
1437     1.18269
1438     1.18259
1439     1.18235

[1440 rows x 1 columns]
          day_65
row_num
0        1.18213
1        1.18226
2        1.18231
3        1.18226
4        1.18220
...          ...
1435     1.18049
1436     1.18051
1437     1.18049
1438     1.18049
1439     1.18056

[1440 rows x 1 columns]
          day_64
row_num
0        1.18065
1        1.18075
2        1.18061
3        1.18060
4        1.18056
...          ...
1435     1.18691
1436     1.18703
1437     1.18699
1438     1.18691
1439     1.18691

[1440 rows x 1 columns]
          day_63
row_num
0        1.18702
1        1.18706
2        1.18691
3        1.18693
4        1.18696
...          ...
1435     1.19077
1436     1.19100
1437     1.19093
1438     1.19094
1439     1.19109

[1440 rows x 1 columns]
          day_62
row_num
0        1.19103
1        1.19122
2        1.19119
3        1.19105
4        1.19104
...          ...
1435     1.21416
1436     1.21446
1437     1.21429
1438     1.21447
1439     1.21461

[1440 rows x 1 columns]
          day_61
row_num
0        1.21467
1        1.21491
2        1.21487
3        1.21475
4        1.21477
...          ...
1435     1.21399
1436     1.21400
1437     1.21416
1438     1.21418
1439     1.21426

[1440 rows x 1 columns]
          day_60
row_num
0        1.21433
1        1.21431
2        1.21428
3        1.21427
4        1.21429
...          ...
1435     1.22669
1436     1.22645
1437     1.22653
1438     1.22646
1439     1.22662

[1440 rows x 1 columns]
          day_59
row_num
0        1.22650
1        1.22637
2        1.22622
3        1.22637
4        1.22638
...          ...
1435     1.22070
1436     1.22098
1437     1.22123
1438     1.22097
1439     1.22115

[1440 rows x 1 columns]
          day_58
row_num
0        1.22099
1        1.22105
2        1.22104
3        1.22127
4        1.22124
...          ...
1435     1.22691
1436     1.22675
1437     1.22673
1438     1.22692
1439     1.22672

[1440 rows x 1 columns]
          day_57
row_num
0        1.22673
1        1.22676
2        1.22683
3        1.22688
4        1.22691
...          ...
1435     1.21454
1436     1.21445
1437     1.21439
1438     1.21422
1439     1.21407

[1440 rows x 1 columns]
          day_56
row_num
0        1.21407
1        1.21391
2        1.21413
3        1.21404
4        1.21428
...          ...
1435     1.20953
1436     1.20953
1437     1.20939
1438     1.20954
1439     1.20964

[1440 rows x 1 columns]
          day_55
row_num
0        1.20964
1        1.20955
2        1.20952
3        1.20953
4        1.20953
...          ...
1435     1.21381
1436     1.21371
1437     1.21318
1438     1.21292
1439     1.21291

[1440 rows x 1 columns]
          day_54
row_num
0        1.21295
1        1.21281
2        1.21302
3        1.21275
4        1.21296
...          ...
1435     1.20812
1436     1.20807
1437     1.20806
1438     1.20778
1439     1.20776

[1440 rows x 1 columns]
          day_53
row_num
0        1.20782
1        1.20755
2        1.20760
3        1.20770
4        1.20764
...          ...
1435     1.20792
1436     1.20789
1437     1.20791
1438     1.20788
1439     1.20777

[1440 rows x 1 columns]
          day_52
row_num
0        1.20757
1        1.20778
2        1.20777
3        1.20799
4        1.20796
...          ...
1435     1.21388
1436     1.21395
1437     1.21399
1438     1.21401
1439     1.21396

[1440 rows x 1 columns]
          day_51
row_num
0        1.21402
1        1.21395
2        1.21395
3        1.21382
4        1.21374
...          ...
1435     1.21694
1436     1.21686
1437     1.21695
1438     1.21720
1439     1.21718

[1440 rows x 1 columns]
          day_50
row_num
0        1.21719
1        1.21718
2        1.21716
3        1.21710
4        1.21718
...          ...
1435     1.20187
1436     1.20198
1437     1.20210
1438     1.20175
1439     1.20208

[1440 rows x 1 columns]
          day_49
row_num
0        1.20212
1        1.20200
2        1.20189
3        1.20195
4        1.20205
...          ...
1435     1.18574
1436     1.18574
1437     1.18572
1438     1.18565
1439     1.18572

[1440 rows x 1 columns]
          day_48
row_num
0        1.18579
1        1.18578
2        1.18575
3        1.18571
4        1.18560
...          ...
1435     1.19376
1436     1.19363
1437     1.19380
1438     1.19369
1439     1.19362

[1440 rows x 1 columns]
          day_47
row_num
0        1.19371
1        1.19358
2        1.19359
3        1.19375
4        1.19366
...          ...
1435     1.19241
1436     1.19257
1437     1.19221
1438     1.19223
1439     1.19251

[1440 rows x 1 columns]
          day_46
row_num
0        1.19265
1        1.19270
2        1.19263
3        1.19234
4        1.19247
...          ...
1435     1.17619
1436     1.17641
1437     1.17649
1438     1.17610
1439     1.17561

[1440 rows x 1 columns]
          day_45
row_num
0        1.17524
1        1.17519
2        1.17547
3        1.17490
4        1.17477
...          ...
1435     1.18154
1436     1.18129
1437     1.18127
1438     1.18127
1439     1.18117

[1440 rows x 1 columns]
          day_44
row_num
0        1.18079
1        1.18059
2        1.18071
3        1.18034
4        1.18044
...          ...
1435     1.18993
1436     1.18997
1437     1.18972
1438     1.18966
1439     1.18954

[1440 rows x 1 columns]
          day_43
row_num
0        1.18956
1        1.18928
2        1.18943
3        1.18842
4        1.18879
...          ...
1435     1.20502
1436     1.20521
1437     1.20514
1438     1.20588
1439     1.20601

[1440 rows x 1 columns]
          day_42
row_num
0        1.20672
1        1.20680
2        1.20726
3        1.20691
4        1.20653
...          ...
1435     1.20701
1436     1.20694
1437     1.20670
1438     1.20681
1439     1.20699

[1440 rows x 1 columns]
          day_41
row_num
0        1.20698
1        1.20713
2        1.20666
3        1.20685
4        1.20687
...          ...
1435     1.20337
1436     1.20343
1437     1.20340
1438     1.20338
1439     1.20331

[1440 rows x 1 columns]

In [22]:
###df1 to df40###
df40 = pd.DataFrame(data=df_close_col.iloc[-57600:-56160])
df40['row_num']=np.arange(len(df40))
df40.set_index('row_num',inplace=True)
df40 = df40.rename(columns={5:'day_40'})
print(df40)

df39 = pd.DataFrame(data=df_close_col.iloc[-56160:-54720])
df39['row_num']=np.arange(len(df39))
df39.set_index('row_num',inplace=True)
df39 = df39.rename(columns={5:'day_39'})
print(df39)

df38 = pd.DataFrame(data=df_close_col.iloc[-54720:-53280])
df38['row_num']=np.arange(len(df38))
df38.set_index('row_num',inplace=True)
df38 = df38.rename(columns={5:'day_38'})
print(df38)

df37 = pd.DataFrame(data=df_close_col.iloc[-53280:-51840])
df37['row_num']=np.arange(len(df37))
df37.set_index('row_num',inplace=True)
df37 = df37.rename(columns={5:'day_37'})
print(df37)

df36 = pd.DataFrame(data=df_close_col.iloc[-51840:-50400])
df36['row_num']=np.arange(len(df36))
df36.set_index('row_num',inplace=True)
df36 = df36.rename(columns={5:'day_36'})
print(df36)

df35 = pd.DataFrame(data=df_close_col.iloc[-50400:-48960])
df35['row_num']=np.arange(len(df35))
df35.set_index('row_num',inplace=True)
df35 = df35.rename(columns={5:'day_35'})
print(df35)

df34 = pd.DataFrame(data=df_close_col.iloc[-48960:-47520])
df34['row_num']=np.arange(len(df34))
df34.set_index('row_num',inplace=True)
df34 = df34.rename(columns={5:'day_34'})
print(df34)

df33 = pd.DataFrame(data=df_close_col.iloc[-47520:-46080])
df33['row_num']=np.arange(len(df33))
df33.set_index('row_num',inplace=True)
df33 = df33.rename(columns={5:'day_33'})
print(df33)

df32 = pd.DataFrame(data=df_close_col.iloc[-46080:-44640])
df32['row_num']=np.arange(len(df32))
df32.set_index('row_num',inplace=True)
df32 = df32.rename(columns={5:'day_32'})
print(df32)

df31 = pd.DataFrame(data=df_close_col.iloc[-44640:-43200])
df31['row_num']=np.arange(len(df31))
df31.set_index('row_num',inplace=True)
df31 = df31.rename(columns={5:'day_31'})
print(df31)

df30 = pd.DataFrame(data=df_close_col.iloc[-43200:-41760])
df30['row_num']=np.arange(len(df30))
df30.set_index('row_num',inplace=True)
df30 = df30.rename(columns={5:'day_30'})
print(df30)

df29 = pd.DataFrame(data=df_close_col.iloc[-41760:-40320])
df29['row_num']=np.arange(len(df29))
df29.set_index('row_num',inplace=True)
df29 = df29.rename(columns={5:'day_29'})
print(df29)

df28 = pd.DataFrame(data=df_close_col.iloc[-40320:-38880])
df28['row_num']=np.arange(len(df28))
df28.set_index('row_num',inplace=True)
df28 = df28.rename(columns={5:'day_28'})
print(df28)

df27 = pd.DataFrame(data=df_close_col.iloc[-38880:-37440])
df27['row_num']=np.arange(len(df27))
df27.set_index('row_num',inplace=True)
df27 = df27.rename(columns={5:'day_27'})
print(df27)

df26 = pd.DataFrame(data=df_close_col.iloc[-37440:-36000])
df26['row_num']=np.arange(len(df26))
df26.set_index('row_num',inplace=True)
df26 = df26.rename(columns={5:'day_26'})
print(df26)

df25 = pd.DataFrame(data=df_close_col.iloc[-36000:-34560])
df25['row_num']=np.arange(len(df25))
df25.set_index('row_num',inplace=True)
df25 = df25.rename(columns={5:'day_25'})
print(df25)

df24 = pd.DataFrame(data=df_close_col.iloc[-34560:-33120])
df24['row_num']=np.arange(len(df24))
df24.set_index('row_num',inplace=True)
df24 = df24.rename(columns={5:'day_24'})
print(df24)

df23 = pd.DataFrame(data=df_close_col.iloc[-33120:-31680])
df23['row_num']=np.arange(len(df23))
df23.set_index('row_num',inplace=True)
df23 = df23.rename(columns={5:'day_23'})
print(df23)

df22 = pd.DataFrame(data=df_close_col.iloc[-31680:-30240])
df22['row_num']=np.arange(len(df22))
df22.set_index('row_num',inplace=True)
df22 = df22.rename(columns={5:'day_22'})
print(df22)

df21 = pd.DataFrame(data=df_close_col.iloc[-30240:-28800])
df21['row_num']=np.arange(len(df21))
df21.set_index('row_num',inplace=True)
df21 = df21.rename(columns={5:'day_21'})
print(df21)


df20 = pd.DataFrame(data=df_close_col.iloc[-28800:-27360])
df20['row_num']=np.arange(len(df20))
df20.set_index('row_num',inplace=True)
df20 = df20.rename(columns={5:'day_20'})
print(df20)

df19 = pd.DataFrame(data=df_close_col.iloc[-27360:-25920])
df19['row_num']=np.arange(len(df19))
df19.set_index('row_num',inplace=True)
df19 = df19.rename(columns={5:'day_19'})
print(df19)

df18 = pd.DataFrame(data=df_close_col.iloc[-25920:-24480])
df18['row_num']=np.arange(len(df18))
df18.set_index('row_num',inplace=True)
df18 = df18.rename(columns={5:'day_18'})
print(df18)

df17 = pd.DataFrame(data=df_close_col.iloc[-24480:-23040])
df17['row_num']=np.arange(len(df17))
df17.set_index('row_num',inplace=True)
df17 = df17.rename(columns={5:'day_17'})
print(df17)

df16 = pd.DataFrame(data=df_close_col.iloc[-23040:-21600])
df16['row_num']=np.arange(len(df16))
df16.set_index('row_num',inplace=True)
df16 = df16.rename(columns={5:'day_16'})
print(df16)

df15 = pd.DataFrame(data=df_close_col.iloc[-21600:-20160])
df15['row_num']=np.arange(len(df15))
df15.set_index('row_num',inplace=True)
df15 = df15.rename(columns={5:'day_15'})
print(df15)

df14 = pd.DataFrame(data=df_close_col.iloc[-20160:-18720])
df14['row_num']=np.arange(len(df14))
df14.set_index('row_num',inplace=True)
df14 = df14.rename(columns={5:'day_14'})
print(df14)

df13 = pd.DataFrame(data=df_close_col.iloc[-18720:-17280])
df13['row_num']=np.arange(len(df13))
df13.set_index('row_num',inplace=True)
df13 = df13.rename(columns={5:'day_13'})
print(df13)

df12 = pd.DataFrame(data=df_close_col.iloc[-17280:-15840])
df12['row_num']=np.arange(len(df12))
df12.set_index('row_num',inplace=True)
df12 = df12.rename(columns={5:'day_12'})
print(df12)

df11 = pd.DataFrame(data=df_close_col.iloc[-15840:-14400])
df11['row_num']=np.arange(len(df11))
df11.set_index('row_num',inplace=True)
df11 = df11.rename(columns={5:'day_11'})
print(df11)

df10 = pd.DataFrame(data=df_close_col.iloc[-14400:-12960])
df10['row_num']=np.arange(len(df10))
df10.set_index('row_num',inplace=True)
df10 = df10.rename(columns={5:'day_10'})
print(df10)

df9 = pd.DataFrame(data=df_close_col.iloc[-12960:-11520])
df9['row_num']=np.arange(len(df9))
df9.set_index('row_num',inplace=True)
df9 = df9.rename(columns={5:'day_9'})
print(df9)

df8 = pd.DataFrame(data=df_close_col.iloc[-11520:-10080])
df8['row_num']=np.arange(len(df8))
df8.set_index('row_num',inplace=True)
df8 = df8.rename(columns={5:'day_8'})
print(df8)

df7 = pd.DataFrame(data=df_close_col.iloc[-10080:-8640])
df7['row_num']=np.arange(len(df7))
df7.set_index('row_num',inplace=True)
df7 = df7.rename(columns={5:'day_7'})
print(df7)

df6 = pd.DataFrame(data=df_close_col.iloc[-8640:-7200])
df6['row_num']=np.arange(len(df6))
df6.set_index('row_num',inplace=True)
df6 = df6.rename(columns={5:'day_6'})
print(df6)

df5 = pd.DataFrame(data=df_close_col.iloc[-7200:-5760])
df5['row_num']=np.arange(len(df5))
df5.set_index('row_num',inplace=True)
df5 = df5.rename(columns={5:'day_5'})
print(df5)

df4 = pd.DataFrame(data=df_close_col.iloc[-5760:-4320])
df4['row_num']=np.arange(len(df4))
df4.set_index('row_num',inplace=True)
df4 = df4.rename(columns={5:'day_4'})
print(df4)

df3 = pd.DataFrame(data=df_close_col.iloc[-4320:-2880])
df3['row_num']=np.arange(len(df3))
df3.set_index('row_num',inplace=True)
df3 = df3.rename(columns={5:'day_3'})
print(df3)

df2 = pd.DataFrame(data=df_close_col.iloc[-2880:-1440])
df2['row_num']=np.arange(len(df2))
df2.set_index('row_num',inplace=True)
df2 = df2.rename(columns={5:'day_2'})
print(df2)

df1 = pd.DataFrame(data=df_close_col.iloc[-1440:])
df1['row_num']=np.arange(len(df1))
df1.set_index('row_num',inplace=True)
df1 = df1.rename(columns={5:'day_1'})
print(df1)
###df1 to df40###

          day_40
row_num
0        1.20301
1        1.20249
2        1.20210
3        1.20238
4        1.20217
...          ...
1435     1.21369
1436     1.21351
1437     1.21361
1438     1.21303
1439     1.21336

[1440 rows x 1 columns]
          day_39
row_num
0        1.21322
1        1.21260
2        1.21265
3        1.21387
4        1.21372
...          ...
1435     1.21885
1436     1.21876
1437     1.21833
1438     1.21890
1439     1.21946

[1440 rows x 1 columns]
          day_38
row_num
0        1.21961
1        1.21947
2        1.21955
3        1.21984
4        1.21983
...          ...
1435     1.22466
1436     1.22459
1437     1.22571
1438     1.22571
1439     1.22572

[1440 rows x 1 columns]
          day_37
row_num
0        1.22552
1        1.22574
2        1.22606
3        1.22592
4        1.22559
...          ...
1435     1.22357
1436     1.22325
1437     1.22335
1438     1.22333
1439     1.22335

[1440 rows x 1 columns]
          day_36
row_num
0        1.22334
1        1.22327
2        1.22343
3        1.22406
4        1.22395
...          ...
1435     1.21768
1436     1.21815
1437     1.21814
1438     1.21786
1439     1.21690

[1440 rows x 1 columns]
          day_35
row_num
0        1.21665
1        1.21692
2        1.21693
3        1.21694
4        1.21729
...          ...
1435     1.21427
1436     1.21400
1437     1.21434
1438     1.21412
1439     1.21408

[1440 rows x 1 columns]
          day_34
row_num
0        1.21374
1        1.21331
2        1.21332
3        1.21332
4        1.21304
...          ...
1435     1.18848
1436     1.18870
1437     1.18899
1438     1.18929
1439     1.18968

[1440 rows x 1 columns]
          day_33
row_num
0        1.18990
1        1.19063
2        1.19057
3        1.19078
4        1.19091
...          ...
1435     1.18822
1436     1.18825
1437     1.18826
1438     1.18828
1439     1.18811

[1440 rows x 1 columns]
          day_32
row_num
0        1.18836
1        1.18858
2        1.18895
3        1.18903
4        1.18962
...          ...
1435     1.18361
1436     1.18362
1437     1.18345
1438     1.18261
1439     1.18251

[1440 rows x 1 columns]
          day_31
row_num
0        1.18289
1        1.18275
2        1.18307
3        1.18293
4        1.18279
...          ...
1435     1.17994
1436     1.18039
1437     1.17998
1438     1.17945
1439     1.17946

[1440 rows x 1 columns]
          day_30
row_num
0        1.17998
1        1.18040
2        1.18088
3        1.18100
4        1.18057
...          ...
1435     1.17711
1436     1.17724
1437     1.17643
1438     1.17608
1439     1.17604

[1440 rows x 1 columns]
          day_29
row_num
0        1.17590
1        1.17578
2        1.17606
3        1.17609
4        1.17744
...          ...
1435     1.18169
1436     1.18195
1437     1.18248
1438     1.18216
1439     1.18222

[1440 rows x 1 columns]
          day_28
row_num
0        1.18156
1        1.18139
2        1.18046
3        1.18076
4        1.18113
...          ...
1435     1.18784
1436     1.18759
1437     1.18775
1438     1.18754
1439     1.18756

[1440 rows x 1 columns]
          day_27
row_num
0        1.18686
1        1.18706
2        1.18618
3        1.18650
4        1.18692
...          ...
1435     1.17180
1436     1.17148
1437     1.17163
1438     1.17139
1439     1.17136

[1440 rows x 1 columns]
          day_26
row_num
0        1.17114
1        1.17154
2        1.17163
3        1.17127
4        1.17157
...          ...
1435     1.17356
1436     1.17367
1437     1.17369
1438     1.17371
1439     1.17381

[1440 rows x 1 columns]
          day_25
row_num
0        1.17379
1        1.17362
2        1.17330
3        1.17293
4        1.17267
...          ...
1435     1.17432
1436     1.17397
1437     1.17454
1438     1.17453
1439     1.17480

[1440 rows x 1 columns]
          day_24
row_num
0        1.17536
1        1.17498
2        1.17445
3        1.17493
4        1.17503
...          ...
1435     1.18263
1436     1.18238
1437     1.18214
1438     1.18208
1439     1.18245

[1440 rows x 1 columns]
          day_23
row_num
0        1.18236
1        1.18277
2        1.18284
3        1.18266
4        1.18254
...          ...
1435     1.18520
1436     1.18547
1437     1.18563
1438     1.18518
1439     1.18495

[1440 rows x 1 columns]
          day_22
row_num
0        1.18460
1        1.18456
2        1.18467
3        1.18406
4        1.18412
...          ...
1435     1.18274
1436     1.18223
1437     1.18230
1438     1.18232
1439     1.18225

[1440 rows x 1 columns]
          day_21
row_num
0        1.18216
1        1.18188
2        1.18166
3        1.18202
4        1.18196
...          ...
1435     1.17300
1436     1.17214
1437     1.17270
1438     1.17231
1439     1.17197

[1440 rows x 1 columns]
          day_20
row_num
0        1.17232
1        1.17174
2        1.17208
3        1.17246
4        1.17239
...          ...
1435     1.16787
1436     1.16805
1437     1.16851
1438     1.16972
1439     1.16928

[1440 rows x 1 columns]
          day_19
row_num
0        1.16897
1        1.16907
2        1.16859
3        1.16791
4        1.16789
...          ...
1435     1.15862
1436     1.15823
1437     1.15862
1438     1.15879
1439     1.15886

[1440 rows x 1 columns]
          day_18
row_num
0        1.15883
1        1.15903
2        1.15920
3        1.15943
4        1.15922
...          ...
1435     1.15357
1436     1.15365
1437     1.15368
1438     1.15384
1439     1.15374

[1440 rows x 1 columns]
          day_17
row_num
0        1.15417
1        1.15426
2        1.15455
3        1.15480
4        1.15457
...          ...
1435     1.16534
1436     1.16519
1437     1.16445
1438     1.16376
1439     1.16337

[1440 rows x 1 columns]
          day_16
row_num
0        1.16372
1        1.16426
2        1.16440
3        1.16424
4        1.16400
...          ...
1435     1.16039
1436     1.16037
1437     1.16025
1438     1.16030
1439     1.15985

[1440 rows x 1 columns]
          day_15
row_num
0        1.15933
1        1.15959
2        1.15948
3        1.15948
4        1.15937
...          ...
1435     1.15872
1436     1.15906
1437     1.15891
1438     1.15842
1439     1.15807

[1440 rows x 1 columns]
          day_14
row_num
0        1.15822
1        1.15792
2        1.15811
3        1.15807
4        1.15833
...          ...
1435     1.15835
1436     1.15841
1437     1.15852
1438     1.15874
1439     1.15888

[1440 rows x 1 columns]
          day_13
row_num
0        1.15898
1        1.15905
2        1.15900
3        1.15931
4        1.15908
...          ...
1435     1.13343
1436     1.13340
1437     1.13351
1438     1.13328
1439     1.13287

[1440 rows x 1 columns]
          day_12
row_num
0        1.13313
1        1.13296
2        1.13246
3        1.13209
4        1.13211
...          ...
1435     1.12637
1436     1.12626
1437     1.12651
1438     1.12629
1439     1.12666

[1440 rows x 1 columns]
          day_11
row_num
0        1.12642
1        1.12649
2        1.12619
3        1.12614
4        1.12611
...          ...
1435     1.12798
1436     1.12875
1437     1.12854
1438     1.12861
1439     1.12939

[1440 rows x 1 columns]
          day_10
row_num
0        1.12950
1        1.13074
2        1.13074
3        1.13070
4        1.13083
...          ...
1435     1.12511
1436     1.12510
1437     1.12467
1438     1.12488
1439     1.12469

[1440 rows x 1 columns]
           day_9
row_num
0        1.12468
1        1.12454
2        1.12445
3        1.12441
4        1.12437
...          ...
1435     1.12731
1436     1.12736
1437     1.12700
1438     1.12712
1439     1.12732

[1440 rows x 1 columns]
           day_8
row_num
0        1.12752
1        1.12751
2        1.12727
3        1.12713
4        1.12719
...          ...
1435     1.12727
1436     1.12700
1437     1.12699
1438     1.12681
1439     1.12671

[1440 rows x 1 columns]
           day_7
row_num
0        1.12661
1        1.12676
2        1.12681
3        1.12670
4        1.12654
...          ...
1435     1.13053
1436     1.13073
1437     1.13060
1438     1.13063
1439     1.13078

[1440 rows x 1 columns]
           day_6
row_num
0        1.13095
1        1.13098
2        1.13092
3        1.13118
4        1.13131
...          ...
1435     1.12830
1436     1.12833
1437     1.12835
1438     1.12832
1439     1.12822

[1440 rows x 1 columns]
           day_5
row_num
0        1.12811
1        1.12860
2        1.12853
3        1.12862
4        1.12834
...          ...
1435     1.13685
1436     1.13678
1437     1.13685
1438     1.13686
1439     1.13681

[1440 rows x 1 columns]
           day_4
row_num
0        1.13685
1        1.13690
2        1.13666
3        1.13671
4        1.13647
...          ...
1435     1.13236
1436     1.13241
1437     1.13238
1438     1.13251
1439     1.13258

[1440 rows x 1 columns]
           day_3
row_num
0        1.13273
1        1.13258
2        1.13223
3        1.13231
4        1.13218
...          ...
1435     1.13006
1436     1.12998
1437     1.13014
1438     1.13027
1439     1.13024

[1440 rows x 1 columns]
           day_2
row_num
0        1.13006
1        1.12976
2        1.12966
3        1.12988
4        1.12979
...          ...
1435     1.12709
1436     1.12720
1437     1.12724
1438     1.12727
1439     1.12718

[1440 rows x 1 columns]
           day_1
row_num
0        1.12699
1        1.12697
2        1.12695
3        1.12697
4        1.12698
...          ...
1435     1.14170
1436     1.14170
1437     1.14167
1438     1.14163
1439     1.14130

[1440 rows x 1 columns]

In [23]:
df_train = pd.concat([df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
##include date time at column 0,1##

df_train = pd.DataFrame(data=df_train)
df_train

         day_240  day_239  day_238  day_237  ...    day_4    day_3    day_2    day_1
row_num                                      ...
0        1.11936  1.11991  1.11975  1.14211  ...  1.13685  1.13273  1.13006  1.12699
1        1.11949  1.11973  1.11966  1.14198  ...  1.13690  1.13258  1.12976  1.12697
2        1.11947  1.11991  1.11960  1.14193  ...  1.13666  1.13223  1.12966  1.12695
3        1.11948  1.11955  1.11943  1.14212  ...  1.13671  1.13231  1.12988  1.12697
4        1.11964  1.11948  1.11942  1.14191  ...  1.13647  1.13218  1.12979  1.12698
...          ...      ...      ...      ...  ...      ...      ...      ...      ...
1435     1.12002  1.11966  1.14211  1.13979  ...  1.13236  1.13006  1.12709  1.14170
1436     1.12000  1.11970  1.14215  1.13972  ...  1.13241  1.12998  1.12720  1.14170
1437     1.12002  1.11974  1.14228  1.13984  ...  1.13238  1.13014  1.12724  1.14167
1438     1.12004  1.11970  1.14227  1.13924  ...  1.13251  1.13027  1.12727  1.14163
1439     1.11999  1.11971  1.14223  1.13967  ...  1.13258  1.13024  1.12718  1.14130

[1440 rows x 240 columns]

In [24]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [25]:
df_test = pd.concat([
                     df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,
                     df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,
                     df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,
                     df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,
                     df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,
                     df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
df_test['pred_col'] =0
df_test.rename(columns={
                        'day_239':'day_240','day_238':'day_239','day_237':'day_238','day_236':'day_237','day_235':'day_236','day_234':'day_235','day_233':'day_234','day_232':'day_233','day_231':'day_232','day_230':'day_231','day_229':'day_230','day_228':'day_229','day_227':'day_228','day_226':'day_227','day_225':'day_226','day_224':'day_225','day_223':'day_224','day_222':'day_223','day_221':'day_222','day_220':'day_221','day_219':'day_220','day_218':'day_219','day_217':'day_218','day_216':'day_217','day_215':'day_216','day_214':'day_215','day_213':'day_214','day_212':'day_213','day_211':'day_212','day_210':'day_211','day_209':'day_210','day_208':'day_209','day_207':'day_208','day_206':'day_207','day_205':'day_206','day_204':'day_205','day_203': 'day_204','day_202':'day_203','day_201':'day_202','day_200':'day_201',
                        'day_199':'day_200','day_198':'day_199','day_197':'day_198','day_196':'day_197','day_195':'day_196','day_194':'day_195','day_193':'day_194','day_192':'day_193','day_191':'day_192','day_190':'day_191','day_189':'day_190','day_188':'day_189','day_187':'day_188','day_186':'day_187','day_185':'day_186','day_184':'day_185','day_183':'day_184','day_182':'day_183','day_181':'day_182','day_180':'day_181','day_179':'day_180','day_178':'day_179','day_177':'day_178','day_176':'day_177','day_175':'day_176','day_174':'day_175','day_173':'day_174','day_172':'day_173','day_171':'day_172','day_170':'day_171','day_169':'day_170','day_168':'day_169','day_167':'day_168','day_166':'day_167','day_165':'day_166','day_164':'day_165','day_163': 'day_164', 'day_162': 'day_163','day_161':'day_162','day_160':'day_161',
                        'day_159':'day_160','day_158':'day_159','day_157':'day_158','day_156':'day_157','day_155':'day_156','day_154':'day_155','day_153':'day_154','day_152':'day_153','day_151':'day_152','day_150':'day_151','day_149':'day_150','day_148':'day_149','day_147':'day_148','day_146':'day_147','day_145':'day_146','day_144':'day_145','day_143':'day_144','day_142':'day_143','day_141':'day_142','day_140':'day_141','day_139':'day_140','day_138':'day_139','day_137':'day_138','day_136':'day_137','day_135':'day_136','day_134':'day_135','day_133':'day_134','day_132':'day_133','day_131':'day_132','day_130':'day_131','day_129':'day_130','day_128':'day_129','day_127':'day_128','day_126':'day_127','day_125':'day_126','day_124':'day_125','day_123': 'day_124', 'day_122': 'day_123','day_121':'day_122','day_120':'day_121',
                        'day_119':'day_120','day_118':'day_119','day_117':'day_118','day_116':'day_117','day_115':'day_116','day_114':'day_115','day_113':'day_114','day_112':'day_113','day_111':'day_112','day_110':'day_111','day_109':'day_110','day_108':'day_109','day_107':'day_108','day_106':'day_107','day_105':'day_106','day_104':'day_105','day_103':'day_104','day_102':'day_103','day_101':'day_102','day_100':'day_101','day_99':'day_100','day_98':'day_99','day_97':'day_98','day_96':'day_97','day_95':'day_96','day_94':'day_95','day_93':'day_94','day_92':'day_93','day_91':'day_92','day_90':'day_91','day_89':'day_90','day_88':'day_89','day_87':'day_88','day_86':'day_87','day_85':'day_86','day_84':'day_85','day_83': 'day_84','day_82':'day_83','day_81':'day_82','day_80':'day_81',
                        'day_79':'day_80','day_78':'day_79','day_77':'day_78','day_76':'day_77','day_75':'day_76','day_74':'day_75','day_73':'day_74','day_72':'day_73','day_71':'day_72','day_70':'day_71','day_69':'day_70','day_68':'day_69','day_67':'day_68','day_66':'day_67','day_65':'day_66','day_64':'day_65','day_63':'day_64','day_62':'day_63','day_61':'day_62','day_60':'day_61','day_59':'day_60','day_58':'day_59','day_57':'day_58','day_56':'day_57','day_55':'day_56','day_54':'day_55','day_53':'day_54','day_52':'day_53','day_51':'day_52','day_50':'day_51','day_49':'day_50','day_48':'day_49','day_47':'day_48','day_46':'day_47','day_45':'day_46','day_44':'day_45','day_43': 'day_44', 'day_42': 'day_43','day_41':'day_42','day_40':'day_41',
                        'day_39':'day_40','day_38':'day_39','day_37':'day_38','day_36':'day_37','day_35':'day_36','day_34':'day_35','day_33':'day_34','day_32':'day_33','day_31':'day_32','day_30':'day_31','day_29':'day_30','day_28':'day_29','day_27':'day_28','day_26':'day_27','day_25':'day_26','day_24':'day_25','day_23':'day_24','day_22':'day_23','day_21':'day_22','day_20':'day_21','day_19':'day_20','day_18':'day_19','day_17':'day_18','day_16':'day_17','day_15':'day_16','day_14':'day_15','day_13':'day_14','day_12':'day_13','day_11':'day_12','day_10':'day_11','day_9':'day_10','day_8':'day_9','day_7':'day_8','day_6':'day_7','day_5':'day_6','day_4':'day_5','day_3': 'day_4', 'day_2': 'day_3','day_1':'day_2','pred_col':'day_1'}, inplace=True)
df_test = pd.DataFrame(data=df_test)
df_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

         day_240  day_239  day_238  day_237  ...    day_4    day_3    day_2  day_1
row_num                                      ...
0        1.11991  1.11975  1.14211  1.13972  ...  1.13273  1.13006  1.12699      0
1        1.11973  1.11966  1.14198  1.13981  ...  1.13258  1.12976  1.12697      0
2        1.11991  1.11960  1.14193  1.13984  ...  1.13223  1.12966  1.12695      0
3        1.11955  1.11943  1.14212  1.14001  ...  1.13231  1.12988  1.12697      0
4        1.11948  1.11942  1.14191  1.14001  ...  1.13218  1.12979  1.12698      0
...          ...      ...      ...      ...  ...      ...      ...      ...    ...
1435     1.11966  1.14211  1.13979  1.14685  ...  1.13006  1.12709  1.14170      0
1436     1.11970  1.14215  1.13972  1.14690  ...  1.12998  1.12720  1.14170      0
1437     1.11974  1.14228  1.13984  1.14687  ...  1.13014  1.12724  1.14167      0
1438     1.11970  1.14227  1.13924  1.14681  ...  1.13027  1.12727  1.14163      0
1439     1.11971  1.14223  1.13967  1.14696  ...  1.13024  1.12718  1.14130      0

[1440 rows x 240 columns]

In [26]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [27]:
for col in df_test.columns:
    print(col)

day_240
day_239
day_238
day_237
day_236
day_235
day_234
day_233
day_232
day_231
day_230
day_229
day_228
day_227
day_226
day_225
day_224
day_223
day_222
day_221
day_220
day_219
day_218
day_217
day_216
day_215
day_214
day_213
day_212
day_211
day_210
day_209
day_208
day_207
day_206
day_205
day_204
day_203
day_202
day_201
day_200
day_199
day_198
day_197
day_196
day_195
day_194
day_193
day_192
day_191
day_190
day_189
day_188
day_187
day_186
day_185
day_184
day_183
day_182
day_181
day_180
day_179
day_178
day_177
day_176
day_175
day_174
day_173
day_172
day_171
day_170
day_169
day_168
day_167
day_166
day_165
day_164
day_163
day_162
day_161
day_160
day_159
day_158
day_157
day_156
day_155
day_154
day_153
day_152
day_151
day_150
day_149
day_148
day_147
day_146
day_145
day_144
day_143
day_142
day_141
day_140
day_139
day_138
day_137
day_136
day_135
day_134
day_133
day_132
day_131
day_130
day_129
day_128
day_127
day_126
day_125
day_124
day_123
day_122
day_121
day_120
day_119
day_118
day_117
day_116
day_115
day_114
day_113
day_112
day_111
day_110
day_109
day_108
day_107
day_106
day_105
day_104
day_103
day_102
day_101
day_100
day_99
day_98
day_97
day_96
day_95
day_94
day_93
day_92
day_91
day_90
day_89
day_88
day_87
day_86
day_85
day_84
day_83
day_82
day_81
day_80
day_79
day_78
day_77
day_76
day_75
day_74
day_73
day_72
day_71
day_70
day_69
day_68
day_67
day_66
day_65
day_64
day_63
day_62
day_61
day_60
day_59
day_58
day_57
day_56
day_55
day_54
day_53
day_52
day_51
day_50
day_49
day_48
day_47
day_46
day_45
day_44
day_43
day_42
day_41
day_40
day_39
day_38
day_37
day_36
day_35
day_34
day_33
day_32
day_31
day_30
day_29
day_28
day_27
day_26
day_25
day_24
day_23
day_22
day_21
day_20
day_19
day_18
day_17
day_16
day_15
day_14
day_13
day_12
day_11
day_10
day_9
day_8
day_7
day_6
day_5
day_4
day_3
day_2
day_1

In [28]:
#predict new interval
label_new_interval = 'day_1' 
print("Summary of class variable: \n", df_train[label_new_interval].describe())

Summary of class variable:
 count    1440.000000
mean        1.138837
std         0.006918
min         1.126670
25%         1.130460
50%         1.142275
75%         1.143990
max         1.148030
Name: day_1, dtype: float64

In [ ]:
#HPO
import autogluon.core as ag

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 10,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }
# # gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
# #     'num_boost_round': 1000,  # number of boosting rounds (controls training time of GBM models)
# #     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
# # }

# hyperparameters = {  # hyperparameters of each model type
#                   #  'XGB': gbm_options,
#                    'NN': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   } 
# time_limit = 2*60  # train various models for ~2 min
# num_trials = 10  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'bayesopt'  # to tune hyperparameters using bayesian optimisation search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }
#predict new interval
save_path='agModels-predict_day1'
predictor = TabularPredictor(label=label_new_interval, path=save_path)
#predictor.fit(df_train, hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs)

predictor.fit(df_train, hyperparameters={'NN':{}}, presets='optimize_for_deployment')

Presets specified: ['optimize_for_deployment']
Beginning AutoGluon training ...
AutoGluon will save models to "agModels-predict_day1/"
AutoGluon Version:  0.3.1
Train Data Rows:    1440
Train Data Columns: 239
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (1.14803, 1.12667, 1.13884, 0.00692)
	If 'regression' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11615.54 MB
	Train Data (Original)  Memory Usage: 2.75 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 239 | ['day_240', 'day_239', 'day_238', 'day_237', 'day_236', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 239 | ['day_240', 'day_239', 'day_238', 'day_237', 'day_236', ...]
	0.5s = Fit runtime
	239 features in original data used to generate 239 features in processed data.
	Train Data (Processed) Memory Usage: 2.75 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.66s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	To change this, specify the eval_metric argument of fit()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 1152, Val Rows: 288
Fitting 1 L1 models ...
Fitting model: NeuralNetMXNet ...

In [ ]:
#predictor.feature_importance(data=df_train)

In [ ]:
#predict close
test_data = TabularDataset(df_test)
y_test = df_test[label_new_interval]
test_data_nolab = df_test.drop(columns=[label_new_interval])
test_data_nolab

In [ ]:
#predict new interval
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
import matplotlib as mpl
mpl.rcParams['savefig.dpi'] = 120

ax = y_pred.plot(figsize = (16, 10))

In [ ]:
#contrast leaderboard result of train and test data
predictor.leaderboard(df_train, silent=True)

In [ ]:
# predictor.unpersist_models('agModels-predict_day1')
# predictor.save_space()
# predictor.delete_models(models_to_keep='best', dry_run=False)
%rm -rf agModels-predict_day1
!ls