<a href="https://colab.research.google.com/github/gomlfx/ApiaryFund/blob/master/AutoGluonForecast_1_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install autogluon

In [2]:
#!pip install --upgrade mxnet

In [3]:
#designed for Jupyter/kaggle/colab
import pandas as pd
import numpy as np
#import matplotlib for plotting 
import matplotlib.pyplot as plt
%matplotlib inline
#import normalization
from sklearn import preprocessing

#autogluon
from autogluon.tabular import TabularDataset, TabularPredictor

In [4]:
#metatrader5 file format
df=pd.read_csv('/content/EURUSD_M5_201001040000_202202112350.csv')

In [5]:
print(df.head())
print(df.tail())
df.info()

  <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  2010.01.04\t00:00:00\t1.43259\t1.43259\t1.4321...
1  2010.01.04\t00:05:00\t1.43231\t1.43292\t1.4322...
2  2010.01.04\t00:10:00\t1.43291\t1.43336\t1.4328...
3  2010.01.04\t00:15:00\t1.43291\t1.43321\t1.4324...
4  2010.01.04\t00:20:00\t1.43287\t1.43307\t1.4327...
       <DATE>\t<TIME>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
899582  2022.02.11\t23:30:00\t1.13489\t1.13495\t1.1345...
899583  2022.02.11\t23:35:00\t1.13451\t1.13492\t1.1344...
899584  2022.02.11\t23:40:00\t1.13487\t1.13487\t1.1344...
899585  2022.02.11\t23:45:00\t1.13464\t1.13465\t1.1344...
899586  2022.02.11\t23:50:00\t1.13450\t1.13498\t1.1344...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899587 entries, 0 to 899586
Data columns (total 1 columns):
 #   Column                                                              Non-Null Count   Dtype
---  ------                                                              --------------   -----
 0   <DATE>	<TIME>	<OPEN>	<HIGH>	<LOW>	<CLOSE>	<TICKVOL>	<VOL>	<SPREAD>  899587 non-null  object
dtypes: object(1)
memory usage: 6.9+ MB

In [6]:
df.columns=['header']

In [7]:
df = df.header.str.split('\t', expand=True)

In [8]:
df

                 0         1        2        3        4        5    6  7   8
0       2010.01.04  00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
1       2010.01.04  00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2       2010.01.04  00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
3       2010.01.04  00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
4       2010.01.04  00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...            ...       ...      ...      ...      ...      ...  ... ..  ..
899582  2022.02.11  23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
899583  2022.02.11  23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
899584  2022.02.11  23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
899585  2022.02.11  23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
899586  2022.02.11  23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 9 columns]

In [9]:
#choose range of data for backtesting
df['date_time'] = df[0] + ' ' + df[1]
pd.to_datetime(df.date_time)
df.set_index('date_time',inplace=True)
df.drop(columns=[0,1], inplace=True)
df

                           2        3        4        5    6  7   8
date_time
2010.01.04 00:00:00  1.43259  1.43259  1.43213  1.43235   81  0  18
2010.01.04 00:05:00  1.43231  1.43292  1.43227  1.43287   64  0  12
2010.01.04 00:10:00  1.43291  1.43336  1.43282  1.43293   79  0  16
2010.01.04 00:15:00  1.43291  1.43321  1.43240  1.43290  120  0  16
2010.01.04 00:20:00  1.43287  1.43307  1.43277  1.43304   79  0  16
...                      ...      ...      ...      ...  ... ..  ..
2022.02.11 23:30:00  1.13489  1.13495  1.13450  1.13451   92  0   7
2022.02.11 23:35:00  1.13451  1.13492  1.13449  1.13485   87  0  11
2022.02.11 23:40:00  1.13487  1.13487  1.13447  1.13464   86  0  15
2022.02.11 23:45:00  1.13464  1.13465  1.13444  1.13450  112  0  14
2022.02.11 23:50:00  1.13450  1.13498  1.13448  1.13477  210  0  14

[899587 rows x 7 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899587 entries, 2010.01.04 00:00:00 to 2022.02.11 23:50:00
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   2       899587 non-null  object
 1   3       899587 non-null  object
 2   4       899587 non-null  object
 3   5       899587 non-null  object
 4   6       899587 non-null  object
 5   7       899587 non-null  object
 6   8       899587 non-null  object
dtypes: object(7)
memory usage: 54.9+ MB

In [11]:
#Choose if you want tail or date_time range here for backtest
#df_close_col = pd.DataFrame(data=df.iloc[:,5].tail(350000))
df_backtest = pd.DataFrame(df.loc['2016.01.03 01:00:00':'2022.01.07 01:00:00',5])

In [12]:
df_backtest

                           5
date_time
2016.01.04 00:00:00  1.08707
2016.01.04 00:05:00  1.08709
2016.01.04 00:10:00  1.08660
2016.01.04 00:15:00  1.08677
2016.01.04 00:20:00  1.08665
...                      ...
2022.01.07 00:40:00  1.12941
2022.01.07 00:45:00  1.12941
2022.01.07 00:50:00  1.12941
2022.01.07 00:55:00  1.12937
2022.01.07 01:00:00  1.12956

[448199 rows x 1 columns]

In [13]:
#use df_backtest later on df_train
#separate variables
df_close_col = df_backtest

In [14]:
#separate variables
df_backtest_idx = df_backtest
#return index to int
df_backtest_idx.reset_index(level=['date_time'], inplace=True)
df_backtest_idx = df_backtest_idx.iloc[-1440:]
df_backtest_idx

                  date_time        5
446759  2021.12.31 00:05:00  1.13204
446760  2021.12.31 00:10:00  1.13195
446761  2021.12.31 00:15:00  1.13199
446762  2021.12.31 00:20:00  1.13206
446763  2021.12.31 00:25:00  1.13198
...                     ...      ...
448194  2022.01.07 00:40:00  1.12941
448195  2022.01.07 00:45:00  1.12941
448196  2022.01.07 00:50:00  1.12941
448197  2022.01.07 00:55:00  1.12937
448198  2022.01.07 01:00:00  1.12956

[1440 rows x 2 columns]

In [15]:
df_backtest_idx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 446759 to 448198
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  1440 non-null   object
 1   5          1440 non-null   object
dtypes: object(2)
memory usage: 22.6+ KB

In [16]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448199 entries, 0 to 448198
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date_time  448199 non-null  object
 1   5          448199 non-null  object
dtypes: object(2)
memory usage: 6.8+ MB

In [17]:
df_close_col[5] = df_close_col[5].astype(float, errors = 'raise')

In [18]:
df_close_col.drop(['date_time'], axis=1,inplace=True)

In [19]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448199 entries, 0 to 448198
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       448199 non-null  float64
dtypes: float64(1)
memory usage: 3.4 MB

In [20]:
df_close_col.isnull().sum()

5    0
dtype: int64

In [21]:
df_close_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448199 entries, 0 to 448198
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   5       448199 non-null  float64
dtypes: float64(1)
memory usage: 3.4 MB

In [22]:
###df201 to df240###
df240 = pd.DataFrame(data=df_close_col.iloc[-347040:-345600])
df240['row_num']=np.arange(len(df240))
df240.set_index('row_num',inplace=True)
df240 = df240.rename(columns={5:'day_240'})
print(df240)

df239 = pd.DataFrame(data=df_close_col.iloc[-345600:-344160])
df239['row_num']=np.arange(len(df239))
df239.set_index('row_num',inplace=True)
df239 = df239.rename(columns={5:'day_239'})
print(df239)

df238 = pd.DataFrame(data=df_close_col.iloc[-344160:-342720])
df238['row_num']=np.arange(len(df238))
df238.set_index('row_num',inplace=True)
df238 = df238.rename(columns={5:'day_238'})
print(df238)

df237 = pd.DataFrame(data=df_close_col.iloc[-342720:-341280])
df237['row_num']=np.arange(len(df237))
df237.set_index('row_num',inplace=True)
df237 = df237.rename(columns={5:'day_237'})
print(df237)

df236 = pd.DataFrame(data=df_close_col.iloc[-341280:-339840])
df236['row_num']=np.arange(len(df236))
df236.set_index('row_num',inplace=True)
df236 = df236.rename(columns={5:'day_236'})
print(df236)

df235 = pd.DataFrame(data=df_close_col.iloc[-339840:-338400])
df235['row_num']=np.arange(len(df235))
df235.set_index('row_num',inplace=True)
df235 = df235.rename(columns={5:'day_235'})
print(df235)

df234 = pd.DataFrame(data=df_close_col.iloc[-338400:-336960])
df234['row_num']=np.arange(len(df234))
df234.set_index('row_num',inplace=True)
df234 = df234.rename(columns={5:'day_234'})
print(df234)

df233 = pd.DataFrame(data=df_close_col.iloc[-336960:-335520])
df233['row_num']=np.arange(len(df233))
df233.set_index('row_num',inplace=True)
df233 = df233.rename(columns={5:'day_233'})
print(df233)

df232 = pd.DataFrame(data=df_close_col.iloc[-335520:-334080])
df232['row_num']=np.arange(len(df232))
df232.set_index('row_num',inplace=True)
df232 = df232.rename(columns={5:'day_232'})
print(df232)

df231 = pd.DataFrame(data=df_close_col.iloc[-334080:-332640])
df231['row_num']=np.arange(len(df231))
df231.set_index('row_num',inplace=True)
df231 = df231.rename(columns={5:'day_231'})
print(df231)

df230 = pd.DataFrame(data=df_close_col.iloc[-332640:-331200])
df230['row_num']=np.arange(len(df230))
df230.set_index('row_num',inplace=True)
df230 = df230.rename(columns={5:'day_230'})
print(df230)

df229 = pd.DataFrame(data=df_close_col.iloc[-331200:-329760])
df229['row_num']=np.arange(len(df229))
df229.set_index('row_num',inplace=True)
df229 = df229.rename(columns={5:'day_229'})
print(df229)

df228 = pd.DataFrame(data=df_close_col.iloc[-329760:-328320])
df228['row_num']=np.arange(len(df228))
df228.set_index('row_num',inplace=True)
df228 = df228.rename(columns={5:'day_228'})
print(df228)

df227 = pd.DataFrame(data=df_close_col.iloc[-328320:-326880])
df227['row_num']=np.arange(len(df227))
df227.set_index('row_num',inplace=True)
df227 = df227.rename(columns={5:'day_227'})
print(df227)

df226 = pd.DataFrame(data=df_close_col.iloc[-326880:-325440])
df226['row_num']=np.arange(len(df226))
df226.set_index('row_num',inplace=True)
df226 = df226.rename(columns={5:'day_226'})
print(df226)

df225 = pd.DataFrame(data=df_close_col.iloc[-325440:-324000])
df225['row_num']=np.arange(len(df225))
df225.set_index('row_num',inplace=True)
df225 = df225.rename(columns={5:'day_225'})
print(df225)

df224 = pd.DataFrame(data=df_close_col.iloc[-324000:-322560])
df224['row_num']=np.arange(len(df224))
df224.set_index('row_num',inplace=True)
df224 = df224.rename(columns={5:'day_224'})
print(df224)

df223 = pd.DataFrame(data=df_close_col.iloc[-322560:-321120])
df223['row_num']=np.arange(len(df223))
df223.set_index('row_num',inplace=True)
df223 = df223.rename(columns={5:'day_223'})
print(df223)

df222 = pd.DataFrame(data=df_close_col.iloc[-321120:-319680])
df222['row_num']=np.arange(len(df222))
df222.set_index('row_num',inplace=True)
df222 = df222.rename(columns={5:'day_222'})
print(df222)

df221 = pd.DataFrame(data=df_close_col.iloc[-319680:-318240])
df221['row_num']=np.arange(len(df221))
df221.set_index('row_num',inplace=True)
df221 = df221.rename(columns={5:'day_221'})
print(df221)


df220 = pd.DataFrame(data=df_close_col.iloc[-318240:-316800])
df220['row_num']=np.arange(len(df220))
df220.set_index('row_num',inplace=True)
df220 = df220.rename(columns={5:'day_220'})
print(df220)

df219 = pd.DataFrame(data=df_close_col.iloc[-316800:-315360])
df219['row_num']=np.arange(len(df219))
df219.set_index('row_num',inplace=True)
df219 = df219.rename(columns={5:'day_219'})
print(df219)

df218 = pd.DataFrame(data=df_close_col.iloc[-315360:-313920])
df218['row_num']=np.arange(len(df218))
df218.set_index('row_num',inplace=True)
df218 = df218.rename(columns={5:'day_218'})
print(df218)

df217 = pd.DataFrame(data=df_close_col.iloc[-313920:-312480])
df217['row_num']=np.arange(len(df217))
df217.set_index('row_num',inplace=True)
df217 = df217.rename(columns={5:'day_217'})
print(df217)

df216 = pd.DataFrame(data=df_close_col.iloc[-312480:-311040])
df216['row_num']=np.arange(len(df216))
df216.set_index('row_num',inplace=True)
df216 = df216.rename(columns={5:'day_216'})
print(df216)

df215 = pd.DataFrame(data=df_close_col.iloc[-311040:-309600])
df215['row_num']=np.arange(len(df215))
df215.set_index('row_num',inplace=True)
df215 = df215.rename(columns={5:'day_215'})
print(df215)

df214 = pd.DataFrame(data=df_close_col.iloc[-309600:-308160])
df214['row_num']=np.arange(len(df214))
df214.set_index('row_num',inplace=True)
df214 = df214.rename(columns={5:'day_214'})
print(df214)

df213 = pd.DataFrame(data=df_close_col.iloc[-308160:-306720])
df213['row_num']=np.arange(len(df213))
df213.set_index('row_num',inplace=True)
df213 = df213.rename(columns={5:'day_213'})
print(df213)

df212 = pd.DataFrame(data=df_close_col.iloc[-306720:-305280])
df212['row_num']=np.arange(len(df212))
df212.set_index('row_num',inplace=True)
df212 = df212.rename(columns={5:'day_212'})
print(df212)

df211 = pd.DataFrame(data=df_close_col.iloc[-305280:-303840])
df211['row_num']=np.arange(len(df211))
df211.set_index('row_num',inplace=True)
df211 = df211.rename(columns={5:'day_211'})
print(df211)

df210 = pd.DataFrame(data=df_close_col.iloc[-303840:-302400])
df210['row_num']=np.arange(len(df210))
df210.set_index('row_num',inplace=True)
df210 = df210.rename(columns={5:'day_210'})
print(df210)

df209 = pd.DataFrame(data=df_close_col.iloc[-302400:-300960])
df209['row_num']=np.arange(len(df209))
df209.set_index('row_num',inplace=True)
df209 = df209.rename(columns={5:'day_209'})
print(df209)

df208 = pd.DataFrame(data=df_close_col.iloc[-300960:-299520])
df208['row_num']=np.arange(len(df208))
df208.set_index('row_num',inplace=True)
df208 = df208.rename(columns={5:'day_208'})
print(df208)

df207 = pd.DataFrame(data=df_close_col.iloc[-299520:-298080])
df207['row_num']=np.arange(len(df207))
df207.set_index('row_num',inplace=True)
df207 = df207.rename(columns={5:'day_207'})
print(df207)

df206 = pd.DataFrame(data=df_close_col.iloc[-298080:-296640])
df206['row_num']=np.arange(len(df206))
df206.set_index('row_num',inplace=True)
df206 = df206.rename(columns={5:'day_206'})
print(df206)

df205 = pd.DataFrame(data=df_close_col.iloc[-296640:-295200])
df205['row_num']=np.arange(len(df205))
df205.set_index('row_num',inplace=True)
df205 = df205.rename(columns={5:'day_205'})
print(df205)

df204 = pd.DataFrame(data=df_close_col.iloc[-295200:-293760])
df204['row_num']=np.arange(len(df204))
df204.set_index('row_num',inplace=True)
df204 = df204.rename(columns={5:'day_204'})
print(df204)

df203 = pd.DataFrame(data=df_close_col.iloc[-293760:-292320])
df203['row_num']=np.arange(len(df203))
df203.set_index('row_num',inplace=True)
df203 = df203.rename(columns={5:'day_203'})
print(df203)

df202 = pd.DataFrame(data=df_close_col.iloc[-292320:-290880])
df202['row_num']=np.arange(len(df202))
df202.set_index('row_num',inplace=True)
df202 = df202.rename(columns={5:'day_202'})
print(df202)

df201 = pd.DataFrame(data=df_close_col.iloc[-290880:-289440])
df201['row_num']=np.arange(len(df201))
df201.set_index('row_num',inplace=True)
df201 = df201.rename(columns={5:'day_201'})
print(df201)
###df201 to df 240###

         day_240
row_num
0        1.08714
1        1.08733
2        1.08714
3        1.08744
4        1.08743
...          ...
1435     1.10825
1436     1.10837
1437     1.10813
1438     1.10845
1439     1.10822

[1440 rows x 1 columns]
         day_239
row_num
0        1.10827
1        1.10829
2        1.10821
3        1.10825
4        1.10830
...          ...
1435     1.11825
1436     1.11823
1437     1.11834
1438     1.11827
1439     1.11817

[1440 rows x 1 columns]
         day_238
row_num
0        1.11809
1        1.11815
2        1.11803
3        1.11805
4        1.11807
...          ...
1435     1.11855
1436     1.11875
1437     1.11880
1438     1.11877
1439     1.11873

[1440 rows x 1 columns]
         day_237
row_num
0        1.11864
1        1.11861
2        1.11854
3        1.11793
4        1.11835
...          ...
1435     1.12763
1436     1.12769
1437     1.12782
1438     1.12784
1439     1.12773

[1440 rows x 1 columns]
         day_236
row_num
0        1.12771
1        1.12783
2        1.12774
3        1.12777
4        1.12773
...          ...
1435     1.12090
1436     1.12089
1437     1.12101
1438     1.12080
1439     1.12080

[1440 rows x 1 columns]
         day_235
row_num
0        1.12078
1        1.12075
2        1.12074
3        1.12073
4        1.12095
...          ...
1435     1.11333
1436     1.11333
1437     1.11332
1438     1.11337
1439     1.11342

[1440 rows x 1 columns]
         day_234
row_num
0        1.11337
1        1.11338
2        1.11345
3        1.11349
4        1.11332
...          ...
1435     1.13367
1436     1.13363
1437     1.13356
1438     1.13339
1439     1.13368

[1440 rows x 1 columns]
         day_233
row_num
0        1.13343
1        1.13384
2        1.13381
3        1.13368
4        1.13351
...          ...
1435     1.13470
1436     1.13481
1437     1.13483
1438     1.13489
1439     1.13508

[1440 rows x 1 columns]
         day_232
row_num
0        1.13545
1        1.13529
2        1.13525
3        1.13524
4        1.13543
...          ...
1435     1.14693
1436     1.14664
1437     1.14672
1438     1.14683
1439     1.14678

[1440 rows x 1 columns]
         day_231
row_num
0        1.14708
1        1.14721
2        1.14711
3        1.14734
4        1.14710
...          ...
1435     1.15450
1436     1.15445
1437     1.15446
1438     1.15442
1439     1.15426

[1440 rows x 1 columns]
         day_230
row_num
0        1.15426
1        1.15414
2        1.15422
3        1.15438
4        1.15437
...          ...
1435     1.16494
1436     1.16509
1437     1.16496
1438     1.16490
1439     1.16512

[1440 rows x 1 columns]
         day_229
row_num
0        1.16511
1        1.16523
2        1.16519
3        1.16511
4        1.16510
...          ...
1435     1.18176
1436     1.18252
1437     1.18222
1438     1.18226
1439     1.18226

[1440 rows x 1 columns]
         day_228
row_num
0        1.18230
1        1.18206
2        1.18208
3        1.18265
4        1.18264
...          ...
1435     1.17378
1436     1.17406
1437     1.17413
1438     1.17407
1439     1.17466

[1440 rows x 1 columns]
         day_227
row_num
0        1.17495
1        1.17483
2        1.17471
3        1.17419
4        1.17407
...          ...
1435     1.17506
1436     1.17574
1437     1.17537
1438     1.17506
1439     1.17495

[1440 rows x 1 columns]
         day_226
row_num
0        1.17153
1        1.17062
2        1.17038
3        1.17125
4        1.17063
...          ...
1435     1.17817
1436     1.17820
1437     1.17803
1438     1.17764
1439     1.17790

[1440 rows x 1 columns]
         day_225
row_num
0        1.17776
1        1.17789
2        1.17817
3        1.17794
4        1.17772
...          ...
1435     1.19476
1436     1.19468
1437     1.19439
1438     1.19469
1439     1.19438

[1440 rows x 1 columns]
         day_224
row_num
0        1.19362
1        1.19269
2        1.19292
3        1.19314
4        1.19255
...          ...
1435     1.19329
1436     1.19268
1437     1.19273
1438     1.19269
1439     1.19315

[1440 rows x 1 columns]
         day_223
row_num
0        1.19303
1        1.19299
2        1.19301
3        1.19301
4        1.19226
...          ...
1435     1.19049
1436     1.19103
1437     1.19120
1438     1.19138
1439     1.19146

[1440 rows x 1 columns]
         day_222
row_num
0        1.19162
1        1.19128
2        1.19088
3        1.19080
4        1.19099
...          ...
1435     1.19964
1436     1.19990
1437     1.20000
1438     1.19999
1439     1.19983

[1440 rows x 1 columns]
         day_221
row_num
0        1.19950
1        1.19955
2        1.19871
3        1.19889
4        1.19889
...          ...
1435     1.17246
1436     1.17277
1437     1.17312
1438     1.17346
1439     1.17424

[1440 rows x 1 columns]
         day_220
row_num
0        1.17322
1        1.17383
2        1.17424
3        1.17411
4        1.17414
...          ...
1435     1.17597
1436     1.17576
1437     1.17565
1438     1.17611
1439     1.17575

[1440 rows x 1 columns]
         day_219
row_num
0        1.17556
1        1.17594
2        1.17575
3        1.17586
4        1.17574
...          ...
1435     1.18445
1436     1.18462
1437     1.18481
1438     1.18484
1439     1.18547

[1440 rows x 1 columns]
         day_218
row_num
0        1.18529
1        1.18486
2        1.18441
3        1.18454
4        1.18455
...          ...
1435     1.17771
1436     1.17751
1437     1.17733
1438     1.17727
1439     1.17716

[1440 rows x 1 columns]
         day_217
row_num
0        1.17727
1        1.17691
2        1.17674
3        1.17691
4        1.17704
...          ...
1435     1.18110
1436     1.18124
1437     1.18082
1438     1.18068
1439     1.18120

[1440 rows x 1 columns]
         day_216
row_num
0        1.18074
1        1.18099
2        1.18069
3        1.18039
4        1.18034
...          ...
1435     1.16321
1436     1.16368
1437     1.16327
1438     1.16304
1439     1.16302

[1440 rows x 1 columns]
         day_215
row_num
0        1.16286
1        1.16288
2        1.16277
3        1.16276
4        1.16274
...          ...
1435     1.15905
1436     1.15947
1437     1.15935
1438     1.15915
1439     1.15903

[1440 rows x 1 columns]
         day_214
row_num
0        1.15919
1        1.15898
2        1.15902
3        1.15896
4        1.15894
...          ...
1435     1.17930
1436     1.17986
1437     1.17958
1438     1.17974
1439     1.17964

[1440 rows x 1 columns]
         day_213
row_num
0        1.17948
1        1.17917
2        1.17933
3        1.17945
4        1.17943
...          ...
1435     1.17886
1436     1.17897
1437     1.17870
1438     1.17874
1439     1.17909

[1440 rows x 1 columns]
         day_212
row_num
0        1.17943
1        1.17977
2        1.17968
3        1.17941
4        1.17921
...          ...
1435     1.18582
1436     1.18573
1437     1.18519
1438     1.18515
1439     1.18559

[1440 rows x 1 columns]
         day_211
row_num
0        1.18610
1        1.18652
2        1.18630
3        1.18606
4        1.18574
...          ...
1435     1.17885
1436     1.17849
1437     1.17862
1438     1.17860
1439     1.17869

[1440 rows x 1 columns]
         day_210
row_num
0        1.17879
1        1.17935
2        1.17929
3        1.17930
4        1.17929
...          ...
1435     1.17605
1436     1.17592
1437     1.17587
1438     1.17625
1439     1.17643

[1440 rows x 1 columns]
         day_209
row_num
0        1.17626
1        1.17643
2        1.17660
3        1.17696
4        1.17666
...          ...
1435     1.18809
1436     1.18773
1437     1.18753
1438     1.18770
1439     1.18774

[1440 rows x 1 columns]
         day_208
row_num
0        1.18743
1        1.18753
2        1.18781
3        1.18808
4        1.18795
...          ...
1435     1.19383
1436     1.19396
1437     1.19394
1438     1.19402
1439     1.19395

[1440 rows x 1 columns]
         day_207
row_num
0        1.19399
1        1.19401
2        1.19405
3        1.19406
4        1.19407
...          ...
1435     1.20313
1436     1.20378
1437     1.20359
1438     1.20354
1439     1.20355

[1440 rows x 1 columns]
         day_206
row_num
0        1.20385
1        1.20378
2        1.20368
3        1.20367
4        1.20381
...          ...
1435     1.22030
1436     1.21998
1437     1.22004
1438     1.21997
1439     1.21962

[1440 rows x 1 columns]
         day_205
row_num
0        1.21941
1        1.21974
2        1.21994
3        1.21982
4        1.21966
...          ...
1435     1.22592
1436     1.22583
1437     1.22565
1438     1.22500
1439     1.22473

[1440 rows x 1 columns]
         day_204
row_num
0        1.22460
1        1.22470
2        1.22504
3        1.22499
4        1.22524
...          ...
1435     1.24154
1436     1.24195
1437     1.24205
1438     1.24188
1439     1.24177

[1440 rows x 1 columns]
         day_203
row_num
0        1.24180
1        1.24210
2        1.24224
3        1.24225
4        1.24251
...          ...
1435     1.24312
1436     1.24333
1437     1.24286
1438     1.24288
1439     1.24384

[1440 rows x 1 columns]
         day_202
row_num
0        1.24392
1        1.24407
2        1.24448
3        1.24496
4        1.24511
...          ...
1435     1.22523
1436     1.22485
1437     1.22485
1438     1.22456
1439     1.22448

[1440 rows x 1 columns]
         day_201
row_num
0        1.22490
1        1.22493
2        1.22474
3        1.22466
4        1.22461
...          ...
1435     1.24151
1436     1.24189
1437     1.24197
1438     1.24196
1439     1.24196

[1440 rows x 1 columns]

In [23]:
###df161 to df200###
df200 = pd.DataFrame(data=df_close_col.iloc[-289440:-288000])
df200['row_num']=np.arange(len(df200))
df200.set_index('row_num',inplace=True)
df200 = df200.rename(columns={5:'day_200'})
print(df200)

df199 = pd.DataFrame(data=df_close_col.iloc[-288000:-286560])
df199['row_num']=np.arange(len(df199))
df199.set_index('row_num',inplace=True)
df199 = df199.rename(columns={5:'day_199'})
print(df199)

df198 = pd.DataFrame(data=df_close_col.iloc[-286560:-285120])
df198['row_num']=np.arange(len(df198))
df198.set_index('row_num',inplace=True)
df198 = df198.rename(columns={5:'day_198'})
print(df198)

df197 = pd.DataFrame(data=df_close_col.iloc[-285120:-283680])
df197['row_num']=np.arange(len(df197))
df197.set_index('row_num',inplace=True)
df197 = df197.rename(columns={5:'day_197'})
print(df197)

df196 = pd.DataFrame(data=df_close_col.iloc[-283680:-282240])
df196['row_num']=np.arange(len(df196))
df196.set_index('row_num',inplace=True)
df196 = df196.rename(columns={5:'day_196'})
print(df196)

df195 = pd.DataFrame(data=df_close_col.iloc[-282240:-280800])
df195['row_num']=np.arange(len(df195))
df195.set_index('row_num',inplace=True)
df195 = df195.rename(columns={5:'day_195'})
print(df195)

df194 = pd.DataFrame(data=df_close_col.iloc[-280800:-279360])
df194['row_num']=np.arange(len(df194))
df194.set_index('row_num',inplace=True)
df194 = df194.rename(columns={5:'day_194'})
print(df194)

df193 = pd.DataFrame(data=df_close_col.iloc[-279360:-277920])
df193['row_num']=np.arange(len(df193))
df193.set_index('row_num',inplace=True)
df193 = df193.rename(columns={5:'day_193'})
print(df193)

df192 = pd.DataFrame(data=df_close_col.iloc[-277920:-276480])
df192['row_num']=np.arange(len(df192))
df192.set_index('row_num',inplace=True)
df192 = df192.rename(columns={5:'day_192'})
print(df192)

df191 = pd.DataFrame(data=df_close_col.iloc[-276480:-275040])
df191['row_num']=np.arange(len(df191))
df191.set_index('row_num',inplace=True)
df191 = df191.rename(columns={5:'day_191'})
print(df191)

df190 = pd.DataFrame(data=df_close_col.iloc[-275040:-273600])
df190['row_num']=np.arange(len(df190))
df190.set_index('row_num',inplace=True)
df190 = df190.rename(columns={5:'day_190'})
print(df190)

df189 = pd.DataFrame(data=df_close_col.iloc[-273600:-272160])
df189['row_num']=np.arange(len(df189))
df189.set_index('row_num',inplace=True)
df189 = df189.rename(columns={5:'day_189'})
print(df189)

df188 = pd.DataFrame(data=df_close_col.iloc[-272160:-270720])
df188['row_num']=np.arange(len(df188))
df188.set_index('row_num',inplace=True)
df188 = df188.rename(columns={5:'day_188'})
print(df188)

df187 = pd.DataFrame(data=df_close_col.iloc[-270720:-269280])
df187['row_num']=np.arange(len(df187))
df187.set_index('row_num',inplace=True)
df187 = df187.rename(columns={5:'day_187'})
print(df187)

df186 = pd.DataFrame(data=df_close_col.iloc[-269280:-267840])
df186['row_num']=np.arange(len(df186))
df186.set_index('row_num',inplace=True)
df186 = df186.rename(columns={5:'day_186'})
print(df186)

df185 = pd.DataFrame(data=df_close_col.iloc[-267840:-266400])
df185['row_num']=np.arange(len(df185))
df185.set_index('row_num',inplace=True)
df185 = df185.rename(columns={5:'day_185'})
print(df185)

df184 = pd.DataFrame(data=df_close_col.iloc[-266400:-264960])
df184['row_num']=np.arange(len(df184))
df184.set_index('row_num',inplace=True)
df184 = df184.rename(columns={5:'day_184'})
print(df184)

df183 = pd.DataFrame(data=df_close_col.iloc[-264960:-263520])
df183['row_num']=np.arange(len(df183))
df183.set_index('row_num',inplace=True)
df183 = df183.rename(columns={5:'day_183'})
print(df183)

df182 = pd.DataFrame(data=df_close_col.iloc[-263520:-262080])
df182['row_num']=np.arange(len(df182))
df182.set_index('row_num',inplace=True)
df182 = df182.rename(columns={5:'day_182'})
print(df182)

df181 = pd.DataFrame(data=df_close_col.iloc[-262080:-260640])
df181['row_num']=np.arange(len(df181))
df181.set_index('row_num',inplace=True)
df181 = df181.rename(columns={5:'day_181'})
print(df181)


df180 = pd.DataFrame(data=df_close_col.iloc[-260640:-259200])
df180['row_num']=np.arange(len(df180))
df180.set_index('row_num',inplace=True)
df180 = df180.rename(columns={5:'day_180'})
print(df180)

df179 = pd.DataFrame(data=df_close_col.iloc[-259200:-257760])
df179['row_num']=np.arange(len(df179))
df179.set_index('row_num',inplace=True)
df179 = df179.rename(columns={5:'day_179'})
print(df179)

df178 = pd.DataFrame(data=df_close_col.iloc[-257760:-256320])
df178['row_num']=np.arange(len(df178))
df178.set_index('row_num',inplace=True)
df178 = df178.rename(columns={5:'day_178'})
print(df178)

df177 = pd.DataFrame(data=df_close_col.iloc[-256320:-254880])
df177['row_num']=np.arange(len(df177))
df177.set_index('row_num',inplace=True)
df177 = df177.rename(columns={5:'day_177'})
print(df177)

df176 = pd.DataFrame(data=df_close_col.iloc[-254880:-253440])
df176['row_num']=np.arange(len(df176))
df176.set_index('row_num',inplace=True)
df176 = df176.rename(columns={5:'day_176'})
print(df176)

df175 = pd.DataFrame(data=df_close_col.iloc[-253440:-252000])
df175['row_num']=np.arange(len(df175))
df175.set_index('row_num',inplace=True)
df175 = df175.rename(columns={5:'day_175'})
print(df175)

df174 = pd.DataFrame(data=df_close_col.iloc[-252000:-250560])
df174['row_num']=np.arange(len(df174))
df174.set_index('row_num',inplace=True)
df174 = df174.rename(columns={5:'day_174'})
print(df174)

df173 = pd.DataFrame(data=df_close_col.iloc[-250560:-249120])
df173['row_num']=np.arange(len(df173))
df173.set_index('row_num',inplace=True)
df173 = df173.rename(columns={5:'day_173'})
print(df173)

df172 = pd.DataFrame(data=df_close_col.iloc[-249120:-247680])
df172['row_num']=np.arange(len(df172))
df172.set_index('row_num',inplace=True)
df172 = df172.rename(columns={5:'day_172'})
print(df172)

df171 = pd.DataFrame(data=df_close_col.iloc[-247680:-246240])
df171['row_num']=np.arange(len(df171))
df171.set_index('row_num',inplace=True)
df171 = df171.rename(columns={5:'day_171'})
print(df171)

df170 = pd.DataFrame(data=df_close_col.iloc[-246240:-244800])
df170['row_num']=np.arange(len(df170))
df170.set_index('row_num',inplace=True)
df170 = df170.rename(columns={5:'day_170'})
print(df170)

df169 = pd.DataFrame(data=df_close_col.iloc[-244800:-243360])
df169['row_num']=np.arange(len(df169))
df169.set_index('row_num',inplace=True)
df169 = df169.rename(columns={5:'day_169'})
print(df169)

df168 = pd.DataFrame(data=df_close_col.iloc[-243360:-241920])
df168['row_num']=np.arange(len(df168))
df168.set_index('row_num',inplace=True)
df168 = df168.rename(columns={5:'day_168'})
print(df168)

df167 = pd.DataFrame(data=df_close_col.iloc[-241920:-240480])
df167['row_num']=np.arange(len(df167))
df167.set_index('row_num',inplace=True)
df167 = df167.rename(columns={5:'day_167'})
print(df167)

df166 = pd.DataFrame(data=df_close_col.iloc[-240480:-239040])
df166['row_num']=np.arange(len(df166))
df166.set_index('row_num',inplace=True)
df166 = df166.rename(columns={5:'day_166'})
print(df166)

df165 = pd.DataFrame(data=df_close_col.iloc[-239040:-237600])
df165['row_num']=np.arange(len(df165))
df165.set_index('row_num',inplace=True)
df165 = df165.rename(columns={5:'day_165'})
print(df165)

df164 = pd.DataFrame(data=df_close_col.iloc[-237600:-236160])
df164['row_num']=np.arange(len(df164))
df164.set_index('row_num',inplace=True)
df164 = df164.rename(columns={5:'day_164'})
print(df164)

df163 = pd.DataFrame(data=df_close_col.iloc[-236160:-234720])
df163['row_num']=np.arange(len(df163))
df163.set_index('row_num',inplace=True)
df163 = df163.rename(columns={5:'day_163'})
print(df163)

df162 = pd.DataFrame(data=df_close_col.iloc[-234720:-233280])
df162['row_num']=np.arange(len(df162))
df162.set_index('row_num',inplace=True)
df162 = df162.rename(columns={5:'day_162'})
print(df162)

df161 = pd.DataFrame(data=df_close_col.iloc[-233280:-231840])
df161['row_num']=np.arange(len(df161))
df161.set_index('row_num',inplace=True)
df161 = df161.rename(columns={5:'day_161'})
print(df161)
###df161 to df200###

         day_200
row_num
0        1.24174
1        1.24159
2        1.24158
3        1.24173
4        1.24193
...          ...
1435     1.22881
1436     1.22904
1437     1.22944
1438     1.22941
1439     1.22914

[1440 rows x 1 columns]
         day_199
row_num
0        1.22899
1        1.22911
2        1.22865
3        1.22844
4        1.22836
...          ...
1435     1.23460
1436     1.23411
1437     1.23367
1438     1.23366
1439     1.23200

[1440 rows x 1 columns]
         day_198
row_num
0        1.23161
1        1.23062
2        1.23070
3        1.23099
4        1.23121
...          ...
1435     1.23105
1436     1.23122
1437     1.23127
1438     1.23105
1439     1.23079

[1440 rows x 1 columns]
         day_197
row_num
0        1.23067
1        1.23067
2        1.23067
3        1.23075
4        1.23093
...          ...
1435     1.22808
1436     1.22762
1437     1.22752
1438     1.22754
1439     1.22744

[1440 rows x 1 columns]
         day_196
row_num
0        1.22762
1        1.22713
2        1.22743
3        1.22740
4        1.22752
...          ...
1435     1.23543
1436     1.23559
1437     1.23569
1438     1.23610
1439     1.23639

[1440 rows x 1 columns]
         day_195
row_num
0        1.23621
1        1.23600
2        1.23636
3        1.23612
4        1.23643
...          ...
1435     1.23126
1436     1.23126
1437     1.23112
1438     1.23147
1439     1.23169

[1440 rows x 1 columns]
         day_194
row_num
0        1.23181
1        1.23181
2        1.23201
3        1.23201
4        1.23183
...          ...
1435     1.22679
1436     1.22689
1437     1.22693
1438     1.22713
1439     1.22714

[1440 rows x 1 columns]
         day_193
row_num
0        1.22719
1        1.22706
2        1.22686
3        1.22682
4        1.22731
...          ...
1435     1.23336
1436     1.23347
1437     1.23335
1438     1.23351
1439     1.23356

[1440 rows x 1 columns]
         day_192
row_num
0        1.23360
1        1.23370
2        1.23384
3        1.23355
4        1.23346
...          ...
1435     1.22691
1436     1.22709
1437     1.22745
1438     1.22776
1439     1.22769

[1440 rows x 1 columns]
         day_191
row_num
0        1.22760
1        1.22734
2        1.22727
3        1.22724
4        1.22708
...          ...
1435     1.21242
1436     1.21271
1437     1.21291
1438     1.21277
1439     1.21274

[1440 rows x 1 columns]
         day_190
row_num
0        1.21285
1        1.21285
2        1.21317
3        1.21286
4        1.21280
...          ...
1435     1.19603
1436     1.19609
1437     1.19618
1438     1.19649
1439     1.19644

[1440 rows x 1 columns]
         day_189
row_num
0        1.19627
1        1.19616
2        1.19636
3        1.19639
4        1.19657
...          ...
1435     1.19515
1436     1.19531
1437     1.19536
1438     1.19561
1439     1.19572

[1440 rows x 1 columns]
         day_188
row_num
0        1.19583
1        1.19613
2        1.19621
3        1.19604
4        1.19616
...          ...
1435     1.17615
1436     1.17579
1437     1.17568
1438     1.17569
1439     1.17539

[1440 rows x 1 columns]
         day_187
row_num
0        1.17553
1        1.17539
2        1.17442
3        1.17463
4        1.17459
...          ...
1435     1.16887
1436     1.16916
1437     1.16936
1438     1.16972
1439     1.17011

[1440 rows x 1 columns]
         day_186
row_num
0        1.16993
1        1.16999
2        1.17021
3        1.17026
4        1.17005
...          ...
1435     1.16750
1436     1.16778
1437     1.16762
1438     1.16768
1439     1.16766

[1440 rows x 1 columns]
         day_185
row_num
0        1.16761
1        1.16782
2        1.16769
3        1.16778
4        1.16741
...          ...
1435     1.17823
1436     1.17850
1437     1.17846
1438     1.17821
1439     1.17820

[1440 rows x 1 columns]
         day_184
row_num
0        1.17852
1        1.17850
2        1.17932
3        1.17928
4        1.17978
...          ...
1435     1.15864
1436     1.15848
1437     1.15843
1438     1.15873
1439     1.15872

[1440 rows x 1 columns]
         day_183
row_num
0        1.15886
1        1.15878
2        1.15825
3        1.15776
4        1.15792
...          ...
1435     1.16584
1436     1.16578
1437     1.16543
1438     1.16572
1439     1.16604

[1440 rows x 1 columns]
         day_182
row_num
0        1.16575
1        1.16598
2        1.16539
3        1.16565
4        1.16543
...          ...
1435     1.16684
1436     1.16670
1437     1.16668
1438     1.16658
1439     1.16657

[1440 rows x 1 columns]
         day_181
row_num
0        1.16652
1        1.16659
2        1.16646
3        1.16678
4        1.16666
...          ...
1435     1.17508
1436     1.17519
1437     1.17508
1438     1.17508
1439     1.17524

[1440 rows x 1 columns]
         day_180
row_num
0        1.17554
1        1.17552
2        1.17558
3        1.17536
4        1.17526
...          ...
1435     1.16760
1436     1.16810
1437     1.16805
1438     1.16824
1439     1.16835

[1440 rows x 1 columns]
         day_179
row_num
0        1.16845
1        1.16830
2        1.16840
3        1.16834
4        1.16833
...          ...
1435     1.17430
1436     1.17456
1437     1.17446
1438     1.17456
1439     1.17452

[1440 rows x 1 columns]
         day_178
row_num
0        1.17411
1        1.17421
2        1.17435
3        1.17429
4        1.17426
...          ...
1435     1.16593
1436     1.16612
1437     1.16616
1438     1.16628
1439     1.16637

[1440 rows x 1 columns]
         day_177
row_num
0        1.16618
1        1.16602
2        1.16596
3        1.16578
4        1.16564
...          ...
1435     1.15593
1436     1.15622
1437     1.15625
1438     1.15612
1439     1.15633

[1440 rows x 1 columns]
         day_176
row_num
0        1.15628
1        1.15619
2        1.15614
3        1.15606
4        1.15633
...          ...
1435     1.13927
1436     1.13910
1437     1.13869
1438     1.13900
1439     1.13895

[1440 rows x 1 columns]
         day_175
row_num
0        1.13914
1        1.13891
2        1.13778
3        1.13782
4        1.13745
...          ...
1435     1.14357
1436     1.14351
1437     1.14358
1438     1.14390
1439     1.14371

[1440 rows x 1 columns]
         day_174
row_num
0        1.14342
1        1.14345
2        1.14325
3        1.14319
4        1.14318
...          ...
1435     1.16396
1436     1.16443
1437     1.16425
1438     1.16406
1439     1.16386

[1440 rows x 1 columns]
         day_173
row_num
0        1.16380
1        1.16351
2        1.16362
3        1.16333
4        1.16341
...          ...
1435     1.16011
1436     1.16007
1437     1.16023
1438     1.15967
1439     1.15962

[1440 rows x 1 columns]
         day_172
row_num
0        1.15949
1        1.15925
2        1.15961
3        1.15939
4        1.15925
...          ...
1435     1.15590
1436     1.15577
1437     1.15576
1438     1.15562
1439     1.15547

[1440 rows x 1 columns]
         day_171
row_num
0        1.15614
1        1.15635
2        1.15637
3        1.15606
4        1.15602
...          ...
1435     1.16286
1436     1.16276
1437     1.16276
1438     1.16291
1439     1.16284

[1440 rows x 1 columns]
         day_170
row_num
0        1.16286
1        1.16286
2        1.16292
3        1.16296
4        1.16302
...          ...
1435     1.17496
1436     1.17494
1437     1.17470
1438     1.17475
1439     1.17490

[1440 rows x 1 columns]
         day_169
row_num
0        1.17480
1        1.17472
2        1.17464
3        1.17422
4        1.17432
...          ...
1435     1.16094
1436     1.16089
1437     1.16089
1438     1.16084
1439     1.16075

[1440 rows x 1 columns]
         day_168
row_num
0        1.16076
1        1.16055
2        1.16065
3        1.16063
4        1.16047
...          ...
1435     1.15276
1436     1.15248
1437     1.15240
1438     1.15211
1439     1.15201

[1440 rows x 1 columns]
         day_167
row_num
0        1.15195
1        1.15198
2        1.15202
3        1.15171
4        1.15171
...          ...
1435     1.15538
1436     1.15536
1437     1.15520
1438     1.15522
1439     1.15539

[1440 rows x 1 columns]
         day_166
row_num
0        1.15510
1        1.15512
2        1.15490
3        1.15496
4        1.15521
...          ...
1435     1.15051
1436     1.15037
1437     1.15027
1438     1.15011
1439     1.14990

[1440 rows x 1 columns]
         day_165
row_num
0        1.15007
1        1.14987
2        1.15027
3        1.15027
4        1.15010
...          ...
1435     1.13881
1436     1.13895
1437     1.13895
1438     1.13869
1439     1.13876

[1440 rows x 1 columns]
         day_164
row_num
0        1.13890
1        1.13900
2        1.13910
3        1.13926
4        1.13936
...          ...
1435     1.13876
1436     1.13885
1437     1.13881
1438     1.13893
1439     1.13898

[1440 rows x 1 columns]
         day_163
row_num
0        1.13891
1        1.13879
2        1.13838
3        1.13854
4        1.13843
...          ...
1435     1.13267
1436     1.13261
1437     1.13254
1438     1.13255
1439     1.13279

[1440 rows x 1 columns]
         day_162
row_num
0        1.13275
1        1.13284
2        1.13292
3        1.13284
4        1.13271
...          ...
1435     1.14120
1436     1.14100
1437     1.14090
1438     1.14095
1439     1.14103

[1440 rows x 1 columns]
         day_161
row_num
0        1.14090
1        1.14089
2        1.14078
3        1.14079
4        1.14103
...          ...
1435     1.13317
1436     1.13322
1437     1.13319
1438     1.13301
1439     1.13307

[1440 rows x 1 columns]

In [24]:
###df121 to df160###
df160 = pd.DataFrame(data=df_close_col.iloc[-231840:-230400])
df160['row_num']=np.arange(len(df160))
df160.set_index('row_num',inplace=True)
df160 = df160.rename(columns={5:'day_160'})
print(df160)

df159 = pd.DataFrame(data=df_close_col.iloc[-230400:-228960])
df159['row_num']=np.arange(len(df159))
df159.set_index('row_num',inplace=True)
df159 = df159.rename(columns={5:'day_159'})
print(df159)

df158 = pd.DataFrame(data=df_close_col.iloc[-228960:-227520])
df158['row_num']=np.arange(len(df158))
df158.set_index('row_num',inplace=True)
df158 = df158.rename(columns={5:'day_158'})
print(df158)

df157 = pd.DataFrame(data=df_close_col.iloc[-227520:-226080])
df157['row_num']=np.arange(len(df157))
df157.set_index('row_num',inplace=True)
df157 = df157.rename(columns={5:'day_157'})
print(df157)

df156 = pd.DataFrame(data=df_close_col.iloc[-226080:-224640])
df156['row_num']=np.arange(len(df156))
df156.set_index('row_num',inplace=True)
df156 = df156.rename(columns={5:'day_156'})
print(df156)

df155 = pd.DataFrame(data=df_close_col.iloc[-224640:-223200])
df155['row_num']=np.arange(len(df155))
df155.set_index('row_num',inplace=True)
df155 = df155.rename(columns={5:'day_155'})
print(df155)

df154 = pd.DataFrame(data=df_close_col.iloc[-223200:-221760])
df154['row_num']=np.arange(len(df154))
df154.set_index('row_num',inplace=True)
df154 = df154.rename(columns={5:'day_154'})
print(df154)

df153 = pd.DataFrame(data=df_close_col.iloc[-221760:-220320])
df153['row_num']=np.arange(len(df153))
df153.set_index('row_num',inplace=True)
df153 = df153.rename(columns={5:'day_153'})
print(df153)

df152 = pd.DataFrame(data=df_close_col.iloc[-220320:-218880])
df152['row_num']=np.arange(len(df152))
df152.set_index('row_num',inplace=True)
df152 = df152.rename(columns={5:'day_152'})
print(df152)

df151 = pd.DataFrame(data=df_close_col.iloc[-218880:-217440])
df151['row_num']=np.arange(len(df151))
df151.set_index('row_num',inplace=True)
df151 = df151.rename(columns={5:'day_151'})
print(df151)

df150 = pd.DataFrame(data=df_close_col.iloc[-217440:-216000])
df150['row_num']=np.arange(len(df150))
df150.set_index('row_num',inplace=True)
df150 = df150.rename(columns={5:'day_150'})
print(df150)

df149 = pd.DataFrame(data=df_close_col.iloc[-216000:-214560])
df149['row_num']=np.arange(len(df149))
df149.set_index('row_num',inplace=True)
df149 = df149.rename(columns={5:'day_149'})
print(df149)

df148 = pd.DataFrame(data=df_close_col.iloc[-214560:-213120])
df148['row_num']=np.arange(len(df148))
df148.set_index('row_num',inplace=True)
df148 = df148.rename(columns={5:'day_148'})
print(df148)

df147 = pd.DataFrame(data=df_close_col.iloc[-213120:-211680])
df147['row_num']=np.arange(len(df147))
df147.set_index('row_num',inplace=True)
df147 = df147.rename(columns={5:'day_147'})
print(df147)

df146 = pd.DataFrame(data=df_close_col.iloc[-211680:-210240])
df146['row_num']=np.arange(len(df146))
df146.set_index('row_num',inplace=True)
df146 = df146.rename(columns={5:'day_146'})
print(df146)

df145 = pd.DataFrame(data=df_close_col.iloc[-210240:-208800])
df145['row_num']=np.arange(len(df145))
df145.set_index('row_num',inplace=True)
df145 = df145.rename(columns={5:'day_145'})
print(df145)

df144 = pd.DataFrame(data=df_close_col.iloc[-208800:-207360])
df144['row_num']=np.arange(len(df144))
df144.set_index('row_num',inplace=True)
df144 = df144.rename(columns={5:'day_144'})
print(df144)

df143 = pd.DataFrame(data=df_close_col.iloc[-207360:-205920])
df143['row_num']=np.arange(len(df143))
df143.set_index('row_num',inplace=True)
df143 = df143.rename(columns={5:'day_143'})
print(df143)

df142 = pd.DataFrame(data=df_close_col.iloc[-205920:-204480])
df142['row_num']=np.arange(len(df142))
df142.set_index('row_num',inplace=True)
df142 = df142.rename(columns={5:'day_142'})
print(df142)

df141 = pd.DataFrame(data=df_close_col.iloc[-204480:-203040])
df141['row_num']=np.arange(len(df141))
df141.set_index('row_num',inplace=True)
df141 = df141.rename(columns={5:'day_141'})
print(df141)


df140 = pd.DataFrame(data=df_close_col.iloc[-203040:-201600])
df140['row_num']=np.arange(len(df140))
df140.set_index('row_num',inplace=True)
df140 = df140.rename(columns={5:'day_140'})
print(df140)

df139 = pd.DataFrame(data=df_close_col.iloc[-201600:-200160])
df139['row_num']=np.arange(len(df139))
df139.set_index('row_num',inplace=True)
df139 = df139.rename(columns={5:'day_139'})
print(df139)

df138 = pd.DataFrame(data=df_close_col.iloc[-200160:-198720])
df138['row_num']=np.arange(len(df138))
df138.set_index('row_num',inplace=True)
df138 = df138.rename(columns={5:'day_138'})
print(df138)

df137 = pd.DataFrame(data=df_close_col.iloc[-198720:-197280])
df137['row_num']=np.arange(len(df137))
df137.set_index('row_num',inplace=True)
df137 = df137.rename(columns={5:'day_137'})
print(df137)

df136 = pd.DataFrame(data=df_close_col.iloc[-197280:-195840])
df136['row_num']=np.arange(len(df136))
df136.set_index('row_num',inplace=True)
df136 = df136.rename(columns={5:'day_136'})
print(df136)

df135 = pd.DataFrame(data=df_close_col.iloc[-195840:-194400])
df135['row_num']=np.arange(len(df135))
df135.set_index('row_num',inplace=True)
df135 = df135.rename(columns={5:'day_135'})
print(df135)

df134 = pd.DataFrame(data=df_close_col.iloc[-194400:-192960])
df134['row_num']=np.arange(len(df134))
df134.set_index('row_num',inplace=True)
df134 = df134.rename(columns={5:'day_134'})
print(df134)

df133 = pd.DataFrame(data=df_close_col.iloc[-192960:-191520])
df133['row_num']=np.arange(len(df133))
df133.set_index('row_num',inplace=True)
df133 = df133.rename(columns={5:'day_133'})
print(df133)

df132 = pd.DataFrame(data=df_close_col.iloc[-191520:-190080])
df132['row_num']=np.arange(len(df132))
df132.set_index('row_num',inplace=True)
df132 = df132.rename(columns={5:'day_132'})
print(df132)

df131 = pd.DataFrame(data=df_close_col.iloc[-190080:-188640])
df131['row_num']=np.arange(len(df131))
df131.set_index('row_num',inplace=True)
df131 = df131.rename(columns={5:'day_131'})
print(df131)

df130 = pd.DataFrame(data=df_close_col.iloc[-188640:-187200])
df130['row_num']=np.arange(len(df130))
df130.set_index('row_num',inplace=True)
df130 = df130.rename(columns={5:'day_130'})
print(df130)

df129 = pd.DataFrame(data=df_close_col.iloc[-187200:-185760])
df129['row_num']=np.arange(len(df129))
df129.set_index('row_num',inplace=True)
df129 = df129.rename(columns={5:'day_129'})
print(df129)

df128 = pd.DataFrame(data=df_close_col.iloc[-185760:-184320])
df128['row_num']=np.arange(len(df128))
df128.set_index('row_num',inplace=True)
df128 = df128.rename(columns={5:'day_128'})
print(df128)

df127 = pd.DataFrame(data=df_close_col.iloc[-184320:-182880])
df127['row_num']=np.arange(len(df127))
df127.set_index('row_num',inplace=True)
df127 = df127.rename(columns={5:'day_127'})
print(df127)

df126 = pd.DataFrame(data=df_close_col.iloc[-182880:-181440])
df126['row_num']=np.arange(len(df126))
df126.set_index('row_num',inplace=True)
df126 = df126.rename(columns={5:'day_126'})
print(df126)

df125 = pd.DataFrame(data=df_close_col.iloc[-181440:-180000])
df125['row_num']=np.arange(len(df125))
df125.set_index('row_num',inplace=True)
df125 = df125.rename(columns={5:'day_125'})
print(df125)

df124 = pd.DataFrame(data=df_close_col.iloc[-180000:-178560])
df124['row_num']=np.arange(len(df124))
df124.set_index('row_num',inplace=True)
df124 = df124.rename(columns={5:'day_124'})
print(df124)

df123 = pd.DataFrame(data=df_close_col.iloc[-178560:-177120])
df123['row_num']=np.arange(len(df123))
df123.set_index('row_num',inplace=True)
df123 = df123.rename(columns={5:'day_123'})
print(df123)

###
#left out a day here, still need to fix it -177120:-175680
###

df122 = pd.DataFrame(data=df_close_col.iloc[-175680:-174240])
df122['row_num']=np.arange(len(df122))
df122.set_index('row_num',inplace=True)
df122 = df122.rename(columns={5:'day_122'})
print(df122)

df121 = pd.DataFrame(data=df_close_col.iloc[-174240:-172800])
df121['row_num']=np.arange(len(df121))
df121.set_index('row_num',inplace=True)
df121 = df121.rename(columns={5:'day_121'})
print(df121)
###df121 to df160###

         day_160
row_num
0        1.13300
1        1.13283
2        1.13283
3        1.13310
4        1.13347
...          ...
1435     1.13458
1436     1.13478
1437     1.13494
1438     1.13508
1439     1.13530

[1440 rows x 1 columns]
         day_159
row_num
0        1.13543
1        1.13522
2        1.13523
3        1.13508
4        1.13482
...          ...
1435     1.14350
1436     1.14344
1437     1.14337
1438     1.14335
1439     1.14357

[1440 rows x 1 columns]
         day_158
row_num
0        1.14355
1        1.14351
2        1.14353
3        1.14341
4        1.14336
...          ...
1435     1.13077
1436     1.13092
1437     1.13097
1438     1.13087
1439     1.13096

[1440 rows x 1 columns]
         day_157
row_num
0        1.13099
1        1.13101
2        1.13101
3        1.13118
4        1.13121
...          ...
1435     1.13798
1436     1.13826
1437     1.13844
1438     1.13858
1439     1.13881

[1440 rows x 1 columns]
         day_156
row_num
0        1.13868
1        1.13897
2        1.13874
3        1.13888
4        1.13882
...          ...
1435     1.13296
1436     1.13298
1437     1.13283
1438     1.13274
1439     1.13274

[1440 rows x 1 columns]
         day_155
row_num
0        1.13298
1        1.13297
2        1.13275
3        1.13277
4        1.13313
...          ...
1435     1.15298
1436     1.15325
1437     1.15337
1438     1.15363
1439     1.15333

[1440 rows x 1 columns]
         day_154
row_num
0        1.15385
1        1.15374
2        1.15360
3        1.15421
4        1.15459
...          ...
1435     1.14056
1436     1.14065
1437     1.14080
1438     1.14070
1439     1.14078

[1440 rows x 1 columns]
         day_153
row_num
0        1.14088
1        1.14071
2        1.14067
3        1.14042
4        1.14048
...          ...
1435     1.13900
1436     1.13913
1437     1.13903
1438     1.13884
1439     1.13853

[1440 rows x 1 columns]
         day_152
row_num
0        1.13872
1        1.13878
2        1.13866
3        1.13859
4        1.13873
...          ...
1435     1.14223
1436     1.14235
1437     1.14241
1438     1.14213
1439     1.14190

[1440 rows x 1 columns]
         day_151
row_num
0        1.14173
1        1.14156
2        1.14167
3        1.14674
4        1.14609
...          ...
1435     1.13660
1436     1.13685
1437     1.13680
1438     1.13677
1439     1.13665

[1440 rows x 1 columns]
         day_150
row_num
0        1.13654
1        1.13670
2        1.13657
3        1.13644
4        1.13638
...          ...
1435     1.12783
1436     1.12791
1437     1.12794
1438     1.12819
1439     1.12798

[1440 rows x 1 columns]
         day_149
row_num
0        1.12794
1        1.12798
2        1.12790
3        1.12752
4        1.12743
...          ...
1435     1.13681
1436     1.13667
1437     1.13667
1438     1.13661
1439     1.13671

[1440 rows x 1 columns]
         day_148
row_num
0        1.13695
1        1.13671
2        1.13631
3        1.13546
4        1.13525
...          ...
1435     1.13709
1436     1.13733
1437     1.13763
1438     1.13759
1439     1.13734

[1440 rows x 1 columns]
         day_147
row_num
0        1.13729
1        1.13751
2        1.13722
3        1.13672
4        1.13684
...          ...
1435     1.13078
1436     1.13086
1437     1.13091
1438     1.13095
1439     1.13106

[1440 rows x 1 columns]
         day_146
row_num
0        1.13089
1        1.13069
2        1.13053
3        1.13061
4        1.13054
...          ...
1435     1.13068
1436     1.13058
1437     1.13058
1438     1.13079
1439     1.13128

[1440 rows x 1 columns]
         day_145
row_num
0        1.13191
1        1.13289
2        1.13269
3        1.13252
4        1.13282
...          ...
1435     1.14203
1436     1.14281
1437     1.14316
1438     1.14325
1439     1.14354

[1440 rows x 1 columns]
         day_144
row_num
0        1.14305
1        1.14338
2        1.14304
3        1.14284
4        1.14228
...          ...
1435     1.12444
1436     1.12454
1437     1.12434
1438     1.12446
1439     1.12450

[1440 rows x 1 columns]
         day_143
row_num
0        1.12454
1        1.12428
2        1.12440
3        1.12481
4        1.12476
...          ...
1435     1.12346
1436     1.12336
1437     1.12337
1438     1.12330
1439     1.12325

[1440 rows x 1 columns]
         day_142
row_num
0        1.12327
1        1.12312
2        1.12332
3        1.12368
4        1.12338
...          ...
1435     1.12712
1436     1.12711
1437     1.12707
1438     1.12710
1439     1.12706

[1440 rows x 1 columns]
         day_141
row_num
0        1.12697
1        1.12724
2        1.12721
3        1.12727
4        1.12736
...          ...
1435     1.12990
1436     1.12985
1437     1.12980
1438     1.12979
1439     1.12980

[1440 rows x 1 columns]
         day_140
row_num
0        1.12980
1        1.12946
2        1.12929
3        1.12952
4        1.12961
...          ...
1435     1.11535
1436     1.11525
1437     1.11529
1438     1.11521
1439     1.11529

[1440 rows x 1 columns]
         day_139
row_num
0        1.11507
1        1.11524
2        1.11519
3        1.11530
4        1.11519
...          ...
1435     1.11925
1436     1.11909
1437     1.11921
1438     1.11918
1439     1.11935

[1440 rows x 1 columns]
         day_138
row_num
0        1.11936
1        1.11941
2        1.11956
3        1.11958
4        1.11960
...          ...
1435     1.11892
1436     1.11900
1437     1.11901
1438     1.11912
1439     1.11912

[1440 rows x 1 columns]
         day_137
row_num
0        1.11916
1        1.11904
2        1.11901
3        1.11903
4        1.11905
...          ...
1435     1.12015
1436     1.12021
1437     1.12028
1438     1.12025
1439     1.12020

[1440 rows x 1 columns]
         day_136
row_num
0        1.12017
1        1.12000
2        1.12012
3        1.12035
4        1.12034
...          ...
1435     1.11536
1436     1.11530
1437     1.11528
1438     1.11522
1439     1.11513

[1440 rows x 1 columns]
         day_135
row_num
0        1.11516
1        1.11494
2        1.11502
3        1.11524
4        1.11513
...          ...
1435     1.11323
1436     1.11306
1437     1.11313
1438     1.11304
1439     1.11303

[1440 rows x 1 columns]
         day_134
row_num
0        1.11302
1        1.11313
2        1.11341
3        1.11357
4        1.11348
...          ...
1435     1.12238
1436     1.12225
1437     1.12211
1438     1.12206
1439     1.12200

[1440 rows x 1 columns]
         day_133
row_num
0        1.12213
1        1.12228
2        1.12223
3        1.12226
4        1.12227
...          ...
1435     1.12866
1436     1.12865
1437     1.12879
1438     1.12875
1439     1.12866

[1440 rows x 1 columns]
         day_132
row_num
0        1.12877
1        1.12882
2        1.12886
3        1.12891
4        1.12882
...          ...
1435     1.12261
1436     1.12257
1437     1.12259
1438     1.12268
1439     1.12259

[1440 rows x 1 columns]
         day_131
row_num
0        1.12261
1        1.12289
2        1.12267
3        1.12269
4        1.12273
...          ...
1435     1.13658
1436     1.13667
1437     1.13664
1438     1.13667
1439     1.13683

[1440 rows x 1 columns]
         day_130
row_num
0        1.13689
1        1.13695
2        1.13703
3        1.13696
4        1.13695
...          ...
1435     1.12762
1436     1.12761
1437     1.12760
1438     1.12754
1439     1.12774

[1440 rows x 1 columns]
         day_129
row_num
0        1.12770
1        1.12781
2        1.12785
3        1.12788
4        1.12791
...          ...
1435     1.12508
1436     1.12516
1437     1.12503
1438     1.12503
1439     1.12532

[1440 rows x 1 columns]
         day_128
row_num
0        1.12533
1        1.12545
2        1.12549
3        1.12541
4        1.12547
...          ...
1435     1.12235
1436     1.12225
1437     1.12233
1438     1.12242
1439     1.12246

[1440 rows x 1 columns]
         day_127
row_num
0        1.12256
1        1.12263
2        1.12256
3        1.12260
4        1.12281
...          ...
1435     1.11388
1436     1.11382
1437     1.11399
1438     1.11394
1439     1.11398

[1440 rows x 1 columns]
         day_126
row_num
0        1.11401
1        1.11418
2        1.11426
3        1.11410
4        1.11410
...          ...
1435     1.10750
1436     1.10766
1437     1.10749
1438     1.10784
1439     1.10812

[1440 rows x 1 columns]
         day_125
row_num
0        1.10756
1        1.10752
2        1.10759
3        1.10763
4        1.10724
...          ...
1435     1.12015
1436     1.12009
1437     1.11982
1438     1.12039
1439     1.12009

[1440 rows x 1 columns]
         day_124
row_num
0        1.12024
1        1.12026
2        1.12029
3        1.12011
4        1.12008
...          ...
1435     1.11356
1436     1.11379
1437     1.11377
1438     1.11377
1439     1.11378

[1440 rows x 1 columns]
         day_123
row_num
0        1.11379
1        1.11379
2        1.11384
3        1.11397
4        1.11383
...          ...
1435     1.10834
1436     1.10845
1437     1.10852
1438     1.10863
1439     1.10864

[1440 rows x 1 columns]
         day_122
row_num
0        1.10793
1        1.10792
2        1.10812
3        1.10797
4        1.10807
...          ...
1435     1.10338
1436     1.10348
1437     1.10348
1438     1.10349
1439     1.10325

[1440 rows x 1 columns]
         day_121
row_num
0        1.10319
1        1.10323
2        1.10324
3        1.10328
4        1.10324
...          ...
1435     1.10097
1436     1.10102
1437     1.10091
1438     1.10098
1439     1.10092

[1440 rows x 1 columns]

In [25]:
###df80 to df120###
df120 = pd.DataFrame(data=df_close_col.iloc[-172800:-171360])
df120['row_num']=np.arange(len(df120))
df120.set_index('row_num',inplace=True)
df120 = df120.rename(columns={5:'day_120'})
print(df120)

df119 = pd.DataFrame(data=df_close_col.iloc[-171360:-169920])
df119['row_num']=np.arange(len(df119))
df119.set_index('row_num',inplace=True)
df119 = df119.rename(columns={5:'day_119'})
print(df119)

df118 = pd.DataFrame(data=df_close_col.iloc[-169920:-168480])
df118['row_num']=np.arange(len(df118))
df118.set_index('row_num',inplace=True)
df118 = df118.rename(columns={5:'day_118'})
print(df118)

df117 = pd.DataFrame(data=df_close_col.iloc[-168480:-167040])
df117['row_num']=np.arange(len(df117))
df117.set_index('row_num',inplace=True)
df117 = df117.rename(columns={5:'day_117'})
print(df117)

df116 = pd.DataFrame(data=df_close_col.iloc[-167040:-165600])
df116['row_num']=np.arange(len(df116))
df116.set_index('row_num',inplace=True)
df116 = df116.rename(columns={5:'day_116'})
print(df116)

df115 = pd.DataFrame(data=df_close_col.iloc[-165600:-164160])
df115['row_num']=np.arange(len(df115))
df115.set_index('row_num',inplace=True)
df115 = df115.rename(columns={5:'day_115'})
print(df115)

df114 = pd.DataFrame(data=df_close_col.iloc[-164160:-162720])
df114['row_num']=np.arange(len(df114))
df114.set_index('row_num',inplace=True)
df114 = df114.rename(columns={5:'day_114'})
print(df114)

df113 = pd.DataFrame(data=df_close_col.iloc[-162720:-161280])
df113['row_num']=np.arange(len(df113))
df113.set_index('row_num',inplace=True)
df113 = df113.rename(columns={5:'day_113'})
print(df113)

df112 = pd.DataFrame(data=df_close_col.iloc[-161280:-159840])
df112['row_num']=np.arange(len(df112))
df112.set_index('row_num',inplace=True)
df112 = df112.rename(columns={5:'day_112'})
print(df112)

df111 = pd.DataFrame(data=df_close_col.iloc[-159840:-158400])
df111['row_num']=np.arange(len(df111))
df111.set_index('row_num',inplace=True)
df111 = df111.rename(columns={5:'day_111'})
print(df111)

df110 = pd.DataFrame(data=df_close_col.iloc[-158400:-156960])
df110['row_num']=np.arange(len(df110))
df110.set_index('row_num',inplace=True)
df110 = df110.rename(columns={5:'day_110'})
print(df110)

df109 = pd.DataFrame(data=df_close_col.iloc[-156960:-155520])
df109['row_num']=np.arange(len(df109))
df109.set_index('row_num',inplace=True)
df109 = df109.rename(columns={5:'day_109'})
print(df109)

df108 = pd.DataFrame(data=df_close_col.iloc[-155520:-154080])
df108['row_num']=np.arange(len(df108))
df108.set_index('row_num',inplace=True)
df108 = df108.rename(columns={5:'day_108'})
print(df108)

df107 = pd.DataFrame(data=df_close_col.iloc[-154080:-152640])
df107['row_num']=np.arange(len(df107))
df107.set_index('row_num',inplace=True)
df107 = df107.rename(columns={5:'day_107'})
print(df107)

df106 = pd.DataFrame(data=df_close_col.iloc[-152640:-151200])
df106['row_num']=np.arange(len(df106))
df106.set_index('row_num',inplace=True)
df106 = df106.rename(columns={5:'day_106'})
print(df106)

df105 = pd.DataFrame(data=df_close_col.iloc[-151200:-149760])
df105['row_num']=np.arange(len(df105))
df105.set_index('row_num',inplace=True)
df105 = df105.rename(columns={5:'day_105'})
print(df105)

df104 = pd.DataFrame(data=df_close_col.iloc[-149760:-148320])
df104['row_num']=np.arange(len(df104))
df104.set_index('row_num',inplace=True)
df104 = df104.rename(columns={5:'day_104'})
print(df104)

df103 = pd.DataFrame(data=df_close_col.iloc[-148320:-146880])
df103['row_num']=np.arange(len(df103))
df103.set_index('row_num',inplace=True)
df103 = df103.rename(columns={5:'day_103'})
print(df103)

df102 = pd.DataFrame(data=df_close_col.iloc[-146880:-145440])
df102['row_num']=np.arange(len(df102))
df102.set_index('row_num',inplace=True)
df102 = df102.rename(columns={5:'day_102'})
print(df102)

df101 = pd.DataFrame(data=df_close_col.iloc[-145440:-144000])
df101['row_num']=np.arange(len(df101))
df101.set_index('row_num',inplace=True)
df101 = df101.rename(columns={5:'day_101'})
print(df101)


df100 = pd.DataFrame(data=df_close_col.iloc[-144000:-142560])
df100['row_num']=np.arange(len(df100))
df100.set_index('row_num',inplace=True)
df100 = df100.rename(columns={5:'day_100'})
print(df100)

df99 = pd.DataFrame(data=df_close_col.iloc[-142560:-141120])
df99['row_num']=np.arange(len(df99))
df99.set_index('row_num',inplace=True)
df99 = df99.rename(columns={5:'day_99'})
print(df99)

df98 = pd.DataFrame(data=df_close_col.iloc[-141120:-139680])
df98['row_num']=np.arange(len(df98))
df98.set_index('row_num',inplace=True)
df98 = df98.rename(columns={5:'day_98'})
print(df98)

df97 = pd.DataFrame(data=df_close_col.iloc[-139680:-138240])
df97['row_num']=np.arange(len(df97))
df97.set_index('row_num',inplace=True)
df97 = df97.rename(columns={5:'day_97'})
print(df97)

df96 = pd.DataFrame(data=df_close_col.iloc[-138240:-136800])
df96['row_num']=np.arange(len(df96))
df96.set_index('row_num',inplace=True)
df96 = df96.rename(columns={5:'day_96'})
print(df96)

df95 = pd.DataFrame(data=df_close_col.iloc[-136800:-135360])
df95['row_num']=np.arange(len(df95))
df95.set_index('row_num',inplace=True)
df95 = df95.rename(columns={5:'day_95'})
print(df95)

df94 = pd.DataFrame(data=df_close_col.iloc[-135360:-133920])
df94['row_num']=np.arange(len(df94))
df94.set_index('row_num',inplace=True)
df94 = df94.rename(columns={5:'day_94'})
print(df94)

df93 = pd.DataFrame(data=df_close_col.iloc[-133920:-132480])
df93['row_num']=np.arange(len(df93))
df93.set_index('row_num',inplace=True)
df93 = df93.rename(columns={5:'day_93'})
print(df93)

df92 = pd.DataFrame(data=df_close_col.iloc[-132480:-131040])
df92['row_num']=np.arange(len(df92))
df92.set_index('row_num',inplace=True)
df92 = df92.rename(columns={5:'day_92'})
print(df92)

df91 = pd.DataFrame(data=df_close_col.iloc[-131040:-129600])
df91['row_num']=np.arange(len(df91))
df91.set_index('row_num',inplace=True)
df91 = df91.rename(columns={5:'day_91'})
print(df91)

df90 = pd.DataFrame(data=df_close_col.iloc[-129600:-128160])
df90['row_num']=np.arange(len(df90))
df90.set_index('row_num',inplace=True)
df90 = df90.rename(columns={5:'day_90'})
print(df90)

df89 = pd.DataFrame(data=df_close_col.iloc[-128160:-126720])
df89['row_num']=np.arange(len(df89))
df89.set_index('row_num',inplace=True)
df89 = df89.rename(columns={5:'day_89'})
print(df89)

df88 = pd.DataFrame(data=df_close_col.iloc[-126720:-125280])
df88['row_num']=np.arange(len(df88))
df88.set_index('row_num',inplace=True)
df88 = df88.rename(columns={5:'day_88'})
print(df88)

df87 = pd.DataFrame(data=df_close_col.iloc[-125280:-123840])
df87['row_num']=np.arange(len(df87))
df87.set_index('row_num',inplace=True)
df87 = df87.rename(columns={5:'day_87'})
print(df87)

df86 = pd.DataFrame(data=df_close_col.iloc[-123840:-122400])
df86['row_num']=np.arange(len(df86))
df86.set_index('row_num',inplace=True)
df86 = df86.rename(columns={5:'day_86'})
print(df86)

df85 = pd.DataFrame(data=df_close_col.iloc[-122400:-120960])
df85['row_num']=np.arange(len(df85))
df85.set_index('row_num',inplace=True)
df85 = df85.rename(columns={5:'day_85'})
print(df85)

df84 = pd.DataFrame(data=df_close_col.iloc[-120960:-119520])
df84['row_num']=np.arange(len(df84))
df84.set_index('row_num',inplace=True)
df84 = df84.rename(columns={5:'day_84'})
print(df84)

df83 = pd.DataFrame(data=df_close_col.iloc[-119520:-118080])
df83['row_num']=np.arange(len(df83))
df83.set_index('row_num',inplace=True)
df83 = df83.rename(columns={5:'day_83'})
print(df83)

df82 = pd.DataFrame(data=df_close_col.iloc[-118080:-116640])
df82['row_num']=np.arange(len(df82))
df82.set_index('row_num',inplace=True)
df82 = df82.rename(columns={5:'day_82'})
print(df82)

df81 = pd.DataFrame(data=df_close_col.iloc[-116640:-115200])
df81['row_num']=np.arange(len(df81))
df81.set_index('row_num',inplace=True)
df81 = df81.rename(columns={5:'day_81'})
print(df81)
###df80 to df 120###

         day_120
row_num
0        1.10085
1        1.10088
2        1.10088
3        1.10083
4        1.10081
...          ...
1435     1.10278
1436     1.10299
1437     1.10281
1438     1.10313
1439     1.10322

[1440 rows x 1 columns]
         day_119
row_num
0        1.10337
1        1.10326
2        1.10298
3        1.10305
4        1.10324
...          ...
1435     1.09419
1436     1.09421
1437     1.09449
1438     1.09444
1439     1.09453

[1440 rows x 1 columns]
         day_118
row_num
0        1.09445
1        1.09429
2        1.09431
3        1.09428
4        1.09426
...          ...
1435     1.09590
1436     1.09619
1437     1.09609
1438     1.09603
1439     1.09602

[1440 rows x 1 columns]
         day_117
row_num
0        1.09603
1        1.09600
2        1.09605
3        1.09604
4        1.09610
...          ...
1435     1.09710
1436     1.09735
1437     1.09738
1438     1.09733
1439     1.09730

[1440 rows x 1 columns]
         day_116
row_num
0        1.09728
1        1.09723
2        1.09734
3        1.09733
4        1.09739
...          ...
1435     1.10710
1436     1.10712
1437     1.10725
1438     1.10720
1439     1.10723

[1440 rows x 1 columns]
         day_115
row_num
0        1.10722
1        1.10712
2        1.10712
3        1.10714
4        1.10716
...          ...
1435     1.11297
1436     1.11295
1437     1.11300
1438     1.11305
1439     1.11317

[1440 rows x 1 columns]
         day_114
row_num
0        1.11314
1        1.11319
2        1.11316
3        1.11316
4        1.11316
...          ...
1435     1.11516
1436     1.11529
1437     1.11544
1438     1.11540
1439     1.11540

[1440 rows x 1 columns]
         day_113
row_num
0        1.11530
1        1.11530
2        1.11549
3        1.11544
4        1.11535
...          ...
1435     1.10674
1436     1.10688
1437     1.10692
1438     1.10695
1439     1.10694

[1440 rows x 1 columns]
         day_112
row_num
0        1.10696
1        1.10694
2        1.10694
3        1.10691
4        1.10693
...          ...
1435     1.10078
1436     1.10089
1437     1.10090
1438     1.10095
1439     1.10091

[1440 rows x 1 columns]
         day_111
row_num
0        1.10090
1        1.10085
2        1.10084
3        1.10089
4        1.10089
...          ...
1435     1.10755
1436     1.10768
1437     1.10778
1438     1.10772
1439     1.10776

[1440 rows x 1 columns]
         day_110
row_num
0        1.10782
1        1.10786
2        1.10785
3        1.10776
4        1.10774
...          ...
1435     1.10056
1436     1.10054
1437     1.10043
1438     1.10038
1439     1.10052

[1440 rows x 1 columns]
         day_109
row_num
0        1.10053
1        1.10039
2        1.10045
3        1.10050
4        1.10055
...          ...
1435     1.10797
1436     1.10795
1437     1.10806
1438     1.10805
1439     1.10815

[1440 rows x 1 columns]
         day_108
row_num
0        1.10815
1        1.10815
2        1.10825
3        1.10825
4        1.10825
...          ...
1435     1.11327
1436     1.11336
1437     1.11337
1438     1.11332
1439     1.11332

[1440 rows x 1 columns]
         day_107
row_num
0        1.11332
1        1.11325
2        1.11329
3        1.11326
4        1.11327
...          ...
1435     1.11153
1436     1.11152
1437     1.11152
1438     1.11154
1439     1.11158

[1440 rows x 1 columns]
         day_106
row_num
0        1.11169
1        1.11170
2        1.11163
3        1.11155
4        1.11154
...          ...
1435     1.11348
1436     1.11361
1437     1.11365
1438     1.11333
1439     1.11337

[1440 rows x 1 columns]
         day_105
row_num
0        1.11356
1        1.11330
2        1.11335
3        1.11327
4        1.11346
...          ...
1435     1.11875
1436     1.11881
1437     1.11850
1438     1.11829
1439     1.11844

[1440 rows x 1 columns]
         day_104
row_num
0        1.11877
1        1.11885
2        1.11851
3        1.11838
4        1.11811
...          ...
1435     1.11306
1436     1.11340
1437     1.11360
1438     1.11350
1439     1.11344

[1440 rows x 1 columns]
         day_103
row_num
0        1.11331
1        1.11342
2        1.11351
3        1.11389
4        1.11369
...          ...
1435     1.10798
1436     1.10794
1437     1.10773
1438     1.10826
1439     1.10834

[1440 rows x 1 columns]
         day_102
row_num
0        1.10825
1        1.10832
2        1.10825
3        1.10815
4        1.10831
...          ...
1435     1.10144
1436     1.10148
1437     1.10162
1438     1.10125
1439     1.10117

[1440 rows x 1 columns]
         day_101
row_num
0        1.10113
1        1.10115
2        1.10132
3        1.10187
4        1.10198
...          ...
1435     1.10498
1436     1.10507
1437     1.10556
1438     1.10572
1439     1.10559

[1440 rows x 1 columns]
         day_100
row_num
0        1.10557
1        1.10598
2        1.10571
3        1.10581
4        1.10607
...          ...
1435     1.09240
1436     1.09229
1437     1.09199
1438     1.09196
1439     1.09153

[1440 rows x 1 columns]
          day_99
row_num
0        1.09139
1        1.09134
2        1.09116
3        1.09110
4        1.09115
...          ...
1435     1.08301
1436     1.08317
1437     1.08327
1438     1.08347
1439     1.08354

[1440 rows x 1 columns]
          day_98
row_num
0        1.08360
1        1.08355
2        1.08344
3        1.08345
4        1.08356
...          ...
1435     1.08523
1436     1.08494
1437     1.08539
1438     1.08578
1439     1.08604

[1440 rows x 1 columns]
          day_97
row_num
0        1.08614
1        1.08583
2        1.08583
3        1.08534
4        1.08539
...          ...
1435     1.11477
1436     1.11512
1437     1.11460
1438     1.11488
1439     1.11591

[1440 rows x 1 columns]
          day_96
row_num
0        1.11462
1        1.11493
2        1.11465
3        1.11570
4        1.11631
...          ...
1435     1.14329
1436     1.14385
1437     1.14311
1438     1.14385
1439     1.14571

[1440 rows x 1 columns]
          day_95
row_num
0        1.14603
1        1.14629
2        1.14649
3        1.14639
4        1.14703
...          ...
1435     1.11554
1436     1.11470
1437     1.11522
1438     1.11625
1439     1.11644

[1440 rows x 1 columns]
          day_94
row_num
0        1.11702
1        1.11646
2        1.11643
3        1.11589
4        1.11707
...          ...
1435     1.07493
1436     1.07509
1437     1.07466
1438     1.07304
1439     1.07311

[1440 rows x 1 columns]
          day_93
row_num
0        1.07289
1        1.07329
2        1.07298
3        1.07303
4        1.07298
...          ...
1435     1.10373
1436     1.10394
1437     1.10389
1438     1.10365
1439     1.10382

[1440 rows x 1 columns]
          day_92
row_num
0        1.10288
1        1.10266
2        1.10316
3        1.10393
4        1.10441
...          ...
1435     1.07992
1436     1.07986
1437     1.07998
1438     1.08003
1439     1.07985

[1440 rows x 1 columns]
          day_91
row_num
0        1.07960
1        1.07957
2        1.07952
3        1.07890
4        1.07868
...          ...
1435     1.09186
1436     1.09189
1437     1.09197
1438     1.09219
1439     1.09226

[1440 rows x 1 columns]
          day_90
row_num
0        1.09198
1        1.09171
2        1.09138
3        1.09136
4        1.09139
...          ...
1435     1.08633
1436     1.08615
1437     1.08610
1438     1.08664
1439     1.08645

[1440 rows x 1 columns]
          day_89
row_num
0        1.08645
1        1.08654
2        1.08639
3        1.08622
4        1.08608
...          ...
1435     1.08329
1436     1.08320
1437     1.08298
1438     1.08289
1439     1.08298

[1440 rows x 1 columns]
          day_88
row_num
0        1.08298
1        1.08289
2        1.08310
3        1.08326
4        1.08310
...          ...
1435     1.09069
1436     1.09062
1437     1.09055
1438     1.09074
1439     1.09085

[1440 rows x 1 columns]
          day_87
row_num
0        1.09073
1        1.09085
2        1.09085
3        1.09084
4        1.09059
...          ...
1435     1.08106
1436     1.08103
1437     1.08100
1438     1.08105
1439     1.08098

[1440 rows x 1 columns]
          day_86
row_num
0        1.08121
1        1.08125
2        1.08136
3        1.08150
4        1.08149
...          ...
1435     1.09151
1436     1.09146
1437     1.09150
1438     1.09140
1439     1.09173

[1440 rows x 1 columns]
          day_85
row_num
0        1.09150
1        1.09169
2        1.09182
3        1.09196
4        1.09182
...          ...
1435     1.08975
1436     1.08967
1437     1.08976
1438     1.08979
1439     1.08980

[1440 rows x 1 columns]
          day_84
row_num
0        1.08979
1        1.08980
2        1.08979
3        1.08972
4        1.08963
...          ...
1435     1.11346
1436     1.11353
1437     1.11336
1438     1.11305
1439     1.11312

[1440 rows x 1 columns]
          day_83
row_num
0        1.11334
1        1.11305
2        1.11320
3        1.11350
4        1.11331
...          ...
1435     1.12996
1436     1.12987
1437     1.12998
1438     1.13009
1439     1.13003

[1440 rows x 1 columns]
          day_82
row_num
0        1.12978
1        1.12982
2        1.12970
3        1.12957
4        1.12940
...          ...
1435     1.13162
1436     1.13140
1437     1.13101
1438     1.13080
1439     1.13112

[1440 rows x 1 columns]
          day_81
row_num
0        1.13098
1        1.13141
2        1.13157
3        1.13145
4        1.13154
...          ...
1435     1.12598
1436     1.12602
1437     1.12611
1438     1.12582
1439     1.12593

[1440 rows x 1 columns]

In [26]:
###df40 to df80###
df80 = pd.DataFrame(data=df_close_col.iloc[-115200:-113760])
df80['row_num']=np.arange(len(df80))
df80.set_index('row_num',inplace=True)
df80 = df80.rename(columns={5:'day_80'})
print(df80)

df79 = pd.DataFrame(data=df_close_col.iloc[-113760:-112320])
df79['row_num']=np.arange(len(df79))
df79.set_index('row_num',inplace=True)
df79 = df79.rename(columns={5:'day_79'})
print(df79)

df78 = pd.DataFrame(data=df_close_col.iloc[-112320:-110880])
df78['row_num']=np.arange(len(df78))
df78.set_index('row_num',inplace=True)
df78 = df78.rename(columns={5:'day_78'})
print(df78)

df77 = pd.DataFrame(data=df_close_col.iloc[-110880:-109440])
df77['row_num']=np.arange(len(df77))
df77.set_index('row_num',inplace=True)
df77 = df77.rename(columns={5:'day_77'})
print(df77)

df76 = pd.DataFrame(data=df_close_col.iloc[-109440:-108000])
df76['row_num']=np.arange(len(df76))
df76.set_index('row_num',inplace=True)
df76 = df76.rename(columns={5:'day_76'})
print(df76)

df75 = pd.DataFrame(data=df_close_col.iloc[-108000:-106560])
df75['row_num']=np.arange(len(df75))
df75.set_index('row_num',inplace=True)
df75 = df75.rename(columns={5:'day_75'})
print(df75)

df74 = pd.DataFrame(data=df_close_col.iloc[-106560:-105120])
df74['row_num']=np.arange(len(df74))
df74.set_index('row_num',inplace=True)
df74 = df74.rename(columns={5:'day_74'})
print(df74)

df73 = pd.DataFrame(data=df_close_col.iloc[-105120:-103680])
df73['row_num']=np.arange(len(df73))
df73.set_index('row_num',inplace=True)
df73 = df73.rename(columns={5:'day_73'})
print(df73)

df72 = pd.DataFrame(data=df_close_col.iloc[-103680:-102240])
df72['row_num']=np.arange(len(df72))
df72.set_index('row_num',inplace=True)
df72 = df72.rename(columns={5:'day_72'})
print(df72)

df71 = pd.DataFrame(data=df_close_col.iloc[-102240:-100800])
df71['row_num']=np.arange(len(df71))
df71.set_index('row_num',inplace=True)
df71 = df71.rename(columns={5:'day_71'})
print(df71)

df70 = pd.DataFrame(data=df_close_col.iloc[-100800:-99360])
df70['row_num']=np.arange(len(df70))
df70.set_index('row_num',inplace=True)
df70 = df70.rename(columns={5:'day_70'})
print(df70)

df69 = pd.DataFrame(data=df_close_col.iloc[-99360:-97920])
df69['row_num']=np.arange(len(df69))
df69.set_index('row_num',inplace=True)
df69 = df69.rename(columns={5:'day_69'})
print(df69)

df68 = pd.DataFrame(data=df_close_col.iloc[-97920:-96480])
df68['row_num']=np.arange(len(df68))
df68.set_index('row_num',inplace=True)
df68 = df68.rename(columns={5:'day_68'})
print(df68)

df67 = pd.DataFrame(data=df_close_col.iloc[-96480:-95040])
df67['row_num']=np.arange(len(df67))
df67.set_index('row_num',inplace=True)
df67 = df67.rename(columns={5:'day_67'})
print(df67)

df66 = pd.DataFrame(data=df_close_col.iloc[-95040:-93600])
df66['row_num']=np.arange(len(df66))
df66.set_index('row_num',inplace=True)
df66 = df66.rename(columns={5:'day_66'})
print(df66)

df65 = pd.DataFrame(data=df_close_col.iloc[-93600:-92160])
df65['row_num']=np.arange(len(df65))
df65.set_index('row_num',inplace=True)
df65 = df65.rename(columns={5:'day_65'})
print(df65)

df64 = pd.DataFrame(data=df_close_col.iloc[-92160:-90720])
df64['row_num']=np.arange(len(df64))
df64.set_index('row_num',inplace=True)
df64 = df64.rename(columns={5:'day_64'})
print(df64)

df63 = pd.DataFrame(data=df_close_col.iloc[-90720:-89280])
df63['row_num']=np.arange(len(df63))
df63.set_index('row_num',inplace=True)
df63 = df63.rename(columns={5:'day_63'})
print(df63)

df62 = pd.DataFrame(data=df_close_col.iloc[-89280:-87840])
df62['row_num']=np.arange(len(df62))
df62.set_index('row_num',inplace=True)
df62 = df62.rename(columns={5:'day_62'})
print(df62)

df61 = pd.DataFrame(data=df_close_col.iloc[-87840:-86400])
df61['row_num']=np.arange(len(df61))
df61.set_index('row_num',inplace=True)
df61 = df61.rename(columns={5:'day_61'})
print(df61)


df60 = pd.DataFrame(data=df_close_col.iloc[-86400:-84960])
df60['row_num']=np.arange(len(df60))
df60.set_index('row_num',inplace=True)
df60 = df60.rename(columns={5:'day_60'})
print(df60)

df59 = pd.DataFrame(data=df_close_col.iloc[-84960:-83520])
df59['row_num']=np.arange(len(df59))
df59.set_index('row_num',inplace=True)
df59 = df59.rename(columns={5:'day_59'})
print(df59)

df58 = pd.DataFrame(data=df_close_col.iloc[-83520:-82080])
df58['row_num']=np.arange(len(df58))
df58.set_index('row_num',inplace=True)
df58 = df58.rename(columns={5:'day_58'})
print(df58)

df57 = pd.DataFrame(data=df_close_col.iloc[-82080:-80640])
df57['row_num']=np.arange(len(df57))
df57.set_index('row_num',inplace=True)
df57 = df57.rename(columns={5:'day_57'})
print(df57)

df56 = pd.DataFrame(data=df_close_col.iloc[-80640:-79200])
df56['row_num']=np.arange(len(df56))
df56.set_index('row_num',inplace=True)
df56 = df56.rename(columns={5:'day_56'})
print(df56)

df55 = pd.DataFrame(data=df_close_col.iloc[-79200:-77760])
df55['row_num']=np.arange(len(df55))
df55.set_index('row_num',inplace=True)
df55 = df55.rename(columns={5:'day_55'})
print(df55)

df54 = pd.DataFrame(data=df_close_col.iloc[-77760:-76320])
df54['row_num']=np.arange(len(df54))
df54.set_index('row_num',inplace=True)
df54 = df54.rename(columns={5:'day_54'})
print(df54)

df53 = pd.DataFrame(data=df_close_col.iloc[-76320:-74880])
df53['row_num']=np.arange(len(df53))
df53.set_index('row_num',inplace=True)
df53 = df53.rename(columns={5:'day_53'})
print(df53)

df52 = pd.DataFrame(data=df_close_col.iloc[-74880:-73440])
df52['row_num']=np.arange(len(df52))
df52.set_index('row_num',inplace=True)
df52 = df52.rename(columns={5:'day_52'})
print(df52)

df51 = pd.DataFrame(data=df_close_col.iloc[-73440:-72000])
df51['row_num']=np.arange(len(df51))
df51.set_index('row_num',inplace=True)
df51 = df51.rename(columns={5:'day_51'})
print(df51)

df50 = pd.DataFrame(data=df_close_col.iloc[-72000:-70560])
df50['row_num']=np.arange(len(df50))
df50.set_index('row_num',inplace=True)
df50 = df50.rename(columns={5:'day_50'})
print(df50)

df49 = pd.DataFrame(data=df_close_col.iloc[-70560:-69120])
df49['row_num']=np.arange(len(df49))
df49.set_index('row_num',inplace=True)
df49 = df49.rename(columns={5:'day_49'})
print(df49)

df48 = pd.DataFrame(data=df_close_col.iloc[-69120:-67680])
df48['row_num']=np.arange(len(df48))
df48.set_index('row_num',inplace=True)
df48 = df48.rename(columns={5:'day_48'})
print(df48)

df47 = pd.DataFrame(data=df_close_col.iloc[-67680:-66240])
df47['row_num']=np.arange(len(df47))
df47.set_index('row_num',inplace=True)
df47 = df47.rename(columns={5:'day_47'})
print(df47)

df46 = pd.DataFrame(data=df_close_col.iloc[-66240:-64800])
df46['row_num']=np.arange(len(df46))
df46.set_index('row_num',inplace=True)
df46 = df46.rename(columns={5:'day_46'})
print(df46)

df45 = pd.DataFrame(data=df_close_col.iloc[-64800:-63360])
df45['row_num']=np.arange(len(df45))
df45.set_index('row_num',inplace=True)
df45 = df45.rename(columns={5:'day_45'})
print(df45)

df44 = pd.DataFrame(data=df_close_col.iloc[-63360:-61920])
df44['row_num']=np.arange(len(df44))
df44.set_index('row_num',inplace=True)
df44 = df44.rename(columns={5:'day_44'})
print(df44)

df43 = pd.DataFrame(data=df_close_col.iloc[-61920:-60480])
df43['row_num']=np.arange(len(df43))
df43.set_index('row_num',inplace=True)
df43 = df43.rename(columns={5:'day_43'})
print(df43)

df42 = pd.DataFrame(data=df_close_col.iloc[-60480:-59040])
df42['row_num']=np.arange(len(df42))
df42.set_index('row_num',inplace=True)
df42 = df42.rename(columns={5:'day_42'})
print(df42)

df41 = pd.DataFrame(data=df_close_col.iloc[-59040:-57600])
df41['row_num']=np.arange(len(df41))
df41.set_index('row_num',inplace=True)
df41 = df41.rename(columns={5:'day_41'})
print(df41)
###df40 to df80###

          day_80
row_num
0        1.12555
1        1.12549
2        1.12565
3        1.12577
4        1.12598
...          ...
1435     1.12350
1436     1.12345
1437     1.12368
1438     1.12358
1439     1.12363

[1440 rows x 1 columns]
          day_79
row_num
0        1.12358
1        1.12371
2        1.12378
3        1.12379
4        1.12383
...          ...
1435     1.13079
1436     1.13072
1437     1.13074
1438     1.13089
1439     1.13119

[1440 rows x 1 columns]
          day_78
row_num
0        1.13112
1        1.13113
2        1.13098
3        1.13095
4        1.13085
...          ...
1435     1.13456
1436     1.13436
1437     1.13495
1438     1.13448
1439     1.13450

[1440 rows x 1 columns]
          day_77
row_num
0        1.13451
1        1.13458
2        1.13468
3        1.13479
4        1.13451
...          ...
1435     1.14461
1436     1.14480
1437     1.14443
1438     1.14441
1439     1.14467

[1440 rows x 1 columns]
          day_76
row_num
0        1.14455
1        1.14455
2        1.14466
3        1.14476
4        1.14483
...          ...
1435     1.17453
1436     1.17460
1437     1.17471
1438     1.17471
1439     1.17480

[1440 rows x 1 columns]
          day_75
row_num
0        1.17486
1        1.17479
2        1.17454
3        1.17450
4        1.17464
...          ...
1435     1.17661
1436     1.17637
1437     1.17641
1438     1.17657
1439     1.17657

[1440 rows x 1 columns]
          day_74
row_num
0        1.17673
1        1.17665
2        1.17650
3        1.17670
4        1.17647
...          ...
1435     1.17408
1436     1.17405
1437     1.17418
1438     1.17401
1439     1.17403

[1440 rows x 1 columns]
          day_73
row_num
0        1.17400
1        1.17391
2        1.17391
3        1.17381
4        1.17369
...          ...
1435     1.18706
1436     1.18702
1437     1.18723
1438     1.18726
1439     1.18719

[1440 rows x 1 columns]
          day_72
row_num
0        1.18732
1        1.18735
2        1.18726
3        1.18721
4        1.18698
...          ...
1435     1.17875
1436     1.17871
1437     1.17854
1438     1.17880
1439     1.17860

[1440 rows x 1 columns]
          day_71
row_num
0        1.17861
1        1.17877
2        1.17873
3        1.17911
4        1.17875
...          ...
1435     1.19358
1436     1.19361
1437     1.19351
1438     1.19365
1439     1.19371

[1440 rows x 1 columns]
          day_70
row_num
0        1.19361
1        1.19368
2        1.19365
3        1.19351
4        1.19357
...          ...
1435     1.18123
1436     1.18117
1437     1.18132
1438     1.18136
1439     1.18141

[1440 rows x 1 columns]
          day_69
row_num
0        1.18133
1        1.18133
2        1.18123
3        1.18133
4        1.18133
...          ...
1435     1.18628
1436     1.18643
1437     1.18626
1438     1.18644
1439     1.18648

[1440 rows x 1 columns]
          day_68
row_num
0        1.18642
1        1.18642
2        1.18652
3        1.18656
4        1.18645
...          ...
1435     1.17700
1436     1.17713
1437     1.17728
1438     1.17719
1439     1.17709

[1440 rows x 1 columns]
          day_67
row_num
0        1.17699
1        1.17700
2        1.17674
3        1.17693
4        1.17671
...          ...
1435     1.16623
1436     1.16640
1437     1.16643
1438     1.16640
1439     1.16623

[1440 rows x 1 columns]
          day_66
row_num
0        1.16639
1        1.16638
2        1.16635
3        1.16635
4        1.16635
...          ...
1435     1.17809
1436     1.17821
1437     1.17828
1438     1.17810
1439     1.17805

[1440 rows x 1 columns]
          day_65
row_num
0        1.17795
1        1.17794
2        1.17808
3        1.17835
4        1.17853
...          ...
1435     1.18112
1436     1.18095
1437     1.18101
1438     1.18102
1439     1.18122

[1440 rows x 1 columns]
          day_64
row_num
0        1.18127
1        1.18132
2        1.18128
3        1.18123
4        1.18130
...          ...
1435     1.17657
1436     1.17664
1437     1.17667
1438     1.17663
1439     1.17684

[1440 rows x 1 columns]
          day_63
row_num
0        1.17695
1        1.17696
2        1.17701
3        1.17700
4        1.17702
...          ...
1435     1.18083
1436     1.18071
1437     1.18089
1438     1.18098
1439     1.18094

[1440 rows x 1 columns]
          day_62
row_num
0        1.18093
1        1.18090
2        1.18095
3        1.18097
4        1.18102
...          ...
1435     1.16402
1436     1.16387
1437     1.16377
1438     1.16382
1439     1.16393

[1440 rows x 1 columns]
          day_61
row_num
0        1.16431
1        1.16442
2        1.16408
3        1.16413
4        1.16419
...          ...
1435     1.18239
1436     1.18177
1437     1.18207
1438     1.18151
1439     1.18104

[1440 rows x 1 columns]
          day_60
row_num
0        1.18080
1        1.18123
2        1.18114
3        1.18107
4        1.18127
...          ...
1435     1.18610
1436     1.18609
1437     1.18611
1438     1.18597
1439     1.18616

[1440 rows x 1 columns]
          day_59
row_num
0        1.18611
1        1.18636
2        1.18636
3        1.18627
4        1.18634
...          ...
1435     1.18398
1436     1.18394
1437     1.18400
1438     1.18393
1439     1.18406

[1440 rows x 1 columns]
          day_58
row_num
0        1.18427
1        1.18409
2        1.18415
3        1.18399
4        1.18397
...          ...
1435     1.19380
1436     1.19383
1437     1.19377
1438     1.19409
1439     1.19416

[1440 rows x 1 columns]
          day_57
row_num
0        1.19433
1        1.19432
2        1.19445
3        1.19422
4        1.19431
...          ...
1435     1.21096
1436     1.21097
1437     1.21079
1438     1.21091
1439     1.21094

[1440 rows x 1 columns]
          day_56
row_num
0        1.21093
1        1.21097
2        1.21057
3        1.21078
4        1.21083
...          ...
1435     1.21493
1436     1.21497
1437     1.21525
1438     1.21522
1439     1.21525

[1440 rows x 1 columns]
          day_55
row_num
0        1.21532
1        1.21584
2        1.21571
3        1.21587
4        1.21588
...          ...
1435     1.22364
1436     1.22348
1437     1.22353
1438     1.22324
1439     1.22310

[1440 rows x 1 columns]
          day_54
row_num
0        1.22293
1        1.22310
2        1.22326
3        1.22302
4        1.22318
...          ...
1435     1.22882
1436     1.22857
1437     1.22853
1438     1.22849
1439     1.22825

[1440 rows x 1 columns]
          day_53
row_num
0        1.22844
1        1.22828
2        1.22831
3        1.22831
4        1.22875
...          ...
1435     1.23146
1436     1.23124
1437     1.23138
1438     1.23117
1439     1.23135

[1440 rows x 1 columns]
          day_52
row_num
0        1.23125
1        1.23110
2        1.23093
3        1.23130
4        1.23169
...          ...
1435     1.21499
1436     1.21510
1437     1.21526
1438     1.21504
1439     1.21552

[1440 rows x 1 columns]
          day_51
row_num
0        1.21517
1        1.21532
2        1.21544
3        1.21514
4        1.21504
...          ...
1435     1.21353
1436     1.21360
1437     1.21355
1438     1.21346
1439     1.21339

[1440 rows x 1 columns]
          day_50
row_num
0        1.21348
1        1.21356
2        1.21344
3        1.21332
4        1.21343
...          ...
1435     1.20943
1436     1.20975
1437     1.21052
1438     1.20955
1439     1.20938

[1440 rows x 1 columns]
          day_49
row_num
0        1.20953
1        1.20944
2        1.20977
3        1.20991
4        1.20962
...          ...
1435     1.20145
1436     1.20170
1437     1.20144
1438     1.20137
1439     1.20118

[1440 rows x 1 columns]
          day_48
row_num
0        1.20106
1        1.20107
2        1.20109
3        1.20133
4        1.20141
...          ...
1435     1.21265
1436     1.21286
1437     1.21282
1438     1.21274
1439     1.21276

[1440 rows x 1 columns]
          day_47
row_num
0        1.21279
1        1.21264
2        1.21271
3        1.21267
4        1.21279
...          ...
1435     1.20453
1436     1.20446
1437     1.20438
1438     1.20451
1439     1.20462

[1440 rows x 1 columns]
          day_46
row_num
0        1.20462
1        1.20455
2        1.20448
3        1.20436
4        1.20432
...          ...
1435     1.21757
1436     1.21760
1437     1.21756
1438     1.21761
1439     1.21793

[1440 rows x 1 columns]
          day_45
row_num
0        1.21776
1        1.21782
2        1.21791
3        1.21807
4        1.21808
...          ...
1435     1.20579
1436     1.20576
1437     1.20580
1438     1.20604
1439     1.20587

[1440 rows x 1 columns]
          day_44
row_num
0        1.20577
1        1.20562
2        1.20568
3        1.20591
4        1.20613
...          ...
1435     1.19225
1436     1.19217
1437     1.19231
1438     1.19239
1439     1.19281

[1440 rows x 1 columns]
          day_43
row_num
0        1.19298
1        1.19313
2        1.19314
3        1.19300
4        1.19285
...          ...
1435     1.19702
1436     1.19706
1437     1.19715
1438     1.19733
1439     1.19762

[1440 rows x 1 columns]
          day_42
row_num
0        1.19777
1        1.19789
2        1.19793
3        1.19845
4        1.19861
...          ...
1435     1.18141
1436     1.18131
1437     1.18170
1438     1.18151
1439     1.18099

[1440 rows x 1 columns]
          day_41
row_num
0        1.18124
1        1.18059
2        1.18080
3        1.18082
4        1.18057
...          ...
1435     1.17397
1436     1.17369
1437     1.17346
1438     1.17340
1439     1.17360

[1440 rows x 1 columns]

In [27]:
###df1 to df40###
df40 = pd.DataFrame(data=df_close_col.iloc[-57600:-56160])
df40['row_num']=np.arange(len(df40))
df40.set_index('row_num',inplace=True)
df40 = df40.rename(columns={5:'day_40'})
print(df40)

df39 = pd.DataFrame(data=df_close_col.iloc[-56160:-54720])
df39['row_num']=np.arange(len(df39))
df39.set_index('row_num',inplace=True)
df39 = df39.rename(columns={5:'day_39'})
print(df39)

df38 = pd.DataFrame(data=df_close_col.iloc[-54720:-53280])
df38['row_num']=np.arange(len(df38))
df38.set_index('row_num',inplace=True)
df38 = df38.rename(columns={5:'day_38'})
print(df38)

df37 = pd.DataFrame(data=df_close_col.iloc[-53280:-51840])
df37['row_num']=np.arange(len(df37))
df37.set_index('row_num',inplace=True)
df37 = df37.rename(columns={5:'day_37'})
print(df37)

df36 = pd.DataFrame(data=df_close_col.iloc[-51840:-50400])
df36['row_num']=np.arange(len(df36))
df36.set_index('row_num',inplace=True)
df36 = df36.rename(columns={5:'day_36'})
print(df36)

df35 = pd.DataFrame(data=df_close_col.iloc[-50400:-48960])
df35['row_num']=np.arange(len(df35))
df35.set_index('row_num',inplace=True)
df35 = df35.rename(columns={5:'day_35'})
print(df35)

df34 = pd.DataFrame(data=df_close_col.iloc[-48960:-47520])
df34['row_num']=np.arange(len(df34))
df34.set_index('row_num',inplace=True)
df34 = df34.rename(columns={5:'day_34'})
print(df34)

df33 = pd.DataFrame(data=df_close_col.iloc[-47520:-46080])
df33['row_num']=np.arange(len(df33))
df33.set_index('row_num',inplace=True)
df33 = df33.rename(columns={5:'day_33'})
print(df33)

df32 = pd.DataFrame(data=df_close_col.iloc[-46080:-44640])
df32['row_num']=np.arange(len(df32))
df32.set_index('row_num',inplace=True)
df32 = df32.rename(columns={5:'day_32'})
print(df32)

df31 = pd.DataFrame(data=df_close_col.iloc[-44640:-43200])
df31['row_num']=np.arange(len(df31))
df31.set_index('row_num',inplace=True)
df31 = df31.rename(columns={5:'day_31'})
print(df31)

df30 = pd.DataFrame(data=df_close_col.iloc[-43200:-41760])
df30['row_num']=np.arange(len(df30))
df30.set_index('row_num',inplace=True)
df30 = df30.rename(columns={5:'day_30'})
print(df30)

df29 = pd.DataFrame(data=df_close_col.iloc[-41760:-40320])
df29['row_num']=np.arange(len(df29))
df29.set_index('row_num',inplace=True)
df29 = df29.rename(columns={5:'day_29'})
print(df29)

df28 = pd.DataFrame(data=df_close_col.iloc[-40320:-38880])
df28['row_num']=np.arange(len(df28))
df28.set_index('row_num',inplace=True)
df28 = df28.rename(columns={5:'day_28'})
print(df28)

df27 = pd.DataFrame(data=df_close_col.iloc[-38880:-37440])
df27['row_num']=np.arange(len(df27))
df27.set_index('row_num',inplace=True)
df27 = df27.rename(columns={5:'day_27'})
print(df27)

df26 = pd.DataFrame(data=df_close_col.iloc[-37440:-36000])
df26['row_num']=np.arange(len(df26))
df26.set_index('row_num',inplace=True)
df26 = df26.rename(columns={5:'day_26'})
print(df26)

df25 = pd.DataFrame(data=df_close_col.iloc[-36000:-34560])
df25['row_num']=np.arange(len(df25))
df25.set_index('row_num',inplace=True)
df25 = df25.rename(columns={5:'day_25'})
print(df25)

df24 = pd.DataFrame(data=df_close_col.iloc[-34560:-33120])
df24['row_num']=np.arange(len(df24))
df24.set_index('row_num',inplace=True)
df24 = df24.rename(columns={5:'day_24'})
print(df24)

df23 = pd.DataFrame(data=df_close_col.iloc[-33120:-31680])
df23['row_num']=np.arange(len(df23))
df23.set_index('row_num',inplace=True)
df23 = df23.rename(columns={5:'day_23'})
print(df23)

df22 = pd.DataFrame(data=df_close_col.iloc[-31680:-30240])
df22['row_num']=np.arange(len(df22))
df22.set_index('row_num',inplace=True)
df22 = df22.rename(columns={5:'day_22'})
print(df22)

df21 = pd.DataFrame(data=df_close_col.iloc[-30240:-28800])
df21['row_num']=np.arange(len(df21))
df21.set_index('row_num',inplace=True)
df21 = df21.rename(columns={5:'day_21'})
print(df21)


df20 = pd.DataFrame(data=df_close_col.iloc[-28800:-27360])
df20['row_num']=np.arange(len(df20))
df20.set_index('row_num',inplace=True)
df20 = df20.rename(columns={5:'day_20'})
print(df20)

df19 = pd.DataFrame(data=df_close_col.iloc[-27360:-25920])
df19['row_num']=np.arange(len(df19))
df19.set_index('row_num',inplace=True)
df19 = df19.rename(columns={5:'day_19'})
print(df19)

df18 = pd.DataFrame(data=df_close_col.iloc[-25920:-24480])
df18['row_num']=np.arange(len(df18))
df18.set_index('row_num',inplace=True)
df18 = df18.rename(columns={5:'day_18'})
print(df18)

df17 = pd.DataFrame(data=df_close_col.iloc[-24480:-23040])
df17['row_num']=np.arange(len(df17))
df17.set_index('row_num',inplace=True)
df17 = df17.rename(columns={5:'day_17'})
print(df17)

df16 = pd.DataFrame(data=df_close_col.iloc[-23040:-21600])
df16['row_num']=np.arange(len(df16))
df16.set_index('row_num',inplace=True)
df16 = df16.rename(columns={5:'day_16'})
print(df16)

df15 = pd.DataFrame(data=df_close_col.iloc[-21600:-20160])
df15['row_num']=np.arange(len(df15))
df15.set_index('row_num',inplace=True)
df15 = df15.rename(columns={5:'day_15'})
print(df15)

df14 = pd.DataFrame(data=df_close_col.iloc[-20160:-18720])
df14['row_num']=np.arange(len(df14))
df14.set_index('row_num',inplace=True)
df14 = df14.rename(columns={5:'day_14'})
print(df14)

df13 = pd.DataFrame(data=df_close_col.iloc[-18720:-17280])
df13['row_num']=np.arange(len(df13))
df13.set_index('row_num',inplace=True)
df13 = df13.rename(columns={5:'day_13'})
print(df13)

df12 = pd.DataFrame(data=df_close_col.iloc[-17280:-15840])
df12['row_num']=np.arange(len(df12))
df12.set_index('row_num',inplace=True)
df12 = df12.rename(columns={5:'day_12'})
print(df12)

df11 = pd.DataFrame(data=df_close_col.iloc[-15840:-14400])
df11['row_num']=np.arange(len(df11))
df11.set_index('row_num',inplace=True)
df11 = df11.rename(columns={5:'day_11'})
print(df11)

df10 = pd.DataFrame(data=df_close_col.iloc[-14400:-12960])
df10['row_num']=np.arange(len(df10))
df10.set_index('row_num',inplace=True)
df10 = df10.rename(columns={5:'day_10'})
print(df10)

df9 = pd.DataFrame(data=df_close_col.iloc[-12960:-11520])
df9['row_num']=np.arange(len(df9))
df9.set_index('row_num',inplace=True)
df9 = df9.rename(columns={5:'day_9'})
print(df9)

df8 = pd.DataFrame(data=df_close_col.iloc[-11520:-10080])
df8['row_num']=np.arange(len(df8))
df8.set_index('row_num',inplace=True)
df8 = df8.rename(columns={5:'day_8'})
print(df8)

df7 = pd.DataFrame(data=df_close_col.iloc[-10080:-8640])
df7['row_num']=np.arange(len(df7))
df7.set_index('row_num',inplace=True)
df7 = df7.rename(columns={5:'day_7'})
print(df7)

df6 = pd.DataFrame(data=df_close_col.iloc[-8640:-7200])
df6['row_num']=np.arange(len(df6))
df6.set_index('row_num',inplace=True)
df6 = df6.rename(columns={5:'day_6'})
print(df6)

df5 = pd.DataFrame(data=df_close_col.iloc[-7200:-5760])
df5['row_num']=np.arange(len(df5))
df5.set_index('row_num',inplace=True)
df5 = df5.rename(columns={5:'day_5'})
print(df5)

df4 = pd.DataFrame(data=df_close_col.iloc[-5760:-4320])
df4['row_num']=np.arange(len(df4))
df4.set_index('row_num',inplace=True)
df4 = df4.rename(columns={5:'day_4'})
print(df4)

df3 = pd.DataFrame(data=df_close_col.iloc[-4320:-2880])
df3['row_num']=np.arange(len(df3))
df3.set_index('row_num',inplace=True)
df3 = df3.rename(columns={5:'day_3'})
print(df3)

df2 = pd.DataFrame(data=df_close_col.iloc[-2880:-1440])
df2['row_num']=np.arange(len(df2))
df2.set_index('row_num',inplace=True)
df2 = df2.rename(columns={5:'day_2'})
print(df2)

df1 = pd.DataFrame(data=df_close_col.iloc[-1440:])
df1['row_num']=np.arange(len(df1))
df1.set_index('row_num',inplace=True)
df1 = df1.rename(columns={5:'day_1'})
print(df1)
###df1 to df40###

          day_40
row_num
0        1.17413
1        1.17395
2        1.17379
3        1.17402
4        1.17420
...          ...
1435     1.18829
1436     1.18812
1437     1.18789
1438     1.18829
1439     1.18838

[1440 rows x 1 columns]
          day_39
row_num
0        1.18818
1        1.18796
2        1.18774
3        1.18790
4        1.18822
...          ...
1435     1.19796
1436     1.19822
1437     1.19782
1438     1.19803
1439     1.19764

[1440 rows x 1 columns]
          day_38
row_num
0        1.19778
1        1.19768
2        1.19759
3        1.19752
4        1.19772
...          ...
1435     1.20447
1436     1.20440
1437     1.20443
1438     1.20445
1439     1.20439

[1440 rows x 1 columns]
          day_37
row_num
0        1.20377
1        1.20379
2        1.20385
3        1.20397
4        1.20377
...          ...
1435     1.21156
1436     1.21162
1437     1.21176
1438     1.21199
1439     1.21185

[1440 rows x 1 columns]
          day_36
row_num
0        1.21210
1        1.21143
2        1.21141
3        1.21155
4        1.21143
...          ...
1435     1.20234
1436     1.20256
1437     1.20268
1438     1.20330
1439     1.20308

[1440 rows x 1 columns]
          day_35
row_num
0        1.20324
1        1.20370
2        1.20433
3        1.20389
4        1.20383
...          ...
1435     1.20897
1436     1.20907
1437     1.20908
1438     1.20848
1439     1.20814

[1440 rows x 1 columns]
          day_34
row_num
0        1.20846
1        1.20812
2        1.20730
3        1.20566
4        1.20542
...          ...
1435     1.22040
1436     1.22018
1437     1.22001
1438     1.21995
1439     1.21959

[1440 rows x 1 columns]
          day_33
row_num
0        1.21926
1        1.21911
2        1.21920
3        1.21868
4        1.21883
...          ...
1435     1.22097
1436     1.22100
1437     1.22118
1438     1.22083
1439     1.22032

[1440 rows x 1 columns]
          day_32
row_num
0        1.22002
1        1.21964
2        1.21934
3        1.21827
4        1.21882
...          ...
1435     1.21851
1436     1.21877
1437     1.21869
1438     1.21921
1439     1.21901

[1440 rows x 1 columns]
          day_31
row_num
0        1.21919
1        1.21926
2        1.21870
3        1.21878
4        1.21886
...          ...
1435     1.21647
1436     1.21662
1437     1.21665
1438     1.21705
1439     1.21682

[1440 rows x 1 columns]
          day_30
row_num
0        1.21665
1        1.21663
2        1.21668
3        1.21700
4        1.21694
...          ...
1435     1.19332
1436     1.19334
1437     1.19349
1438     1.19354
1439     1.19337

[1440 rows x 1 columns]
          day_29
row_num
0        1.19330
1        1.19366
2        1.19381
3        1.19361
4        1.19366
...          ...
1435     1.19437
1436     1.19435
1437     1.19459
1438     1.19453
1439     1.19417

[1440 rows x 1 columns]
          day_28
row_num
0        1.19361
1        1.19332
2        1.19286
3        1.19234
4        1.19246
...          ...
1435     1.18602
1436     1.18622
1437     1.18645
1438     1.18652
1439     1.18612

[1440 rows x 1 columns]
          day_27
row_num
0        1.18592
1        1.18631
2        1.18638
3        1.18667
4        1.18682
...          ...
1435     1.18588
1436     1.18616
1437     1.18630
1438     1.18626
1439     1.18637

[1440 rows x 1 columns]
          day_26
row_num
0        1.18654
1        1.18607
2        1.18614
3        1.18531
4        1.18558
...          ...
1435     1.18178
1436     1.18154
1437     1.18212
1438     1.18180
1439     1.18126

[1440 rows x 1 columns]
          day_25
row_num
0        1.18138
1        1.18131
2        1.18178
3        1.18172
4        1.18184
...          ...
1435     1.17933
1436     1.17950
1437     1.17920
1438     1.17875
1439     1.17929

[1440 rows x 1 columns]
          day_24
row_num
0        1.17932
1        1.17912
2        1.17869
3        1.17857
4        1.17838
...          ...
1435     1.18850
1436     1.18850
1437     1.18860
1438     1.18824
1439     1.18872

[1440 rows x 1 columns]
          day_23
row_num
0        1.18857
1        1.18884
2        1.18899
3        1.18890
4        1.18894
...          ...
1435     1.18464
1436     1.18413
1437     1.18445
1438     1.18409
1439     1.18391

[1440 rows x 1 columns]
          day_22
row_num
0        1.18360
1        1.18387
2        1.18404
3        1.18393
4        1.18415
...          ...
1435     1.17281
1436     1.17291
1437     1.17297
1438     1.17281
1439     1.17306

[1440 rows x 1 columns]
          day_21
row_num
0        1.17300
1        1.17285
2        1.17325
3        1.17350
4        1.17334
...          ...
1435     1.16826
1436     1.16856
1437     1.16799
1438     1.16828
1439     1.16867

[1440 rows x 1 columns]
          day_20
row_num
0        1.16860
1        1.16889
2        1.16895
3        1.16943
4        1.16948
...          ...
1435     1.17541
1436     1.17612
1437     1.17599
1438     1.17617
1439     1.17603

[1440 rows x 1 columns]
          day_19
row_num
0        1.17617
1        1.17599
2        1.17620
3        1.17614
4        1.17578
...          ...
1435     1.18668
1436     1.18681
1437     1.18642
1438     1.18618
1439     1.18620

[1440 rows x 1 columns]
          day_18
row_num
0        1.18608
1        1.18616
2        1.18620
3        1.18620
4        1.18592
...          ...
1435     1.18151
1436     1.18149
1437     1.18164
1438     1.18201
1439     1.18241

[1440 rows x 1 columns]
          day_17
row_num
0        1.18244
1        1.18242
2        1.18241
3        1.18247
4        1.18272
...          ...
1435     1.17641
1436     1.17599
1437     1.17575
1438     1.17590
1439     1.17578

[1440 rows x 1 columns]
          day_16
row_num
0        1.17584
1        1.17594
2        1.17633
3        1.17621
4        1.17636
...          ...
1435     1.17380
1436     1.17395
1437     1.17409
1438     1.17374
1439     1.17380

[1440 rows x 1 columns]
          day_15
row_num
0        1.17367
1        1.17342
2        1.17323
3        1.17324
4        1.17383
...          ...
1435     1.15861
1436     1.15830
1437     1.15802
1438     1.15748
1439     1.15748

[1440 rows x 1 columns]
          day_14
row_num
0        1.15779
1        1.15780
2        1.15763
3        1.15670
4        1.15673
...          ...
1435     1.15667
1436     1.15630
1437     1.15612
1438     1.15621
1439     1.15602

[1440 rows x 1 columns]
          day_13
row_num
0        1.15584
1        1.15578
2        1.15582
3        1.15576
4        1.15556
...          ...
1435     1.15887
1436     1.15894
1437     1.15892
1438     1.15906
1439     1.15938

[1440 rows x 1 columns]
          day_12
row_num
0        1.15901
1        1.15932
2        1.15945
3        1.15928
4        1.15911
...          ...
1435     1.16436
1436     1.16425
1437     1.16416
1438     1.16406
1439     1.16360

[1440 rows x 1 columns]
          day_11
row_num
0        1.16382
1        1.16375
2        1.16361
3        1.16367
4        1.16360
...          ...
1435     1.16841
1436     1.16804
1437     1.16779
1438     1.16813
1439     1.16828

[1440 rows x 1 columns]
          day_10
row_num
0        1.16841
1        1.16866
2        1.16879
3        1.16862
4        1.16801
...          ...
1435     1.15437
1436     1.15459
1437     1.15478
1438     1.15507
1439     1.15487

[1440 rows x 1 columns]
           day_9
row_num
0        1.15482
1        1.15475
2        1.15464
3        1.15470
4        1.15470
...          ...
1435     1.14477
1436     1.14485
1437     1.14481
1438     1.14491
1439     1.14488

[1440 rows x 1 columns]
           day_8
row_num
0        1.14506
1        1.14500
2        1.14515
3        1.14510
4        1.14490
...          ...
1435     1.13737
1436     1.13695
1437     1.13689
1438     1.13690
1439     1.13688

[1440 rows x 1 columns]
           day_7
row_num
0        1.13687
1        1.13685
2        1.13674
3        1.13675
4        1.13694
...          ...
1435     1.12061
1436     1.12064
1437     1.12075
1438     1.12081
1439     1.12075

[1440 rows x 1 columns]
           day_6
row_num
0        1.12080
1        1.12090
2        1.12069
3        1.12086
4        1.12076
...          ...
1435     1.13017
1436     1.13038
1437     1.13025
1438     1.13027
1439     1.13020

[1440 rows x 1 columns]
           day_5
row_num
0        1.13029
1        1.13039
2        1.13069
3        1.13075
4        1.13065
...          ...
1435     1.12895
1436     1.12895
1437     1.12907
1438     1.12907
1439     1.12925

[1440 rows x 1 columns]
           day_4
row_num
0        1.12934
1        1.12929
2        1.12935
3        1.12923
4        1.12914
...          ...
1435     1.13173
1436     1.13193
1437     1.13213
1438     1.13198
1439     1.13207

[1440 rows x 1 columns]
           day_3
row_num
0        1.13213
1        1.13201
2        1.13197
3        1.13199
4        1.13211
...          ...
1435     1.13322
1436     1.13309
1437     1.13300
1438     1.13311
1439     1.13287

[1440 rows x 1 columns]
           day_2
row_num
0        1.13287
1        1.13287
2        1.13294
3        1.13298
4        1.13312
...          ...
1435     1.13243
1436     1.13252
1437     1.13239
1438     1.13256
1439     1.13205

[1440 rows x 1 columns]
           day_1
row_num
0        1.13204
1        1.13195
2        1.13199
3        1.13206
4        1.13198
...          ...
1435     1.12941
1436     1.12941
1437     1.12941
1438     1.12937
1439     1.12956

[1440 rows x 1 columns]

In [28]:
#return index to int
df_backtest_idx.reset_index(inplace=True)

In [29]:
df_backtest_idx

       index            date_time        5
0     446759  2021.12.31 00:05:00  1.13204
1     446760  2021.12.31 00:10:00  1.13195
2     446761  2021.12.31 00:15:00  1.13199
3     446762  2021.12.31 00:20:00  1.13206
4     446763  2021.12.31 00:25:00  1.13198
...      ...                  ...      ...
1435  448194  2022.01.07 00:40:00  1.12941
1436  448195  2022.01.07 00:45:00  1.12941
1437  448196  2022.01.07 00:50:00  1.12941
1438  448197  2022.01.07 00:55:00  1.12937
1439  448198  2022.01.07 01:00:00  1.12956

[1440 rows x 3 columns]

In [30]:
date_time = pd.DataFrame(data=df_backtest_idx.date_time)

In [31]:
pd.to_datetime(date_time.date_time)

0      2021-12-31 00:05:00
1      2021-12-31 00:10:00
2      2021-12-31 00:15:00
3      2021-12-31 00:20:00
4      2021-12-31 00:25:00
               ...
1435   2022-01-07 00:40:00
1436   2022-01-07 00:45:00
1437   2022-01-07 00:50:00
1438   2022-01-07 00:55:00
1439   2022-01-07 01:00:00
Name: date_time, Length: 1440, dtype: datetime64[ns]

In [32]:
df_train = pd.concat([date_time,df240,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
##include date time at column 0,1##

df_train = pd.DataFrame(data=df_train)
df_train.set_index('date_time',inplace=True)
df_train

                     day_240  day_239  day_238  ...    day_3    day_2    day_1
date_time                                       ...
2021.12.31 00:05:00  1.08714  1.10827  1.11809  ...  1.13213  1.13287  1.13204
2021.12.31 00:10:00  1.08733  1.10829  1.11815  ...  1.13201  1.13287  1.13195
2021.12.31 00:15:00  1.08714  1.10821  1.11803  ...  1.13197  1.13294  1.13199
2021.12.31 00:20:00  1.08744  1.10825  1.11805  ...  1.13199  1.13298  1.13206
2021.12.31 00:25:00  1.08743  1.10830  1.11807  ...  1.13211  1.13312  1.13198
...                      ...      ...      ...  ...      ...      ...      ...
2022.01.07 00:40:00  1.10825  1.11825  1.11855  ...  1.13322  1.13243  1.12941
2022.01.07 00:45:00  1.10837  1.11823  1.11875  ...  1.13309  1.13252  1.12941
2022.01.07 00:50:00  1.10813  1.11834  1.11880  ...  1.13300  1.13239  1.12941
2022.01.07 00:55:00  1.10845  1.11827  1.11877  ...  1.13311  1.13256  1.12937
2022.01.07 01:00:00  1.10822  1.11817  1.11873  ...  1.13287  1.13205  1.12956

[1440 rows x 240 columns]

In [33]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [34]:
df_test = pd.concat([
                     date_time,df239,df238,df237,df236,df235,df234,df233,df232,df231,df230,df229,df228,df227,df226,df225,df224,df223,df222,df221,df220,df219,df218,df217,df216,df215,df214,df213,df212,df211,df210,df209,df208,df207,df206,df205,df204,df203,df202,df201,
                     df200,df199,df198,df197,df196,df195,df194,df193,df192,df191,df190,df189,df188,df187,df186,df185,df184,df183,df182,df181,df180,df179,df178,df177,df176,df175,df174,df173,df172,df171,df170,df169,df168,df167,df166,df165,df164,df163,df162,df161,
                     df160,df159,df158,df157,df156,df155,df154,df153,df152,df151,df150,df149,df148,df147,df146,df145,df144,df143,df142,df141,df140,df139,df138,df137,df136,df135,df134,df133,df132,df131,df130,df129,df128,df127,df126,df125,df124,df123,df122,df121,
                     df120,df119,df118,df117,df116,df115,df114,df113,df112,df111,df110,df109,df108,df107,df106,df105,df104,df103,df102,df101,df100,df99,df98,df97,df96,df95,df94,df93,df92,df91,df90,df89,df88,df87,df86,df85,df84,df83,df82,df81,
                     df80,df79,df78,df77,df76,df75,df74,df73,df72,df71,df70,df69,df68,df67,df66,df65,df64,df63,df62,df61,df60,df59,df58,df57,df56,df55,df54,df53,df52,df51,df50,df49,df48,df47,df46,df45,df44,df43,df42,df41,
                     df40,df39,df38,df37,df36,df35,df34,df33,df32,df31,df30,df29,df28,df27,df26,df25,df24,df23,df22,df21,df20,df19,df18,df17,df16,df15,df14,df13,df12,df11,df10,df9,df8,df7,df6,df5,df4,df3,df2,df1], axis=1)
df_test['pred_col'] =0
df_test.rename(columns={
                        'day_239':'day_240','day_238':'day_239','day_237':'day_238','day_236':'day_237','day_235':'day_236','day_234':'day_235','day_233':'day_234','day_232':'day_233','day_231':'day_232','day_230':'day_231','day_229':'day_230','day_228':'day_229','day_227':'day_228','day_226':'day_227','day_225':'day_226','day_224':'day_225','day_223':'day_224','day_222':'day_223','day_221':'day_222','day_220':'day_221','day_219':'day_220','day_218':'day_219','day_217':'day_218','day_216':'day_217','day_215':'day_216','day_214':'day_215','day_213':'day_214','day_212':'day_213','day_211':'day_212','day_210':'day_211','day_209':'day_210','day_208':'day_209','day_207':'day_208','day_206':'day_207','day_205':'day_206','day_204':'day_205','day_203': 'day_204','day_202':'day_203','day_201':'day_202','day_200':'day_201',
                        'day_199':'day_200','day_198':'day_199','day_197':'day_198','day_196':'day_197','day_195':'day_196','day_194':'day_195','day_193':'day_194','day_192':'day_193','day_191':'day_192','day_190':'day_191','day_189':'day_190','day_188':'day_189','day_187':'day_188','day_186':'day_187','day_185':'day_186','day_184':'day_185','day_183':'day_184','day_182':'day_183','day_181':'day_182','day_180':'day_181','day_179':'day_180','day_178':'day_179','day_177':'day_178','day_176':'day_177','day_175':'day_176','day_174':'day_175','day_173':'day_174','day_172':'day_173','day_171':'day_172','day_170':'day_171','day_169':'day_170','day_168':'day_169','day_167':'day_168','day_166':'day_167','day_165':'day_166','day_164':'day_165','day_163': 'day_164', 'day_162': 'day_163','day_161':'day_162','day_160':'day_161',
                        'day_159':'day_160','day_158':'day_159','day_157':'day_158','day_156':'day_157','day_155':'day_156','day_154':'day_155','day_153':'day_154','day_152':'day_153','day_151':'day_152','day_150':'day_151','day_149':'day_150','day_148':'day_149','day_147':'day_148','day_146':'day_147','day_145':'day_146','day_144':'day_145','day_143':'day_144','day_142':'day_143','day_141':'day_142','day_140':'day_141','day_139':'day_140','day_138':'day_139','day_137':'day_138','day_136':'day_137','day_135':'day_136','day_134':'day_135','day_133':'day_134','day_132':'day_133','day_131':'day_132','day_130':'day_131','day_129':'day_130','day_128':'day_129','day_127':'day_128','day_126':'day_127','day_125':'day_126','day_124':'day_125','day_123': 'day_124', 'day_122': 'day_123','day_121':'day_122','day_120':'day_121',
                        'day_119':'day_120','day_118':'day_119','day_117':'day_118','day_116':'day_117','day_115':'day_116','day_114':'day_115','day_113':'day_114','day_112':'day_113','day_111':'day_112','day_110':'day_111','day_109':'day_110','day_108':'day_109','day_107':'day_108','day_106':'day_107','day_105':'day_106','day_104':'day_105','day_103':'day_104','day_102':'day_103','day_101':'day_102','day_100':'day_101','day_99':'day_100','day_98':'day_99','day_97':'day_98','day_96':'day_97','day_95':'day_96','day_94':'day_95','day_93':'day_94','day_92':'day_93','day_91':'day_92','day_90':'day_91','day_89':'day_90','day_88':'day_89','day_87':'day_88','day_86':'day_87','day_85':'day_86','day_84':'day_85','day_83': 'day_84','day_82':'day_83','day_81':'day_82','day_80':'day_81',
                        'day_79':'day_80','day_78':'day_79','day_77':'day_78','day_76':'day_77','day_75':'day_76','day_74':'day_75','day_73':'day_74','day_72':'day_73','day_71':'day_72','day_70':'day_71','day_69':'day_70','day_68':'day_69','day_67':'day_68','day_66':'day_67','day_65':'day_66','day_64':'day_65','day_63':'day_64','day_62':'day_63','day_61':'day_62','day_60':'day_61','day_59':'day_60','day_58':'day_59','day_57':'day_58','day_56':'day_57','day_55':'day_56','day_54':'day_55','day_53':'day_54','day_52':'day_53','day_51':'day_52','day_50':'day_51','day_49':'day_50','day_48':'day_49','day_47':'day_48','day_46':'day_47','day_45':'day_46','day_44':'day_45','day_43': 'day_44', 'day_42': 'day_43','day_41':'day_42','day_40':'day_41',
                        'day_39':'day_40','day_38':'day_39','day_37':'day_38','day_36':'day_37','day_35':'day_36','day_34':'day_35','day_33':'day_34','day_32':'day_33','day_31':'day_32','day_30':'day_31','day_29':'day_30','day_28':'day_29','day_27':'day_28','day_26':'day_27','day_25':'day_26','day_24':'day_25','day_23':'day_24','day_22':'day_23','day_21':'day_22','day_20':'day_21','day_19':'day_20','day_18':'day_19','day_17':'day_18','day_16':'day_17','day_15':'day_16','day_14':'day_15','day_13':'day_14','day_12':'day_13','day_11':'day_12','day_10':'day_11','day_9':'day_10','day_8':'day_9','day_7':'day_8','day_6':'day_7','day_5':'day_6','day_4':'day_5','day_3': 'day_4', 'day_2': 'day_3','day_1':'day_2','pred_col':'day_1'}, inplace=True)
df_test = pd.DataFrame(data=df_test)
df_test.set_index('date_time',inplace=True)
df_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

                     day_240  day_239  day_238  ...    day_3    day_2  day_1
date_time                                       ...
2021.12.31 00:05:00  1.10827  1.11809  1.11864  ...  1.13287  1.13204      0
2021.12.31 00:10:00  1.10829  1.11815  1.11861  ...  1.13287  1.13195      0
2021.12.31 00:15:00  1.10821  1.11803  1.11854  ...  1.13294  1.13199      0
2021.12.31 00:20:00  1.10825  1.11805  1.11793  ...  1.13298  1.13206      0
2021.12.31 00:25:00  1.10830  1.11807  1.11835  ...  1.13312  1.13198      0
...                      ...      ...      ...  ...      ...      ...    ...
2022.01.07 00:40:00  1.11825  1.11855  1.12763  ...  1.13243  1.12941      0
2022.01.07 00:45:00  1.11823  1.11875  1.12769  ...  1.13252  1.12941      0
2022.01.07 00:50:00  1.11834  1.11880  1.12782  ...  1.13239  1.12941      0
2022.01.07 00:55:00  1.11827  1.11877  1.12784  ...  1.13256  1.12937      0
2022.01.07 01:00:00  1.11817  1.11873  1.12773  ...  1.13205  1.12956      0

[1440 rows x 240 columns]

In [35]:
df_train.isnull().sum()

day_240    0
day_239    0
day_238    0
day_237    0
day_236    0
          ..
day_5      0
day_4      0
day_3      0
day_2      0
day_1      0
Length: 240, dtype: int64

In [36]:
for col in df_test.columns:
    print(col)

day_240
day_239
day_238
day_237
day_236
day_235
day_234
day_233
day_232
day_231
day_230
day_229
day_228
day_227
day_226
day_225
day_224
day_223
day_222
day_221
day_220
day_219
day_218
day_217
day_216
day_215
day_214
day_213
day_212
day_211
day_210
day_209
day_208
day_207
day_206
day_205
day_204
day_203
day_202
day_201
day_200
day_199
day_198
day_197
day_196
day_195
day_194
day_193
day_192
day_191
day_190
day_189
day_188
day_187
day_186
day_185
day_184
day_183
day_182
day_181
day_180
day_179
day_178
day_177
day_176
day_175
day_174
day_173
day_172
day_171
day_170
day_169
day_168
day_167
day_166
day_165
day_164
day_163
day_162
day_161
day_160
day_159
day_158
day_157
day_156
day_155
day_154
day_153
day_152
day_151
day_150
day_149
day_148
day_147
day_146
day_145
day_144
day_143
day_142
day_141
day_140
day_139
day_138
day_137
day_136
day_135
day_134
day_133
day_132
day_131
day_130
day_129
day_128
day_127
day_126
day_125
day_124
day_123
day_122
day_121
day_120
day_119
day_118
day_117
day_116
day_115
day_114
day_113
day_112
day_111
day_110
day_109
day_108
day_107
day_106
day_105
day_104
day_103
day_102
day_101
day_100
day_99
day_98
day_97
day_96
day_95
day_94
day_93
day_92
day_91
day_90
day_89
day_88
day_87
day_86
day_85
day_84
day_83
day_82
day_81
day_80
day_79
day_78
day_77
day_76
day_75
day_74
day_73
day_72
day_71
day_70
day_69
day_68
day_67
day_66
day_65
day_64
day_63
day_62
day_61
day_60
day_59
day_58
day_57
day_56
day_55
day_54
day_53
day_52
day_51
day_50
day_49
day_48
day_47
day_46
day_45
day_44
day_43
day_42
day_41
day_40
day_39
day_38
day_37
day_36
day_35
day_34
day_33
day_32
day_31
day_30
day_29
day_28
day_27
day_26
day_25
day_24
day_23
day_22
day_21
day_20
day_19
day_18
day_17
day_16
day_15
day_14
day_13
day_12
day_11
day_10
day_9
day_8
day_7
day_6
day_5
day_4
day_3
day_2
day_1

In [37]:
#predict new interval
label_new_interval = 'day_1' #this is any interval wishing to be predicted, not just 1 day.
print("Summary of class variable: \n", df_train[label_new_interval].describe())

Summary of class variable:
 count    1440.000000
mean        1.131544
std         0.002594
min         1.127290
25%         1.129548
50%         1.130970
75%         1.133012
max         1.138600
Name: day_1, dtype: float64

In [38]:
#HPO
import autogluon.core as ag

# nn_options = {  # specifies non-default hyperparameter values for neural network models
#     'num_epochs': 10,  # number of training epochs (controls training time of NN models)
#     'learning_rate': ag.space.Real(1e-4, 1e-2, default=5e-4, log=True),  # learning rate used in training (real-valued hyperparameter searched on log-scale)
#     'activation': ag.space.Categorical('relu', 'softrelu', 'tanh'),  # activation function used in NN (categorical hyperparameter, default = first entry)
#     'dropout_prob': ag.space.Real(0.0, 0.5, default=0.1),  # dropout probability (real-valued hyperparameter)
# }
# # gbm_options = {  # specifies non-default hyperparameter values for lightGBM gradient boosted trees
# #     'num_boost_round': 1000,  # number of boosting rounds (controls training time of GBM models)
# #     'num_leaves': ag.space.Int(lower=26, upper=66, default=36),  # number of leaves in trees (integer hyperparameter)
# # }

# hyperparameters = {  # hyperparameters of each model type
#                   #  'XGB': gbm_options,
#                    'NN': nn_options,  # NOTE: comment this line out if you get errors on Mac OSX
#                   } 
# time_limit = 2*60  # train various models for ~2 min
# num_trials = 10  # try at most 5 different hyperparameter configurations for each type of model
# search_strategy = 'bayesopt'  # to tune hyperparameters using bayesian optimisation search routine with a local scheduler

# hyperparameter_tune_kwargs = {  # HPO is not performed unless hyperparameter_tune_kwargs is specified
#     'num_trials': num_trials,
#     'scheduler' : 'local',
#     'searcher': search_strategy,
# }
#predict new interval
save_path='ag_predict_interval'
predictor = TabularPredictor(label=label_new_interval, path=save_path)
#predictor.fit(df_train, hyperparameters=hyperparameters, hyperparameter_tune_kwargs=hyperparameter_tune_kwargs)
predictor.fit(df_train, hyperparameters={'XGB':{}}, presets='optimize_for_deployment')
#predictor.fit(df_train)

Warning: path already exists! This predictor may overwrite an existing predictor! path="ag_predict_interval"
Presets specified: ['optimize_for_deployment']
Beginning AutoGluon training ...
AutoGluon will save models to "ag_predict_interval/"
AutoGluon Version:  0.3.1
Train Data Rows:    1440
Train Data Columns: 239
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and many unique label-values observed).
	Label info (max, min, mean, stddev): (1.1386, 1.12729, 1.13154, 0.00259)
	If 'regression' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11502.45 MB
	Train Data (Original)  Memory Usage: 2.75 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 239 | ['day_240', 'day_239', 'day_238', 'day_237', 'day_236', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 239 | ['day_240', 'day_239', 'day_238', 'day_237', 'day_236', ...]
	1.0s = Fit runtime
	239 features in original data used to generate 239 features in processed data.
	Train Data (Processed) Memory Usage: 2.75 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 1.18s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	To change this, specify the eval_metric argument of fit()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 1152, Val Rows: 288
Fitting 1 L1 models ...
Fitting model: XGBoost ...
	-0.0004	 = Validation score   (root_mean_squared_error)
	15.48s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-0.0004	 = Validation score   (root_mean_squared_error)
	0.0s	 = Training   runtime
	0.01s	 = Validation runtime
AutoGluon training complete, total runtime = 16.89s ...
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("ag_predict_interval/")

In [39]:
#predictor.feature_importance(data=df_train)

In [ ]:
#predict close
test_data = TabularDataset(df_test)
y_test = df_test[label_new_interval]
test_data_nolab = df_test.drop(columns=[label_new_interval])
test_data_nolab

In [ ]:
#predict new interval
predictor = TabularPredictor.load(save_path)
y_pred = predictor.predict(test_data_nolab)
print("Predictions: \n", y_pred)
perf = predictor.evaluate_predictions(y_true = y_test, y_pred = y_pred, auxiliary_metrics=True)

In [ ]:
#never mind the y,x axis scaling. I need to fix it. I'm looking at the shape of the forecast.
import matplotlib as mpl
mpl.rcParams['savefig.dpi'] = 120

ax = y_pred.plot(figsize = (16, 10))

In [ ]:
#contrast leaderboard result of train and test data
predictor.leaderboard(df_train, silent=True)

In [ ]:
# predictor.unpersist_models('ag_predict_interval')
# predictor.save_space()
# predictor.delete_models(models_to_keep='best', dry_run=False)
%rm -rf agModels-predict_day1
!ls